extends ./template.jade
block content
  h1.center Volume 1 : Chapter 1
  br
  :markdown
    The streets of Shinjuku city was filled with people.

    Whether it was at noon or during workdays, the crowd has never thinned before. People attracted by the spring air outside makes me feel that they are like insects.

    However, I don't think I have the right to say anything because I'm right here at the moment. Hey, don't hold hands and walk in this crowd, the couple over there! It's unbearable! Even though this is a completely unreasonable rant on my part! I'm so sorry! It makes me so envious! Damn it! These are not tears, it's just some pollen in my eyes!

    Besides the couples, the streets were also filled with people who were dressed in interesting fashion, or people who acted in an incredulous way. Unconsciously, I began to develop a habit of ranting at these people. I think people who are born and bred in Tokyo would have the same feelings as me.

    People like me, could perhaps be described as modern Edo disciple. A bold fanatic, or a slow witted log, or in the end, your brain has completely rusted! ... Even though I think I will never let these thoughts be voiced out anyway.

    While I was ranting in my head while walking on the streets like normal, I heard a sound.

    I raised my head up as though possessed. The huge ALTA LED screen filled my front vision. The screen was displaying an advertisement for some carbonated drinks company. Colorful animations flew across the screens, making it interesting enough to catch the attention of the crowd.

    However, there is another thing in the advertisement that would have captivated the audience.

    The narration.

    Even though it might just be my personal opinion, but the narrator pronounced each word clearly, in addition to having a soothing intonation. The voice was able to penetrate our body completely, while caressing our outer skin softly, giving one the impression of two conflicting feelings.

    The narrator's voice reverberated in the city, reflected by the skyscrapers, creating the special effect of surround sound around me.

    The advertisement did not display the name of the narrator but I know who that voice belonged to anyway.

    It could be said that, whenever one hears this voice, no matter the person, would think that, "hey, didn't I hear this voice before?". After all, she had also taken the role of Japanese dubbing of Hollywood female actors.

    If I were to say her name, it would probably be hard to find a person that have not heard of it. This was because Otonashi Minamotofutoshi, the famous actor of the century, was her father.

    There was probably no one who did not recognize this man. At that time, many people flocked to become actors because of his influence.

    However, this idolized actor succumbed to death by a disease.

    I was still a child when he was active in the acting profession, so I was not really familiar with him. However, watching his previous works on screen made me felt that he was truly a great man.

    But I digress. This year seems to be the thirteenth year of his passing. Various movies and programs were aired on television in memory of Mr Otonashi.

    If the daughter of such a distinguished actor were to debut, it was impossible for the media to ignore such a huge news. Madoka Otonashi, the child star turned into an overnight sensation. However, as she was still a child, and also since her father died before she had any conscious memory of it, so she did not remember anything about it. I saw her answer that way in an interview from some magazine. I remember that the interview also stated that even though Miss Otonashi did not want bask in her father's light, the current situation does not allow for it. I think that was unavoidable.

    However, unconsciously captivated by the advertisement...no, captivated by Miss Otonashi's voice, my auditory senses was disrupted by the surrounding noise.

    I focused my hearing on the advertisement, trying to move my eyes.

    A car moved sluggishly in the middle of the road, causing cars behind it to press their horns loudly.

    Ugh, why is it moving so slow, I can't hear Miss Otonashi's voice like that, can I? Move it, man.

    Ah, right. Maybe the driver of that car was also captivated by this voice.

    It feels just like the sirens from the Greek myths.

    "..............."

    I feel somebody pulling my hand. Am I really going to be pulled into the sea? Yeah, right.

    As I was focused on the screen, while my line of sight was on the road, so I realized a moment too late that my hand was grabbed by someone.

    Against my will, I focus my senses on the direction I was being pulled to.

    There was a girl there. Boy meets girl. Even though the person probably wasn't at the age of a girl. Wearing a dress that placed more importance on mobility than appearance, she pulled my hand desperately.

    "Found you! Please come with me!"

    `"Er...what?"

    What the heck was she saying?

    She pulled my hand, trying to bring me somewhere. Even though I tried to resist slightly, her strength was unexpectedly strong so I could only allow myself to be pulled by her.

    "Everybody is waiting for you, you know!"

    `"Please wait a moment! Who the heck is everybody!"

    I was gradually pulled into the crowd.

    Ah, unknowingly, like all the couples around me, I was also walking hand-in-hand with someone of the opposite gender at my age. However, what would others think of this? This didn't seem like a couple, did it?

    Finally, I reached this place.

    The room that looked like a recording studio, and the space with my goddess.

    It was so strange. This is obviously strange. It is impossible for cause and effect to work like that. Something else must have happened and I have forgotten about it. This is because based on my memory, I can not fathom why this situation would happen. The pieces don't match. Let me try remembering the whole thing again.

    When I was going for a stroll on the streets, Miss Otonashi appeared.

    No, that would have simplified too much.

    Alright, that would be the end of my recollection. Thinking more of it will not make my predicament any clearer anyway!

    Like when I stopped thinking when I don't know the answer during a computer reading exam, the meeting outside seemed to have reached their conclusion too.

    A bearded man, who seemed to be the most important person here, walked into the compartment.

    The heavy door opened with a cracking sound. If somebody's fingers got clamped by those doors, their bones would have cracked.

    Bring it on! Please explain why I must record this broadcast!

    "Er, first let me apologize to you."

    `"Er...yeah."

    My raging battle spirit to rant was suddenly calmed by the man before me. Was this some kind of customary method? You don't even have to pay for giving an apology! If everything can be solved by an apology what use are the police for! However, if you give me an autograph from Miss Otonashi I might give it some thought!

    "Our staff seem to have mistaken you for someone else."

    The woman who pulled me here just now was bowing and apologizing to me profusely. If everything can be solved by an apology what use are police for! However, if you give me ...... let's skip this part.

    "Actually, the broadcast program hosts was supposed to be the author of the original work and Miss Otonashi. However, as there was a huge reluctance on the author's part, him not entering the recording studio at all, so I sent her to invite him here."

    `"After that, somehow I got mistaken as the author."

    "That's right."

    Oh, come to think of it, since his job was not to talk, so it is no wonder that the author would reject it. Hey wait a minute, even it's like that, you can't possibly get the person wrong!

    "Nice to meet you, I'm Yota Yosaku."

    The next person to show up, was the original author of the 'The Law of Boyle - Sharuru' !

    Also incidentally the original host of the broadcast program.

    Woah! I'm your fan, you know! I can't believe that we would meet in a situation like this!

    Furthermore, the author was apologizing to me.

    "Please accept my apology. I heard that the staff have mistaken you for me."

    "No, you don't have to put it like that. Uh, I've also gotten some valuable experience too......"

    Of course, this was just something said on occasion.

    No matter how you look at it, I don't even remotely look like the author anyway. Even though our clothes do look somewhat the same. Did you buy yours at a popular retail store, author sensei? You're a plebeian at heart, eh? Even with all the money from your books!

    "Hearing you say that makes me feel much relieved......right, after apologizing, there's something else that I have to request you to help me in."

    Eh? I have a premonition that something bad is going to happen.

    Don't say anything else! I think it's better if I don't hear anything else you say!

    "Would you mind taking over the role of the broadcast program host for me?"

    I just knew it!

    "Sensei!"

    Another staff rushed here the moment he heard our conversation. I think he should be the executive editor for the program. It was natural for him to be shocked. Since I am an outsider and all!

    "Isn't this better than having me who have this reluctant attitude be the host? Anyway, having an outsider take on the role of the broadcast program host does inject some degree of freshness into the show, don't you think so too?"

    "That's too much of freshness like that! To the extent of completely not understandable! Also, he's a student too. How do you expect him to meet the recording schedule?"

    "Isn't Miss Otonashi a student too?"

    "No, um, yeah that's right."

    "Well then, the recording must be done during the weekends right? Then there's no problem with this arrangement anymore."

    Yuto sensei tried using a high handed attitude to force a compromise with the editor.

    "Have you read 'The Law of Boyle - Sharuru'? "

    While I was thinking, Yuto Sensei suddenly ignored the panicking executive editor and asked me a question!

    `"Er, yeah, yes I did."

    My chaotic situation has not calmed down in any way.

    The current situation at the recording studio left me clueless already, then Miss Otonashi appeared and now even the original author of the light novels is here. Under the many layers of chaos, I don't I will ever recover unless someone give me a heavy punch.

    "Then that's it then!"

    "Wait a minute!"

    Wait, wait, wait!

    "May I know your name?"

    Sensei once again ignored the shouts of the executive editor. Sensei, are you serious?

    `"......I'm Tsunemura Ryouto."

    "Ryouto, please help me out and accept this job."

    Sensei grasped my shoulders with both of his hands and asked me to accept this ridiculous request with a serious-looking face brimming with confidence. Has this man's rational thinking also went under? However I'm so terrified that I'm unable to give him the punch he needed to wake up anyway.

    Aaargh, how do I reject the sensei that I worship so much when he is asking with such sincerity.

    `"Er......but I......"

    "Don't worry, you can do it."

    Where did you get your confidence from anyway!

    "Alright, then, why don't we do it this way. I'll pay you for it."

    I'm being bribed!

    "You can chat with a seiyuu, you know!"

    That's too much of a temptation!

    All the staff and the executive editor on scene was giving off a aura of "Sensei, you're kidding right......"

    However, once the atmosphere in the room has changed like that, every staff's face turned to that of realization.

    Everybody! Seriously?!

    "You won't mind accepting it, right?"

    `"No, but I think I'll just..."

    "You won't mind accepting it, right?"

    `"Well, this......um......"

    Sensei's hands are gripping my shoulders nervously!

    "You won't mind......accepting it, right?"

    `"............Yes. Yes, I don't mind."

    I lost!

    I nodded in affirmation!

    "Sensei, are you serious?"

    After I gave my consent, the executive editor seemed to be much willing to compromise.

    "......Understood. That's it then! Let's try recording once. We were going to continue the recording from before anyway. If the end result isn't any interesting, then we will have sensei do it himself."

    The person who provided this plan, was the guy with the beard just now. Perhaps he was the producer or someone like that.

    Everybody else agreed to his plan.

  .center
    img(src="img/Aitsuko1_006.jpg")
  :markdown
    No, wait. The one who would have the most problems with this, should be the one who would be co-hosting the program, Miss Otonashi. right? I don't have the ability to spin tales from air, you know!

    Meanwhile, Miss Otonashi's reaction was......

    "I'm completely OK with that, you know!"

    That's just rash! Is this even fine!

    Miss Otonashi gave me a smile in return when our eyes crossed.

    Most of the staff left the compartment after that. Is it really going to start? Are we really going to do it like that!

    "Tsk. Since the author of the original work also said it, then I guess it can't be helped......"

    Eh?

    Was that my imagination? The moment when we passed each other, I seemed to have heard a voice from Miss Otonashi's direction.

    I was left alone with Miss Otonashi in the compartment. After that, the man, who have been giving me instructions just now, walked in. He gave me the script and explained all the details. However, my brain was unable to absorb any bit of it.

    A man on the other side of the glass window used both his hands to give an "OK" sign. There was also the producer with a serious face, his arms folded over his chest, Yuto Sensei, his face all smiles, and the executive editor, whose vision was locked onto me.

    There was also a woman who was wearing a suit. Her face wore a gentle smile.

    Everybody was in their place. Everything was ready.

    But then...Am I ready?

    Putting on the headphones again, I heard somebody speak.

    "Well then, let's pick up where we left off just now!"

    "Alright, after calming down a bit, would you mind giving us a self introduction?"

    `"Eh? Oh, okay. I am, um, my name is......"

    Right, the staff did remind me not to give out my real name here, so it was better to use another name, but about the name......what should I use instead?

    `"Er, I'm called Murabito. " (Note: the original name was 常村良人, Tsunemura Ryouto, here he took the name, Murabito, 村人, which has the meaning of villager.)

    "A completely inconspicuous supporting character!"

    `"Ah, sorry, it's Murabito B." (Note: Villager B)

    "There's even a 'B'!"

    I can't believe Miss Otonashi was actually surprised! I think this is the perfect alias for me, you know!

    When I gave Miss Otonashi a stare, she said, "Alright, then I'll just call you Murabito then!" Actually she did not have to confirm it with me, but I guess she was following formalities. As for ignoring the "B", I think it's not easy to pronounce it with Murabito.

    `"......"

    "Eh, that's it for your introduction?"

    Right, we're still recording a broadcast program so I can't be silent.

    `"Er, should I say something more? What......what should I say then......"

    "As the revelation of your real identity is one of our future plans, so we'll just save it for later.....Um~you seem to have nearly the same age as me, right?"

    Actually it's not just nearly, but our age is the same. A high school boy who was strolling the streets aimlessly, and a seiyuu who was working even during her holidays. Hahaha, it really felt like we were of different ages.

    `"I've always felt that Miss Otonashi was quite mature."

    "What? Are you trying to tell me that I look old for my age?"

    Eh? No! Ah, right, I must voice out my thoughts here!

    `"It's not like that! I meant that you looked steady!"

    "Oh~I shall take this as a compliment then!"

    The show has barely started and I have put her in a bad mood! So it's true that I'm not cut out to be a program host then?

    However, I can't go on without speaking, right? As I cannot think of anything else to say, so I just said what I had in mind at the time.

    `"Um, I don't really know what to say and what not to say."

    "Don't worry, don't worry! Just speak your mind! If I had to worry about these small things too much, I wouldn't last long in this career anyway."

    Quick, say something! Anything, just say something, me!

    `"That's just too unrestricted! Are you planning to retire from the seiyuu career today?!"

    Oh gosh, I unknowingly began to rant at her.

    Waaah, Miss Otonashi is staring at me now. There was some kind of killing intent in those eyes. Well, I did say something like that before. Did...Did I make her angry?

    "......Um, well then, since this is really my first meeting with you, Murabito, so may I ask you a few questions?"

    `"Ah...Um..."

    Miss Otonashi immediately threw a question at me.

    Wasn't she angry?

    Is she really okay?

    "Ah, that's not really right, Murabito. The only content in the broadcast program is our voice so you should have more vigor!"

    Oh, oh. Yeah, that's right. As Miss Otonashi has said, there was no video in a broadcast program so we can't show any gestures or facial expression to the audience.

    Well, then, I should buck up and continue the recording with renewed vigor! Also known as completely losing myself in the show!

    `"Understood! I'll double my efforts!"

    "I'll ask my questions then."

    `"Yeah!"

    "Uh......Murabito......"

    `"Yes, what is it! Ask as you please!"

    "Um......about that......"

    `"I'll answer any question you ask!"

    "Um...It's very noisy when you do that, so can you please tone down a little?"

    `"Sorry....."

    This was ridiculous......

    If there was no noise during the program, it would be a catastrophe, so that's why I'm trying my best to talk! That's the only thing I could do as an outsider!

    "Well, then, let's start the whole thing over......Where do you normally hide your adult books?"

    `"Why would you suddenly want me to expose my secrets anyway!"

    "Wasn't you the one who said you would answer any question I ask?"

    Dammit! I dug my own grave without knowing about it! If only there were a hole that I could hide in! Ah, did I just dig one just now? I really wanted to hide in it!

    `"I want to request a change in the content of the question!"

    "Jeez, I really can't stand you. I'll ask something else then......You have hidden the adult books under your bed, right?"

    `"There's no difference! The overall direction this question is heading didn't change at all! Also, why does the question always have to be about my adult book collection!"

    "Don't you worry about it, Murabito. I have learned everything to know about healthy high school boys beforehand."

    `"What did you learn anyway!"

    "Healthy high school boys should have something like baseball gloves or footballs, right?"

    `"Oh, yeah, that's right. I do have those things."

    "Healthy high school boys should have some manga in their collections, right?"

    `"Of course. I read manga a lot."

    "Healthy high school boys should have some high school girl bondage manga, right?"

    `"Of course. The sailor uniform and the school swim suit is the perfect...wait a minute, aaarrgggh! These aren't stuff a healthy high school boy should have!"

    "Eh? Then, the content should be more of maid bondage, right?"

    `"It should come with cat ears, I think?"

    "Of course. A tail should also be included in the basic setting."

    `"Yeah! That is a must! Hey, no that's not it! I don't have those kind of stuff!"

    "Hiding it is pointless. I know everything about high school boys, you know."

    `"Your knowledge is just too twisted! Putting the topic on adult books aside, can you please ask the next question!"

    I was completely wound around her fingers like a puppet, dammit! Even though I was extremely jittery at the moment, but after it came down to ranting after her messing around, it was still a little embarrassing!

    Does that mean that Miss Otonashi knows the existence of such books......she wouldn't ask about it if she didn't knew anything about it, would she?

    "Um, well then, since I haven't really thought of anything special to ask, would you mind talking a little more about yourself?"

    `"Are you only interested in where I hide my adult books!"

    "If you do a little self introduction, I would be able to ask some questions from the content."

    Oh~So that's her real consideration. What should I do?

    I don't really put much thought into myself.

    Thinking thoroughly, even though I would normally chat a little with my friends, but I would feel nervous when talking to a stranger or crowds. In other words, I am a shy person. However, I do rant silently in my mind......Does this mean I'm actually a gloomy person?

    `"Oh, I'm just a gloomy otaku."

    "Is that the otaku culture that is very popular right now? Well, then do you have a seiyuu you particularly like?"

    `"That's undoubtedly Miss Otona...."

    "Ah, you don't have to take my feelings into consideration."

    Eh? My reply was serious!

    `"Well......well then.......I like all the seiyuus! There's no one I dislike!"

    "Wah~You don't have to be like that."

    Miss Otonashi's eyes are as cool as ice!

    `"Um~Then......Can I say the person's name?"

    Irregardless of gender, all the sounds of the seiyuus began playing in my mind. If I were to pick a seiyuu I really like......

    `"That would probably be Miss Amanogawa Shigure?"

    I said the name of female seiyuu nervously. She was also one of the famous seiyuus, with an aura of nobility and fragility. She was a completely different beauty compared to the easy-going and outgoing Miss Otonashi.

    I do remember seeing something on a magazines article that she was pretty friendly with Miss Otonashi. I had the impression that they were both from the same agency.

    "Ah~so that's the one you like. Nn nn. So boys really like that type of girls, do they?"

    `"What do you mean by 'that type of girls'!"

    "No? Isn't she pretty cute? From a good point of view."

    `"Your last sentence seem to imply some other meaning behind it!"

    "Oh it's nothing! However, you're quite something. The fact that an outsider, was actually saying that he liked some other seiyuu in front of another seiyuu."

    `"It was Miss Otonashi who told me to not take your feelings into consideration, wasn't it!"

    "Yeah, that's why, it's nothing......Nn, since nothing can be done about it."

    `"Sorry! I like you very much! The person I like the most is Miss Otonashi!"

    "Well then, after that, let's talk about the next unit in this program!"

    Was my previous statement ignored! Would you please give some sort of reaction to it!

    However, it felt surreal. I can't believe that I was actually enjoying this. Due to the nature of the broadcast program, I thought that I would need to be talking non-stop, and might be unable to say anything due to my nerves.

    Was it because of the partition? Even though this place was just separated by a piece of glass, with people on the other side, it felt like I was in a world of my own.

    After all, I'm an outsider, unable to foresee the development of the the program, so I could only say what I thought of in the spur of the moment. Maybe this was the right thing to do. Another important factor was Miss Otonashi's efforts to lead the conversation. I never thought that talking was such a happy thing to do.

    "The next unit will be 'Hand It Over To Us!'"

    `"Oh oh, what will this be about?"

    Alright then. I can't just let Miss Otonashi handle everything, can I? I should put more effort into doing what I'm able to do!

    "In the original work, Boyle and Sharuru accepted many requests from the people in the city. So we followed suit and created a unit to solve the audience's problems! We'll take in problems about love too! Of course, besides problems, it's also OK to ask the hosts questions! This is quite the common unit for broadcast programs anyway."

    `"Could please don't exaggerate the common bit! This is a completely new show, you know!"

    "Um, let's take a look at the first letter immediately.....Ah, how could there be a letter submission when this is the first time the show was aired?! Which staff wrote this anyway?"

    `"You don't have to reveal something like that!"

    After my rant, Miss Otonashi began to read the content printed on the letter.

    "'Recently, I was forced to do something I didn't really want to do. How do I refuse it in a much roundabout way?'......Um, the something you didn't really want to do isn't this program, is it?"

    Miss Otonashi drummed her fingers on the table as she looked outside the partition. The staff outside had a subtle reaction. I have to come forward and intercede for them!

    `"That can't be right! For them to write something specially for this, it should be referring to something else!"

    "No, maybe this is really the sign that someone wants to resign."

    `"Um, let me answer this one then......if you really don't want to do it, just make your refusal clear and obvious."

    "Murabito do you even have the right to say this!"

    `"Sorry!"

    The staff outside the compartment continued to laugh heartily.

    Even though it was unclear to me if they were laughing to lighten up the atmosphere or because our conversation was interesting.

    "However, trying my best is also one way to deal with this. I guess we can worry about it after we start."

    I said it. I said it directly, according to my thoughts.

    After that, Miss Otonashi nodded her head and said,

    "This isn't that bad after all."

    `"Even though this was completely contradictory to what I was saying just now!"

    "What's wrong with that? There's no clear line between right or wrong in our lives anyway!"

    `"I felt like you've just said something amazing, but isn't that going to negate the meaning of the this entire unit!"

    "Let's look at the next letter then. This time let's choose one on love matters."

    Love matters, huh......Even though I'm just a listener sitting at the side, this seems pretty meaningful.

    `"Since I'm basically an otaku, so I can't really answer any of questions about love."

    "Um~'I fell head over heels over Miss Otonashi. What should I do?'"

    `"Hey, staff! Are you using submission letters to confess!"

    "This letter is......from Murabito B of Tokyo."

    This is completely an improvisation on her part!

    Miss Otonashi is just too powerful!

    ......She is the most powerful sadist! Actually pulling off an improvisation on an outsider!

    Was......was she actually probing me?

    `"I don't remember anything about submitting a letter like that!"

    "That's just too much! You actually played around with my pure heart!"

    `"That's....that's......that's because......"

    "Nn~your reaction is really cute. It seems like you can't hold off against such a development, I'll keep that in mind."

    `"Please......please have mercy on me......"

    Sorry, I just can't do it. Because I'm really a fan of Miss Otonashi.

    `"Well, now it's my turn to read the letters."

    I took a paper from the pile. Even though I'm 80% sure that this was something prepared by the staff!

    `"Instead of calling this a letter......it should be called an example, I think. Something for the audience to base their letters on."

    "You finally understood it somewhat!"

    `"I think there should be some distinction anyway.....Well then, I'm going to read it! 'Please tell me how does Miss Otonashi pass her holidays!'"

    "Wah......this question is quite typical. Um! I normally just space out on the sofa. Because I don't have many friends!" (Note: Possible reference to Haganai...)

    `"Aren't you a seiyuu idol! At least give some space for imagination to the audience!"

    "Eh, what? Sorry, sorry. Um! I'm always reading manga and novels!"

    `"Oh, not bad! These interests add some degree of closeness!"

    "Well, that's because, if I were to say I like a particular manga in the public, then when that manga is about to be animated......you know what happens, right?"

    `"The degree of closeness has completely vanished to thin air!"

    Of course, seiyuus who really have these interests are not in the minority, but I have always felt that it was not compatible with Miss Otonashi in any way!

    `"Don't you have other interests? Like.....'I can make cakes and dessert!' or something like that."

    "Ah! Do you have that kind of dreams about seiyuus? I see, I see. The sooner you give up on those dreams the better, you know."

    `"It can be said as dreams......but actually it's more of the 'If only it were true' kind of fantasy."

    "However, among my not-so-many friends, there is a female seiyuu, who either attends concerts with handsome singers or play BL games all day long during her holidays."

    `"Alright, that's more than enough information!"

    "I'll read the next letter then. Um, 'Where does Murabito hide his adult book collection?'"

    `"That question again! Do you really want to know the answer that badly!"

    "I hear that it's hidden under the bed~"

    `"Can you please don't make up the answer too! Isn't the direction of this conversation going the same way as before!"

    "After all, everybody should be hiding it under their beds, right? In the anime I was voice acting before, the main character also hid his adult books under the bed."

    Who in their right mind would hide it in such an obvious place......Why was all the staff nodding! Could you all please hide it in a less obvious place!

    `"Alright, let's move on to the next unit!"

    I am going to take lead of the program now. How could I possibly discuss such vulgar things in front of the seiyuu I like the most!

    `"The next unit will be......'A New Clue!'"

    "Murabito, ignoring others is bad behavior, you know! If the hosts can't respond to each other properly, this broadcast program would be a disaster!"

    `"Wasn't I the one who got ignored a few times before!"

    "......This unit is a commercial unit."

    `"Hear me out~"

    It appeared again. The perfect ignoring technique.

    "The original light novel, 'The Law of Boyle - Sharuru' currently has six volumes published! Remember to buy and read it, everyone~......With that, it's the end of advertisement."

    `"That's too fast! The most important part is the shortest part too!"

    "It's because this is the first airing of the program so there's nothing to be said."

    I quickly took a look at the script. Wow, it's true. There was only the content Miss Otonashi said just now.

    "Besides, the anime will only be aired during the summer anyway. The voice recordings haven't even begun too, so what's there to talk about?"

    `"You don't have to reveal such things without thinking!"

    Are you going to reveal the production progress too!

    Is this really okay, Yuto Sensei!

    When I looked at him, he was actually all smiles and giving me the V sign!

    That's not it! I'm not asking about "How's my performance so far?"!

    `"Don't we have to explain the content of the work at all!"

    "You know what......Murabito, you seem to understand the flow of the program better than I do."

    `"Well, I do like to listen to broadcasts, so I have listened to many kinds of programs."

    The main point was, I don't think you should be saying something like that, Miss Otonashi......

    Ah well. We could wrap up the unit with a sentence after this anyway.

    `"Everybody......please spend some time and read the books, okay!"

    Of course, I was just reading from the script!

    I placed the submission letter aside. Um~According to the original arrangement, the next unit would be......

    "Well then, Murabito, the next unit would be our 'free talk' time."

    The real problem would start here. To date, we've only just needed to follow the contents of the units; but now we were completely free to do whatever we want. This would really the acid test for me. Even though I think I know the result will be even without the test......

    Why then, would I need to be put to such a test? It seems like it was done for a much nobler objective but in reality, I'm just pitched to sit here.

    "Let's now take the opportunity to reveal the background of Murabito."

    `"My background?"

    "Nn, it seems like a plan to surprise the audience. Murabito, who has been chatting smoothly with me until now, is actually! Just a normal boy whom we poached from the streets! Wow! A round of applause, please!"

    Actually, it was not really poaching. However, the truth is complicated so taking it as that would make it easier to explain.

    `"Yup, that's right. I'm a second year high school student, a normal outsider by all means."

    "Have you got the hung of it?"

    `"No, my heart us still beating like a rabbit now. Due to my nerves, I don't even know what I'm saying right now."

    Because in reality, Miss Otonashi is really the one who was handling the program anyway!

    Even though I would like Miss Otonashi to handle myself too!

    "This is a 'challenge plan'. If the first episode is interesting, then you can continue to be the host of the show, right?"

    `"Was this supposed to be pressuring me! Can you please don't do that!"

    So that's the difference between an amateur and a professional. Not only can she talk well, she can pull me, the outsider, back into the conversation without making it awkward.

    After that was perhaps something out of her own experience. Miss Otonashi said,

    "Hosting a broadcast program is not really easy. You have to maintain constant high spirits while making every sentence interesting enough for the audience."

    `"It doesn't feel like something any outsider can do."

    Having answered like that, I was surprised that I actually lasted that long here.

    Even though I also understand that this was all because of Miss Otonashi's efforts.

    "However, that's also why as long as the content is interesting, we can say whatever we want."

    `"Indeed! If it wasn't so, I don't even know why I am sitting here!"

    "However, the scary part actually comes after the end of the program."

    `"Af-After the program?"

    "The Internet is really a powerful media channel. Comments and thoughts can be transmitted in a blink of the eye."

    `"Woah! It is......as true as you say. I suddenly feel very afraid of what's going to happen."

    Is this program going to be broadcasted......How would I explain it to my parents and friends? Even if I keep it a secret from everybody, my otaku friends would surely be listening to this program. I guess it was lucky I did not mention my name.

    "However, hosting the program with you until now, makes me quite happy, you know."

    What's with this surprise attack?

    Until today, magazines and other media have been the only way I would be able to glimpse Miss Otonashi's smile. Her voice. And every word she spoke from her lips.

    At this particular moment, I felt as if I had claimed all of these things as my own. What was Miss Otonashi feeling when she said those things? Was she playing around with me?

    While butterflies was flying around in my stomach, the program still went on.

    "Let's now ask our staff then about it then."

    `"Are we really going to do this during the program!"

    "Please clap your hands if you think Murabito can continue to host the program!"

    The staff looked at each other. I guess they have never thought that Miss Otonashi could pull this trick during the show.

    Nobody made a move. I guess everybody didn't want to bear responsibility if this went south. Nn nn, I fully understand that feeling!

    Among the people outside, the first to react was Yuto Sensei. He clapped his hands enthusiastically. After that, the executive editor standing beside him began to clap. As the author of the original novels and the executive editor gave their approval, everybody began to clap too.

    In the end, everybody gave their heartfelt applause.

    Alright then, what should I do now? Now would be the only chance I got for me to retreat if I wanted to. If I were to pronounce that I will not continue as the program host anymore, everything will stop here......

    To tell the truth, I enjoyed it here. Even though it was nerve wracking, the feeling of accomplishment far exceeds it.

    Even though this was just the result of going along with the flow, it was not really something one can call a stroke of fate.

    Being able to engage in the publicity of my favorite work, and to chat with my favorite seiyuu, is there anything happier than this? Also, if I were to be able to continue doing this......

    No, no, there's no need to think of so many unnecessary reasons. Thinking back before, didn't I say something about " trying my best is also one way to deal with this"?

    Well, there's only one answer I could give right now.

    `"......Thank you everyone! Being accepted by everyone really makes me very happy. Please look out for me and let me know if I do anything wrong!"

    "Oh! So this means you have made up your mind!"

    Hearing Miss Otonashi confirm it again main the producer show a smile and a OK sign.

    "Murabito, please don't mind us troubling you in the future!"

    `"Same here! As I'm an outsider, I might bring a lot of trouble to Miss Otonashi, so please forgive my mistakes in the future."

    "Well then, since it is determined that the program shall continue to be hosted by me and Murabito, then we shall stop here!"

    `"Oh, is it going to end?"

    "Eh, Murabito, do you want to chat some more? Why don't we continue recording for two hours?"

    `"No way! Let's end it here!"

    Recording for another two hours! Is this an interrogation!

    "Well then, Murabito, let's hear about your thoughts before we end it!"

    `"Um, I think I overstretched myself trying my best to host so I'm dead beat. However, times flies, doesn't it?"

    "That's right! Happy times flies at the blink of the eye. Well then, this program is updated every Thursday. Brought to you by All Make World, which strives to move your hearts with their products. This is also the company that is responsible for publishing 'The Law of Boyle - Sharuru'."

    Inserting marketing elements naturally like this. She really is something.

    "Well then everyone, please don't forget to listen to the next broadcast! I'm Otonashi Madoka!"

    `"Thank you everyone! I'm Murabito B!"

    Fuh......Finally, it has ended. After confirming that the red light signaling "Recording" has dimmed out, I threw myself on the table. Then I realized that I'm drenched in sweat.

    The man who has been giving instructions to me beside me until just now left the room hurriedly and started to discuss with the producer. Maybe it was some meeting.

    "Thanks for your hard work! You're quite something, it's your first time and yet you managed to pull it off."

    `"Sigh......I'm completely exhausted......."

    Miss Otonashi is really a professional, from the way she managed to maintain a relaxed expression while drinking tea elegantly. Watching her do that made me realize that I was thirsty as well. Talking this much really does make one thirsty, I guess.

    I drunk the tea that Miss Otonashi poured for me in the paper cup in one gulp. However, it did not seem to quench my thirst.

    Aiyah, until today, even though I have heard many broadcast programs before, I have never thought that recording a program would be so tiring.

    "Before I got used to it, I did go also through some rough times."

    Miss Otonashi's eyes spaced out. When did she start taking jobs in broadcasting? From what I know, she has hosted in a lot of broadcast programs before.

    "However, I like this job very much, you know. How about you? Will you come to enjoy it too?"

    Miss Otonashi seems to have changed a little between now and before when she was hosting the program. Should I say that she really was an actress? She seems to be very approachable from the way she looked me in the eye.

    `"Well, about this......I like to listen to broadcast programs. However, I have never thought of hosting one myself."

    "How about your future dreams?"

    `"A job that I really wanted to do......is not really something I have thought of yet. I think, I would be that kind of normal person that goes to college and work in a normal company."

    "Nn, most people would think like that, wouldn't they?"

    Even though Miss Otonashi was smiling as if she was joking about it, it was really like that for most people. A normal life for normal people. I have thought that I would also live that kind of life.

    However, I came into contact with that.

    Something that I did not understand before.

    Sure enough, there are somethings that you would not really know if you have not tried it out.

    `"However, I seems to have found my own dream of the future today."

    A place where most people could only wish about but could never enter. I came to this place by chance. After this, just to stay here, I will have to give in my all.

    "What? Are you going to confront me? I won't give in to you, you know?"

    `"That's......That's not it! I......I wouldn't even think of something like that!"

    Miss Otonashi left the compartment, her long haired flowing behind her. If cuteness was a crime, she would have been public enemy number one.

    I also left the room just like I was following her footsteps.

    "Tsunemura-sama, your performance was great!"

    "Congratulations on being the program host!"

    THe staff talked to me non-stop.

    "I'm sorry for having you take over the broadcast host from Yuto Sensei. Please continue to give it your all."

    Even though the executive editor of Yuto Sensei did not really consent to the plan of making me the host, he became much supportive of it now.

    "Compared to me hosting the show, I think letting you become the host made it much interesting! Sorry for troubling you hereafter!"

    Perhaps it was confirming that he did not have to host anymore, Yuto Sensei was elated as he patted my back.

    I gave my thanks to every one of the staff. Everyone is really good to me!

    "Since you're going to do it anyway, then let's make it a fun and cheerful show!"

    "Are you really an outsider?"

    Everyone thought of something different. After talking to the staff, I realized again how I stepped into a completely different world.

    Right, Somebody brought up the problem of remuneration. However, I was still an outsider, so I gave my solemn refusal. However, they were of the opinion that I could not work for free, so they offered me some kind of pay. Instead of saying that it was remuneration, it felt more like hourly pay.

    After talking to I looked at my surroundings and found out that Miss Otonashi has disappeared. I guess she had a lot of things to do since she was a famous seiyuu.

    To quench my thirst, I asked around for the location of the vending machine. But then the producer said "Take these and buy yourself a drink!" and gave me some change. Actually they don't have to be so nice to an outsider.

    However, I did feel very happy, so I accepted the change gratefully. Of course, I did refused it at first.

    I followed their instructions and walked. I heard that the vending machine was located at a place after walking straight down the corridor and turning left.

    There was a much larger space there, with a few sofas without backs. Three vending machines stood side by side, giving off bright light. I felt that it was bright enough even without the ceiling lights.

    However, in this place that was not really spacious, there seemed to already have someone there.

    "Madoka, is this really okay?"

    "Eh? No matter what I think, since the producer has already decided about it, then I couldn't help it. I could only try my best."

    It was Miss Otonashi with another person. A person who was wearing a suit. She fixed her hair at the back of her head with a butterfly pin.

    Their backs were facing me, and it seemed like they did not notice my presence.

    "Well, I thought you would have objected, since you are someone who places emphasis on professionalism."

    "Without any talent, and not one bit of effort, one just couldn't stay in this industry at all. I have completely no interest in what would happen to that outsider. But then again, this is also a kind of experience, so I will continue giving it my best."

    Miss Otonashi's word pierced my chest. I felt like the feeling she gave me until now was different in someway. Her voice was also lower. However, she was a professional seiyuu who could take on any role so it was not something surprising.

    "Oh, no, I need to correct something. If I were to say that it was something troublesome, it really is something annoying. However, I would try my best not to get affected by the outsider......Thinking it through again, no matter the author of the original work, or that boy, are both outsiders anyway. So there's no difference between letting any of them host. Sigh, I really took on a troublesome job, didn't I?"

    Was this person really Miss Otonashi? Would she actually be a look-a-like of her?

    Having finished talking, Miss Otonashi got up from the sofa and walked to the front of the vending machine. Then she started to calmly do something that was not calm at all!

    She started to kick the place where drinks are dispensed from the vending machine mercilessly!

    What was she doing? Was she trying to take her anger out on the vending machine? This was not something an idol would do.

    "You shouldn't do it that way, Madoka."

    The woman with the suit stopped Miss Otonashi. Wait, no, even though I don't know who you are, shouldn't you stop her with a much stricter voice?!

    The woman with the suit stood in front of the vending machine instead of Miss Otonashi.

    And begun to raise her skirt up slowly!

    Wouldn't that expose her seductive legs that were covered by knee stockings! The skin color looked perfect under the knee stockings, not too dark or too light. This would just shake a man's heart even more......

    "You should do it this way."

  .center
    img(src="img/Aitsuko1_007.jpg")
  :markdown
    Just almost like she was showing off her sexy body, she raised her right leg with her high heels, and kicked the place where drinks are dispensed with astounding force!

    A thonk sound came after that. So, the woman with the suit slowly reached into the opening and took out a small bottle.

    "See?"

    See what anyway!!!

    "Eh?"

    Um, the woman in suit noticed my presence.

    `"Ah, Nice to meet you."

    Even though I managed to squeeze out a greeting, but the current atmosphere was pretty awkward.

    Miss Otonashi followed the woman-in-suit's gaze and peered at me. Her smile immediately changed to a much more approachable one.

    "Thanks for your efforts."

    `"Thank...Thank you for your efforts."

    Ah, I just chose the safest answer to reply. This was a really nice sentence, wasn't it? In my impression, no matter the situation, everyone in this career would use this sentence to greet each other, so it was really helpful. I should use it more often in the future.

    Since I had nothing else to say, so I tried my best to walk calmly to the vending machine. Let's just buy the most inconspicuous mineral water today.

    I tried to insert a coin into the slot but to no avail. My hand was shaking uncontrollably. I don't even feel cold though.

    Even after I managed to insert the coin, it still dropped out from the change slot. Nn, that was normal. So I just inserted the coin again. Okay, this time it finally succeeded. I tried my best to ignore the subtly dented part near the bottom of the vending machine, and took out the bottle. I then turned right, preventing myself from looking at Miss Otonashi and co.

    `"Well then, I'll be leaving now."

    I told them and tried to leave the place......

    But then......

    "Wait."

    I never thought that they will give me the order to wait together! The two really have the best coordination!

    I turned my head slowly. If I were a robot, and if no one were to replenish the lubricant around my neck joint, then there should a "Kikikiki" metal-on-metal sound now.

    I turned around to find them looking at me. Their faces were still carrying that smile though.

    The woman in suit's hand was rummaging through her bag.

    "I am Serizawa, Otonashi Madoka's manager. Nice to meet you."

    Oh, it was a name card. That's a relief, it was not some weapon of some sort to attack me.

    I clamped the bottle under my arm and took the name card with both hands carefully.

    `"Ah, so you're Miss Otonashi's manager."

    "Hey, let me ask you a question."

    Miss Otonashi shoved Miss Serizawa away and stood in my view. Even though Miss Serizawa was also a beauty, I still think that she can't be compared to Miss Otonashi.

    Miss Otonashi, who was walking straight towards me with a smile. I could not help stepping back a step. She was now exuding a frightening aura.

    "Did you see everything just now?"

    Miss Otonashi was standing very close to me. Even though she was all smiles, she gave off a very frightening presence. If it was the normal me, my heart would have been jumping like mad with happiness just by being so close with Miss Otonashi. However, what was this feeling of being drenched in cold sweat?

    `"Yes......yes, I did."

    "Even if you have seen it, you would have forgotten about it, right?"

    `"Yes, that's right."

    She didn't even give me a chance to rebut!

    "Well then, I'll look forward to your efforts next time too."

    Until the warm approachable smile appeared once again on Miss Otonashi's face, she turned around and left. Her head of hair swayed with her body, while leaving a sweet fruity smell in my nostrils.

    Miss Otonasshi, who had stepped onto the corridor, said loudly, "Miss Serizawa, let's get to the next place!". Was she going to hurry to the next job? She was really famous, I guess.

    On the other hand, Miss Serizawa herself, for some reason, did not rush over immediately but turned to me again.

    "Even though I think dealing with Miss Otonashi will be pretty tough, but I guess you'll have to buck up."

    She was also someone who gave me the feeling of someone scary. Miss Serizawa seemed to scrutinize me from top to bottom, and made no motion to hide that fact.

    Ignoring my face of complete confusion, after saying what she wanted to say, Miss Serizawa also went after Miss Otonashi.

    ......Was Miss Otonashi actually someone very terrifying?

    Or could I say that, everyone in this career was like that......

    I don't want to believe it. Even though I don't want to believe it, but Miss Otonashi's smile that I liked so much, and the real smile from her, no matter what I do, cannot be superimposed on each other.

    After the first broadcast program recording of my life ended, I walked around the streets with my tired body. Unknowingly walking into an anime merchandise shop, I saw Miss Otonashi's movie clip on the big screen in the shop. However, I was unable to think that this girl was very cute. Why was that so?

    I casually shifted my vision away from Miss Otonashi in the screen and unknowingly bought a lot of small merchandise. This shop really had stuff that just begs you to own it.

    I walked outside for some time before I returned home.

    There was my father's leather shoes and my mom's shoes at the porch, along with my sister's school-designated shoes. That's the school for noble girls for you, even the shoes have to be specially designated. Even though I have never really asked about the price, but it should not come cheap.

    I never thought that the effort my parents put into my sister could be seen though her shoes though.

    Anyway, after reporting the situation to my parents, I returned to my room.

    By the way, I only told my parents about starting to take up a job myself, and nothing about working as a broadcast host. That was because explaining everything was quite complicated......or it should be said that, I don't even know how to explain it to them. Even if I told them I was coerced into doing it, would my parents really believe that? Maybe they would just say that I have read one too many manga.

    Actually it was still okay on my parents side. The real problem lies with my sister. I got the feeling that I was going to be teased like crazy......Seriously......This has to be hidden from her by all means.

    I walked to my room in the second floor. As I left the home in the afternoon, I didn't close the curtains.

    ".............."

    At the other side of the window......

    ......There was a half naked woman......

    ......Appearing there......

    She seems to be in the middle of changing her clothes. As her back was against the window, so she didn't notice my presence.

    This woman's top was naked. Her sexy back bathed in the moonlight, shining like a diamond.

    Maybe it was because of her creamy white skin, that created a beautiful contrast with her flowing long hair.

    Her silhouette peeking out from strands of her hair attracted my vision to the lower half of the her body.

    Her slim hips was covered by jeans, so there was not much eye candy to see.

    However, the fitting jeans completely emphasized her beautiful body line, making her slim legs look more attractive.

  .center
    img(src="img/Aitsuko1_008.jpg")
  :markdown
    Well then, let's look up from the legs again then.

    Um, that's not right!

    In recent years, I could have found some lightly sexual pictures or clips through the Internet.

    But! Seeing through my eyes at real time is really a completely different experience! Exploring the other's body at my own leisure.

    The main point was in that feeling of existence. Girls' bodies are soft and warm, and just cute. No matter who scolds me. I still have to say it loudly, I love a girl's body the most.

    Anyway, calm down, me.

    Anyway, first calm down and engrave the image before me into my brain!

    "Tsunemura......Ryouto?"

    I, who had been standing dumbfounded, heard a familiar sound and name.

    This sound, where have I heard of it again.....?

    When I focused my vision on the legs of the woman again, she seemed to have noticed my presence. If she directly turned her body to look at me, I think it would expose even more of her body to me, so she could only turn her head and glare angrily at me.

    `"Miss...Miss Oto...nashi?"

    I finally understood the situation.

    Nn, it was Miss Otonashi. The Miss Otonashi that was known to the world as the beautiful professional female actress-cum-seiyuu. I finally cleared up the current situation. It was her, alright. However, even though I have understood it, I could not accept it.

    Miss Otonashi immediately hid herself behind the curtains and yanked the curtains closed.

    Okay, I have finally calmed down. Now, what lies before my eyes wasn't the seductive white of skin, but the creamy butter color of the curtains of my neighbor's house. Now that I can finally calmly analyze what has happened around me, let me confirm what has happened. Just now, what happened here? I flicked through my memory from my brain again. Very well, my memory was clear as crystal......Wait, that's not it!

    Miss O...O...O...Otonashi's nude body?

    No no no no no ! That's not it!

    Why would Miss Otonashi appear next door? Even though I have already known that house was being renovated again as the previous tenant moved away and there would a new neighbor moving in!

    However, for our rights to privacy or something like that, there should be more space between the windows......No, between the buildings, right? I think this should be in the construction regulations or something.

    This is absolutely too close for comfort!

    After laying down the waterproof canvas on the neighbor's home during construction, our house also got the outer wall reconstructed, so maybe this was the reason? As both houses got covered by the waterproof canvas, so they could not confirm where the windows were?

    Just as I descended into panic, the bell downstairs rang to notify that there was a guest. Some cloth changing speed Miss Otonashi has got there, eh?

    Wait, this was not the time to be admiring her!

    My mum seemed to have opened the door.

    So I hastily went downstairs too.

    I found Miss Otonashi, my mum and a woman I didn't know were standing there when I reached the porch. Maybe she was Miss Otonashi's mother. I felt that they looked a little alike.

    "It really was Miss Oto......Otonashi......"

    "Oh, Ryouto, have you both met? She's Miss Otonashi who just moved in yesterday."

    Even though my mom specially introduced her to me, but I have already known who she was. She was Miss Otonashi, wasn't she? I know very well, that!

    But I digress, having Miss Otonashi appear at the porch of my house, was really something amazing.

    As for the expression on her face......It was the same old idol smile. How do I put this, that just made me feel even terrified.

    "I'm sorry for intruding so late, auntie. Would you mind if I disturb you a little?" (Note: I can't really translate it into miss or madam, since it wouldn't fit the context, so I'll use auntie, a word thats mean an elder woman that you don't know.)

    Against Miss Otonashi's impeccable manners, my mom certainly had no reason to refuse.

    Wait, no, mum, what? I don't understand why you are elbowing me. Why do you look so happy!

    So, the four of us moved to my room.

    Nn? Wait, I didn't take out anything strange, right? Um......it should be alright. Since my mum and Miss Otonashi already knew that I was an otaku, so even if my room was filled with manga and electronic games it should not be surprising.

    "Mum, look. My room is completely visible from here."

    Upon reaching my room, Miss Otonashi said that as she looked out my window. I guess that woman I don't know was really Miss Otonashi's mother.

    "Ah ah, this isn't so bad."

    "What do you mean by it's not so bad!"

    "It's full of youthfulness, isn't it? Madoka, wasn't this the same setting as the previous anime you voice-acted for?"

    Miss Otonashi's mother placed her hand on her cheek as she replied. She seems to be an interesting person.

    "Don't mix up anime and reality!"

    "Madoka, as a seiyuu, you shouldn't be saying that, right?"

    "The room of a girl in her youth is completely visible to someone else, isn't this a huge problem!"

  .center
    img(src="img/Aitsuko1_009.jpg")
  :markdown
    Nn, I also felt that this was a huge problem.

    "Oh! If this would bring a lot of trouble to Tsunemura here......"

    Miss Otonashi's mother turned to look at me. Indeed, at this distance, my room will also be completely visible. My room easily available to prying eyes, that really was a huge problem.....

    "We don't mind anything at all!"

    `"Mum, why are you the one answering! This is my room, you know!"

    "Just live a life where you won't feel embarrassed when you are seen and you'll be fine."

    `"At least let me relax in my room, would you please!"

    Why should I care about what others think when I'm in my room!

    Also......I don't know why, but what my mom said just now pierced my heart like thorns! Was I living a life that I would feel embarrassed when I got seen even until now!

    "You see, even Mrs Tsunemura says that they don't mind. isn't this great? If you don't want to be seen, just put your curtains down."

    Eh? Miss Otonashi's mother seems to have crossed the line of being "interesting".

    "How is this great, mum! You should at least complain a little to the construction company!"

    "Madoka, you're really stiff."

    "Of course I am!"

    Under Miss Otonashi's furious protest, Miss Otonashi's mother would raise a complaint with the construction company. However, it was impossible change the things the way they are for the time being.

    This is really something that I have to take notice of. To prevent the situation just now from happening again......the situation just now......

    "Hey, the outsider over there, forget what you saw just now."

    Can Miss Otonashi look into my mind! Her cheeks turned rosy as she moved towards me. If she was feeling embarrassed for being seen, then it was pretty cute. But I think she was just feeling angry.

    Anyway, my name is Ryouto, not outsider!

    `"No...that's, that's not it! I'm not thinking back about just now!"

    "Tell me what made you space out, then?"

    `"No, I just never thought that Miss Otonashi would move next door and felt extremely surprised!"

    "Are you going to going to say that even now? It's just like something a peeping tom would say."

    `"What happened just now was just an accident! Don't put it in a way like I peeped on purpose!"

    Ah! Dammit, the terrible Miss Otonashi before me really was not a bad dream. I originally just wanted to be her fan forever!

    Ah, right. Dammit, I have forgotten about this!

    `"Miss...Miss Otonashi! Please come here for a while!"

    I quickly took hold of Miss Otonashi's arm and pulled her to my side. Woah, her arm is really thin! This is the first time I touched Miss Otonashi! Wait a minute? Wasn't Miss Otonashi completely naked above here just now? And then she changed clothes with astonishing speed and came to my house. In other words, what I meant was, under Miss Otonashi's shirt now......There's no energy for this kind of delusions now! While peeking at the two mothers who began to talk about everything under the sun in someone else's room, I moved closer to Miss Otonashi's ear. Her body was still giving off a sweet smell. What was this smell anyway?

    "Don't touch me, pervert."

    This......is too much, right? However, as I didn't want Miss Otonashi to say some strange things about me, so I will let go anyway!

    `"Um~about me being a broadcast host, could you please keep it a secret for me......"

    "Huh? Why do I have to do that?"

    `"Even though I said that I just took the job in a whim, it's.....still quite embarrassing."

    "That's a feeling that I can't understand. Do you feel embarrassed at expressing yourself?"

    `"That's because I didn't host just because I wanted to."

    Miss Otonashi shrugged her shoulders and nodded. For some reason, Miss Otonashi started to look around my room.

    Right, what about the two mothers? I heard the happy sound of "Do you want some tea?" coming from downstairs. Before I knew it, they had become pretty good friends.

    No, wait a minute, what's happening again?

    My most adored seiyuu is now in my room. A boy, me, and a girl, her, alone in my room.

    "Nn? What's this?"

    That's bad!

    Just as I was spacing out, Miss Otonashi reached out to my book case. What was placed there? Embarrassing things that shouldn't be seen by girls have been hidden some place else, so there should not be anything there......

    "This...This is....."

    `"Ah! That was!"

    So this was placed there!

    That was my scrapbook for seiyuu magazines that I would buy regularly. I would cut and paste articles or photos of my favorite seiyuus.

    In other words......In other words, what was preserved in the scrapbook, was mostly the photos of my most favorite seiyuu -- Miss Otonashi......Actually it should be said that almost all of the things I pasted in the book was photos or articles of Miss Otonashi......

    A seiyuu's job is basically to provide voices for anime, or to dub foreign films with Japanese, so they rarely show their faces in front of the screen. Even though most of them do have that impression, it was not really that case recently. Magazines that mainly feature seiyuus has started to appear in bookstores, even to the extent of having seiyuus appear as guests in music shows during prime time.

    Of course, Miss Otonashi was also one of the seiyuus who was active in the front lines.

    "Oh, Mr outsider."

    Woah! Her face had a smile that just makes me uncomfortable. Even though the terrible expression just now was frightening enough, but the smile now somehow just makes me even more scared!

    "Nn~I see. Oh~So that's how it is."

    `"What......what are you talking about......"

    "Are you really my fan?"

    "Y...yes."

    Up until yesterday, I have always been kept in the dark. The Miss Otonashi that I have adored before, was a lively, cheerful and extremely cute girl. Not this character that likes to bully people stubbornly.

    "......Seeing it like this, I really am cute!"

    `"......"

    What is this person saying while looking at her own photo?

    "......Hey, rant at me."

    `"......Eh?"

    "Anyway, just rant. Something like 'Are you some proud parent!' or 'Don't praise yourself like that!', there should be a lot of ways to rant, right?"

    `"......Um."

    "Mu~It seems I have made the wrong expectation."

    Was is that Miss Otonashi had exceeded her limit? If it was her, she might really do something like that. A new impression of Miss Otonashi started to take hold in my mind on its own.

    "......Hey? Do you like me?"

    Just as I was thinking on my own, she threw another incredible question at me!

    `"I have said in the broadcast program......as an otaku, I was Miss Otonashi's fan."

    "Have you fallen head over heels with me?"

    `"That's impossible! I 'was' your fan. Please take note of this, I'm using the past tense, so it is different now. How would someone like a girl who kicked the vending machine viciously, decide that someone is a peeping tom on her own, and......"

    "After knowing the real me, the person you longed for before became the girl you wanted just like that?"

    `"What kind of explanation was that!"

    "Or I should say that, when we first meet, my mouth should be nibbling bread for a better effect?"

    `"No, no, it's not about the bread! I think the main point was the two person crashing into each other just at the turning of the corner!"

    "After that you were planing to use that opportunity to look at the girl's underwear, right? You're really the lowest of the low."

    `"That's just you looking at the results! That's just the result of two people crashing into each other, falling and accidentally getting a peek at the other's underwear! I have never seen a main character rushing to the turning of the corner just to see underwear!"

    "Wasn't there something called the suspension bridge effect?" (Note: it's the effect when the other party is in a state of fright and sees you, he will fall in love with you.)

    Eh, what? Why did she suddenly change the topic?

    `"Um, ah? There's seems to be that kind of effect, yeah."

    "I think underwear should have the same effect too."

    `"Explain! Please explain the reason you're saying this!"

    "That kind of underwear, normally we call them 'shorts'."

    `"I personally prefer calling them 'panties' anyway......um, I already know all about this! I don't want to know about the description of underwear!"

    "Eh? Oh, right. I was thinking, would boys mistake the heart pounding feeling of seeing girl's underwear as the feeling of him liking the girl."

    `"I think this is just all because of boy's lust!"

    "However, when you saw me changing my clothes, your heart was also pounding hard and your face was red, wasn't it?"

    `"Nn, of course! That's one great experience!"

    "Oh~Thank you then."

    `"Wait, stop! Please put down your fists! What you're saying and what you do is completely out of sync!"

    I think she really wants me to rant at her, so I ranted at her just like in the broadcast program.

    "Mu......not bad."

    Was this praising me? For what?

    "Nn nn, it really is so. This is the first time I felt so good. So I really need to be ranted at."

    Miss Otonashi looked intoxicated with self satisfaction as she hugged herself and twisted her body. What.....What was happening to her?

    "Everybody just keeps saying about 'your father this', 'your father that', but I'm not Otonashi Minamotofutoshi! Don't keep tabs on my reactions or what I would think and just rant at me!"

    Miss Otonashi then proceeded to stomp on the floor mercilessly. Um~I was hoping that she wouldn't throw a tantrum in my room.

    `"Mr Otonashi Minamotofutoshi is your father......right?"

    "Yeah! So what? Why does it matter whose daughter I am? I'm just me. When I'm playing dumb, of course I would hope that someone would rant at me. I don't want to hear, 'Ah ha ha, what are you saying, Miss Otonashi', this kind of useless stuff, but strong and powerful ranting!"

    Um~even if you say that, everybody will notice that kind of stuff. Having such a famous father is not something you can just ignore.

    "Someone who could rant at me playing dumb the first time we met, you're the first, you know."

    `"Um, is that so?"

    So? Since we were recording a broadcast program, it would be problematic if I remained silent, so that's why I ranted as much as I can.

    "Also, you were also able to rant at me even after knowing that I am Mr Otonashi Minamotofutashi's daughter, right?"

    `"No, um, I do know about this......"

    However, during the recording. I didn't have any energy to care about that anyway.

    "Just continue to rant at me after this, okay!"

    No, even if you are pointing at me with your finger......

    `"Um, you're basically an idol, right, Miss Otonashi?"

    I emphasized on the word, 'basically'. From a normal point of view, that should be right. The her now before me was really unlike an idol, so I couldn't help myself from confirming it again.

    "Nn, yeah, I think."

    `"Idols don't need skills like playing dumb or ranting, right?"

    "Ah? What kind of silly things are you talking about? Nowadays, if I were to throw a stone outside the window, I would probably hit an idol. If I want to survive in this world, I have to have something special!"

    Ah! That is correct. When I watched late night television shows out of boredom, I did see some idols have special interests and use that to sell themselves.

    `"I still feel that your overall direction is a little off?"

    "There's nothing wrong about it!"

    Is...Is that so......She has set her mind to it.

    "I played dumb, just to be ranted, but I don't understand what's everybody worried about. Stepping back and thinking about it, if it was worrying about how to accept me, then I don't think there's a problem. But everyone is so courteous just because I'm Otonashi Minamotofutoshi's daughter! When are they going to stop caring about someone who is already dead!"

    Of course they would care. Especially from the point of view of the people in that career, Mr Otonashi Minamotofutoshi is a god-like figure. His passing just accelerated his deification.

    I have always heard that, the second generation of actors would be carrying the sacred halo of their parents as they debuted. However, people like them, should also have gone through a lot of hardships because of their background.

    "Moreover, that old man isn't really someone to be respected anyway."

    This famous actor, would he be a completely different person in front of his family? Eh, or was it that, Miss Otonashi's two-faced facade was actually inherited?

    ......Eh? I still remember that, Miss Otonashi's father, had passed away before she reached the age when she was sensible.

    `"Miss Otonashi, do you still remember about your father?"

    I asked without thinking much. That was because I remember Miss Otonashi had once, in an interview for a magazine, said something about having no impression about her father.

    However, Miss Otonashi's reaction was completely out of my expectations.

    "Eh? Ah~right, you're my fan......Um, it's not that I don't remember anything at all......you could say that I have some impression of him."

    For whatever reason, her attitude appears to be obviously shaken by this.

    "......Hey, do you believe that there are ghosts in this world?"

    `"Huh? Ghosts?"

    "No, it's nothing."

    Miss Otonashi shook her hand while pressing her temples.

    Just as I tried to think of a way to react to her strange speech and demeanor, the door to my room suddenly burst open.

    "What happened?"

    Woah, that's not good! Has she found out......

    A problematic person has appeared.

    Entering the room of a boy in youth without knocking, this act has surpassed normal alertness levels.

    "Eh, is there a guest?"

    Glasses atop a demure nose, this is my sister. The glasses were not because of her vision, but the idea that "boys would like a girl with glasses, right?". Currently studying in a private secondary girl's school as a second year student. No matter how you look at her, just tells you that she was something you have be alert of.

    Even though she said that it was to show off the charm of a mature woman, so she started to grow long hair, but her height and chest size remained to be that of a little adult in development.

    "This is bad~there's such a cute girl in my brother's room......I don't understand."

    No, can you please understand! Even though I also feel that this was incredulous, but you have to get a hold of the current situation, at least!

    "Ah, right. In the world of adults, there seems to be a kind of trade where you can pay money, and have a pretty girl come to your house right?"

    `"There's something like that, alright! But it's not like that now! She's the neighbor next door who has just moved in!"

    The charm of a mature woman, is not something you give out for know all kinds of mature stuff, you know. I have always felt that this person was putting her effort into the wrong thing. First of all, shouldn't she get some nutrients like milk and other healthy stuff? Even though I don't even know if that would make her chest become bigger!

    "Oh, sorry. So that's the case. Well then, please allow me to reintroduce myself. Good evening, I'm Tsunemura Ryouto's sister, Tsunemura Ako. I like the word, 'Ko'(好), which is formed by the two characters, 'K'(女), and 'O'(子), very much. I look forward to being in your care." (Note: 好 means good, or like, which is formed by the 女, meaning woman, and 子, meaning child. I don't understand what's strange about it though...)

    What kind of introduction was that?

    "Pleased to meet you. I'm Otonashi Madoka who just moved in next door. I look forward to being in your care too, Ako."

    In contrast, Miss Otonashi's self introduction was pretty normal. The sentence, "I'm a seiyuu wihout a voice", seems to be used only at work.

    "Miss Madoka......can I call you Onee-san?"

    `"Ako?"

    What was my sister talking about, has she slept too much?

    "Actually I have always wanted a big sister, not a big brother."

    This is my first time hearing this! And I'm also a little hurt!

    "It's because, boys always have that horrible smell of mud, sweat, and genitals......"

    `"Go back! Go back to your own room!"

    "No, no, I can't! If I were to leave there would be danger, especially for Miss Otonashi!"

    `"You're much dangerous!"

    "Sob, sob, today really is my dangerous period....."(Note: Um, do I even have to explain that dangerous=fertile?)

    `"Uh......Um~About that, I would like to forget what I have just heard."

    "Sob sob sob sob sob......But I digress, haven't I seen Miss Madoka somewhere?"

    Ako ignored me and slightly tilted her head as she looked at Miss Otonashi.

    "About that, I'm currently working as a seiyuu......"

    "Oh, I see. I saw that in my brother's room."

    `"When did you see that!"

    It seems that there really is a need for me to lock my door!

    "However, this is really quite the coincidence. I have never thought that you would move in next door......but I digress again, Miss Madoka looks really pretty in person. Sigh~It makes me feel so jealous."

    "Don't say that, Ako you are pretty cute too."

    "No! No, no, no! I just try my best to look clean and tidy, that's all!"

    Seriously, no matter on the matter of clothes or bags, my parents really dote on my sister too much. Even though we were not some rich family, but they tried their best to let Ako study in a noble girls' school, that's just too much of love there. Also because she was surrounded by girls, so she learnt some strange knowledge......

    "Our mothers seems to talking happily downstairs, Miss Madoka, shall we go downstairs too? If we stayed here, who knows if we would get stung by some strange bug."

    What strange bug! I kept my room spot clean to protect my precious collection, you know! Ah, so that's it, the supposed strange bug was me, wasn't it!

    My mum's loud laughter traveled past the wide open door into my room.

    "You're right, let's go."

    So the two of them prepared to leave me in my room. Just do what you want, I don't care about you guys anymore.

    Just as I was thinking like that, Miss Otonashi suddenly turned around and walked back.

    "Right."

    `"Um?"

    "If you were to tell anyone else about me, I would also tell about how you peeped on me while I was changing clothes on a web blog or something like that too."

    I guess "about her" would mean the real side of Miss Otonashi? It seems that she was still self-conscious about this.

    However, posting this kind of stuff on a web blog is too much......if that were to really happen, wouldn't other fans that were deceived by Miss Otonashi come and hunt me down......

    After Ako and Miss Otonashi finally left, I was left alone in the room.

    My room suddenly became silent, but I did not feel a shred of loneliness.

    Sigh, today was a tiring day. I finally got a break. However, there were really too many things that have happened, eh?
  .center
    a(href="./index.html") 
      h4 Back to main page
  br