extends ./template.jade
block content
  .center
    h2 Notes:
    :markdown
      This is a list of stuff I've translated. I did not put up [ZnT v21](https://www.baka-tsuki.org/project/index.php?title=Zero_no_Tsukaima#Volume_21_-_The_Truth_of_6.2C000_Years_.2F_.E5.85.AD.E5.8D.83.E5.B9.B4.E3.81.AE.E7.9C.9F.E5.AE.9F) and the [Tokage No Ou teaser I did](https://www.baka-tsuki.org/forums/viewtopic.php?f=15&t=5549#p174147) because it's not completed.
    h4 Stuff that I am translating
    h4 Zero No Tsukaima v21 Chapter 3 (March 7 2016)
    h2 Stuff that I have translated 
    h4.col-md-12
      a(href="https://www.baka-tsuki.org/project/index.php?title=Zero_no_Tsukaima") Zero No Tsukaima (Baka Tsuki link)
    .col-md-4
      h4 
        a(href="zntv16c9.html") Volume 16 Chapter 9   
      h4
        a(href="zntv17c4.html") Volume 17 Chapter 4   
      h4
        a(href="zntv17c5.html") Volume 17 Chapter 5   
      h4
        a(href="zntv17c6.html") Volume 17 Chapter 6   
      h4
        a(href="zntv17c7.html") Volume 17 Chapter 7 
    .col-md-4
      h4
        a(href="zntv17c8.html") Volume 17 Chapter 8 
      h4
        a(href="zntv17c9.html") Volume 17 Chapter 9 
      h4
        a(href="zntv20c4.html") Volume 20 Chapter 4 
      h4
        a(href="zntv20c5.html") Volume 20 Chapter 5 
      h4
        a(href="zntv20c6.html") Volume 20 Chapter 6 
    .col-md-4  
      h4
        a(href="zntv20c7.html") Volume 20 Chapter 7   
      h4
        a(href="zntv20c8.html") Volume 20 Chapter 8   
      h4
        a(href="zntv20c9.html") Volume 20 Chapter 9    
      h4
        a(href="zntv20cE.html") Volume 20 Epilogue  
      h4
        a(href="zntv20cA.html") Volume 20 Afterword
    h4.col-md-12
      a(href="https://www.baka-tsuki.org/project/index.php?title=Aidoru_Wa_Tsukkoma_Reru_No_Ga_Suki!") Aidoru Wa Tsukkoma Reru No Ga Suki! (Baka Tsuki link)
    .col-md-4  
      h4
        a(href="atkv1cP.html") Volume 1 Prologue
    .col-md-4  
      h4
        a(href="atkv1c1.html") Volume 1 Chapter 1