extends ./template.jade
block content
  h1.center Volume17 Chapter 6: Damien and Gondrin
  br
  :markdown
    Eleonore sat in her chair in the Research Room, her left hand going back and forth, grasping the papers on the table.

    She rubbed her temple with her right finger, a habit that happened every time she met something bad, she would shut her eyes, shape her lips into a pout (like this: へ), and rub her temple vigorously.

    Her expression now was the spitting image of her younger sister.

    "However, that kid.......still hasn't come back?"

    After hearing about Louise's disappearance, Eleonore simply thought, "It really is just a child's play."

    After living together for some time, their true selves, along with all their faults, would reveal themselves. She initially thought Louise was just sulking, and that she would return home quickly, right? However, things went contrary to her wishes, and there hadn't been any news about Louise yet.

    Eleonore had started to get a little worried, and had decided to personally visit Des Onieres to get the details from Saito.

    "Now is not the time for that."

    She casually took the document that she had just ravaged. It was sent this morning.

    "The heck?......this time I got hit?"

    On the paper was her appointed research topic, which was also quite a peculiar topic.

    "'A magical item that could release Alchemy for a substantial period of time' ? What the heck are those people trying to do to me, the one in charge of the Founder's sculpture?"

    There must be something behind all this......with that in mind, Eleonore stood up. Picking up her cape, which had been hung on the wall, she draped it over her slim figure, she put on her hat, which was the on the corner of the table, on her head and a majestic Academy researcher was then born.

    "Seriously......those guys on top there, I can't stand them anymore......"

    While mumbling, Eleonore exited the research office, and locked the door offhandedly.

    "Academy", refers to a magic tower of thirty levels. In the outer ring of the towers, a long corridor linked all the rooms.

    In the center of the tower, there was a "lifting device", powered by wind stones, to travel between the levels. It looked very similar to the "elevators" of Saito's world, pulling a lever in front on the entrance of the lifting device, a cage will drop in front of them.

    Walking into it and then saying her destination, "Top floor", the cage began to rise with the glow of the eyes of the in-cage statue.

    Reaching the top, the first thing to enter her sight was a steel door decorated with an pentagram. Sensing the visitor, the eyes of the statue on either side of the door glowed and turned their gaze to Eleonore.

    After a brief confirmation of her identity, the door opened.

    "......"

    No matter how many times she had come here, this place still exuded a powerful pressure. Behind the door was the entrance room to the Academy Head Office......the place where the masterminds behind the administration of Tristain went about their business.

    There was a door on either side of the entrance room. Behind the table in the dead center of the entrance room, a woman who had been writing official documents lifted her head after noticing Eleonore's presence.

    "Ah, if isn't that Miss Valliere. May I ask what brings you here?

    She was the secretary of the Academy President, Miss Valentine. A woman of extreme rationalism and an ice-cold heart. Even though she was about Eleonore's age, they were not really friendly with each other. In other words, she was a troublesome woman.

    "I want to meet Gondrin."

    Miss Valentine straightened her figure and asked Eleonore, "Did you make an appointment beforehand?"

    "No, I didn't."

    Hearing this, Miss Valentine showed a difficult face.

    "Then, I'm sorry that I cannot arrange for such an unexpected meeting. This is protocol."

    Upon hearing this, a few angry veins emerged on Eleonore's forehead. Her brow quivering with agitation, Eleonore stepped maliciously towards the secretary.

    "Don't take me as some palace official or some schoolgirl from the country side. Can you send word that the Head Academy Researcher, Miss Eleonore de Valliere is requesting for a meeting?"

    "I'm, of course, very clear with this, but even if it were Her Majesty herself to come, my reply would remain the same. 'This is protocol.'"

    The angry veins on Eleonore's brow increased exponentially. She moved her face dangerously close to Miss Valentine's and said with a voice, trembling with anger, "You're really thick-headed."

    "Until now, the number of academy researchers who tried to force an entry through here is one, and that's you, Miss Eleonore. How about you learn a little manners from others. If you had done that, perhaps you would have been much more successful with your marriage......"

    Laughing coldly, Miss Valentine said the taboo word.

    Eleonore chuckled coldly while whipping out her wand, pointing it to Miss Valentine's nose. At the same time, Valentine's wand was also whipped out, pointing at Eleonore's nose.

    "Anyone in the academy who attacks with magic will be excommunicated......you should know that very well."

    "Nobody will use attack magic. I just want to use magic to close that annoying mouth of yours for a while."

    In this tense atmosphere, a sharp voice from the crystal transmitter on the table suddenly pierced the air.

    "Hey hey, you two, stop it!"

    Facing the transmitter, Eleonore yelled, "Gondrin! I'm just giving your secretary a little lesson on social etiquette."

    "Yeah, yeah......seriously. Come in then."

    Just then, the door on the left opened. Before leaving, Eleonore shot a vicious glare at Valentine.

    The room was filled with a myriad of magical items and luxurious decorations. In the dead center of the room that looked like a tumbled toy box stood a gaunt old gentleman.

    He had a silver crown and a meticulously trimmed mustache under his nose. Even though he looked neat, it was hard to sense a powerful aura around him. This had also caused him to be easily forgotten and underestimated.

    And such a man was the president of the "Academy", Mr Gondrin.

    "Seriously......what is it this time, Miss Valiere?"

    Gondrin, who stuttered and mumbled, watched Eleonore slowly stepped closer to him.

    "It's not simply a matter of 'what's it this time'!" Eleonore yelled straight to his face. Gondrin, who already had a weak aura about him, withered.

    "Don't yell that loud...... this old man is a bag of old bones you know......"

    "Of course I'm yelling! Please give me an reasonable explanation for this research command." Eleonore thrust out the document.

    "Aah......about that. Nn, actually, it's regarding a repeated request from a VIP from the palace......"

    "Even though I don't think this is heretical, it doesn't follow the traditional research topics of the 'Academy'".

    "What you're saying isn't wrong, but an old man like also has his stand on this subject......"

    While wiping away the sweat on his brow, Gondrin took a glance at Eleonore.

    "What are those palace guys thinking? Not long ago, Bailey was also commanded to do some strange research......"

    "Meh, meh......This old man doesn't know anything......"

    Straightening her shoulders, Eleonore squinted angrily at Gondrin.

    "Are you hiding something?"

    "This old man?! Hiding something from you?! Impossible! This old man has nothing to hide!" Gondrin nervously waved his hands.

    "Really?"

    "O-of course! Nn, about that, even though I'm not sure what assignment the palace government gave you, they should have their own concerns. Helping them out now is not a bad idea. Miss Valliere, this old man remembers that you once placed an order for a high speed magic cauldron, right?"

    "Uh huh......"

    That was the Achilles's heel of her research. No matter the topic of research, money is always needed. Even with the academic investment of Tristain, the budget allocation here is still quite limited.

    "I'll just increase the priority for the research budget of the 'Earth' department, how about that? I'll try my best to convince the board."

    Eleonore's brow furrowed again. Even though she was very conflicted, in the end, she still replied with a hesitating voice, "B-but, to start such a unconvincing topic......"

    "What are you talking about? You're not a student anymore. Research requires creativity, right? We at the 'Academy' are no different."

    "......"

    Gondrin rested his hand on Eleonore's shoulders. "As long as I can help impressive researchers like you work in a more comfortable and complete environment, it's nothing for this old man to work a little harder."

    ".......Two more M-Mandragora fields will do fine." (T/L: Mandragora is the scientific name for "mandrake", which is a herb)

    "That's that then."

    Certain of her victory, Eleonore happily skipped out of Gondrin's room.

    After closing the door, Gondrin heaved a sigh and plopped back to his chair. A small shadow quickly hopped out from the curtains.

    It was just a ten year old boy.

    With a head of blond hair and a face with a mischievous expression, he looked out of place with the room. The youngster said happily, "Smoothly done, Gray-sama."

    "That Eleonore de Valliere is certainly a tough nut to crack......even though her skills are extremely proficient."

    Gondrin then turned towards the youngster and spoke with a very troubled tone, "Then you must have heard it. Even with your orders, we require a huge amount of monetary investment. Two hundred thousand ecus is impossible. One hundred thousand ecus at most. That's the best we can do."

    "Is there no other way to get more investors?"

    "Maintaining a tradition also requires money......if we took any more money, then the administration body of the country itself would be in trouble."

    "Maintaining tradition is just wishful thinking on the part of Tristian nobles, right?"

    Gondrin leaned back on the chair. "Yup. However, we have satisfied all the willful requests you've made from us, so how about we be the ones to make the willful request this time,eh?"

    Damien thought about it for a long time.

    "One hundred and eighty thousand ecus. Not one less."

    "One hundred and twenty thousand ecus.

    "Don't be that inconsiderate." Damien shook his head. It was quite unimaginable that such words will come out of a ten year old boy's mouth.

    "Can't reach an agreement, eh? I just can't get it through my head; what do you need that much money for?" Gondrin asked.

    "We have a dream."

    "A dream?"

    "Yes, a dream."

    At this moment Damien's face started to show the angelic smile of a ten year old.

    Eleonore, who had returned to her research room, threw herself down on the table.

    "Why am I always the one to give in.......the person I am......"

    The recent "Academy" is getting stranger. Bizarre research topics one after another......Commands from the palace? Who will it be? Or, is it really so?

    Even so, how does someone like me who's working their heart out in the Academy understand the inside story of these matters?

    Right. Eleonore suddenly thought of something.

    How about she try asking Louise about it?

    "Ah."

    Remembering that Louise just ran away from the house, Eleonore's shoulders drooped again.

    "That kid, where and what is she doing......?"
    
  .center
    a(href="./index.html") 
      h4 Back to main page
  br