extends ./template.jade
block content
  h1.center Volume20 Chapter 6: Joint Committee on Holy Land Restoration
  br
  :markdown
    The capital of Gallia, Lutèce. A meeting about forming the 'Joint Armies of Holy Land Restoration' was being held in the Versailles Palace located in the suburbs.

    Sitting in the main seat of the spacious conference hall was the pope, Vittorio Serevare. Julio, acting as the pope's assistant, stood behind him like his shadow.

    The recently crowned queen of Gallia, Josette, ceded the main seat to the pope and sat on the right side even though this land was her dominion.

    However, she was currently occupying the throne under the name, "Queen Charlotte". Josette was actually the twin sister of Charlotte, also known as Tabitha, but to avoid strife, this fact has not been made known to the public.

    Meanwhile, Henrietta sat on the left side of the pope. On her side was the Germanian emperor, Albrecht III.

    Generals and ministers from each nation took the rest of the seats all the way to the other end of the table.

    A heavy atmosphere hung in the conference hall. The first one to break the silence, was Albrecht III of Germania.

    "Your highness, I have a few things that need some explaining, would that be alright?"

    Albrecht said, maintaining his haughtiness before the pope,

    "Please go on."

    "Since we are discussing about creating the joint army to reclaim the Holy Land, do we really have a chance of winning if we just attacked the elves head-on?"

    "This is not about having a chance of winning or not. We're about to lose our homes."

    "Even if you say that, if we were to simply declare war without thinking it through, it won't end well for us. You should know that doing this recklessly will not only cause our destruction, but also accelerate our own extinction."

    "We have a trump card of our own."

    "Ah."

    Albrecht III deflated immediately.

    "And what will that be, exactly? I've heard rumours around. About the revival of the real 'Void Users'."

    "That's exactly so."

    "The legendary element, 'Void'. If this is true..."

    Albrecht looked around him, only to see that everyone looked serious. Mm... He nodded while stroking his beard.

    "So it's true then."

    After that, he put on a serious expression himself.

    "Why aren't you surprised?"

    Henrietta asked, a little shocked.

    "Did you wish for me to be surprised?"

    Henrietta hung her head in shame after he said that. She had always treated him as a fool in her mind.

    "Well, I mean, in this day and age we have continents floating up into the air, so it isn't a stretch that legends turn out to be real. However, it's too early to placate me with just this fact. I'm not the same as the likes of you."

    Albrecht III said that with the cold expression of a realist. He knew very well of the running joke that his country, Germania, was a country of nouveau riche boors. However, it was clear from his face that his aspirations never faltered in spite of the contempt others had for his people.

    "In other words, you want to see the real power of the 'Void'."

    Albrecht III's mouth curved up in a smile, as if he had been waiting for this question all along.

    "It not only had the power to destroy the Albion air fleet completely, but it also could create large scale mirages in the air... Indeed, that's very impressive. However, we still don't know if this is even effective against the elves."

    "Doesn't everyone here know that this is the power of the 'Void'?"

    "Even for me, I have only witnessed it from far. However, as far as I know, it isn't possible to use the 'Explosion' spell that had destroyed the Albion air fleet anymore. This is due to the fact that using it will use up one's mental will! I'm not wrong, am I? I can't believe that such previous mental will was wasted in our infighting."

    Henrietta looked at the pope uncomfortably. To tell the truth, she had similar doubts. The 'Void' magic that Louise and the pope was able to use was very strong, but would they still be able to use it against the elves in such a liberal manner?

    There was also the question of how effective it would be if they used it.

    In addition to that, Saito and Tiffania had been captured. Louise had also left to save them. In this case, there were only two 'Void Users' left, the pope and Josette. Was this really enough to form the joint army and reclaim the 'Holy Land'?

    Albrecht III continued to press on and said,

    "Your Holiness, what do you think is the determining factor in a war? Diplomacy and strategies... might be what you were thinking about, but these are all useless. It is only power, raw power that determines the victor of a war. I only want to know, if we are the ones holding that sort of power."

    "Your Holiness, I agree with what Germania has said."

    Henrietta was also thinking of the same thing.

    "Not only that, we also have a lack of 'Void Users'. Are we really able to win against the elves like this?"

    "There is no need to worry about this. We have already set in motion plans of our own."

    "Is this true?"

    "Yes. I've already sent someone skilled on that."

    Henrietta was extremely worried about them. For Henrietta, they weren't mere pawns of war, but her trusted friends.

    If it were possible...

    Since they were "captured", it means the elves did not plan to kill them. What about Louise, who had entered the land of the elves? She did not get captured too, did she?

    "I should have stopped her then, even if I had to tie her up by the neck", Henrietta thought as she chewed her lip.

    "Could you please inform me as soon as possible if there are any new developments?"

    "Certainly. Well then, I shall answer your questions. Even if the four of us could not come together, our own magic is still very powerful. However, since we can not use this magic at a whim, I can only ask you to trust us."

    "And how do you expect us to do that!"

    "The Gallian Queen, Josette, sitting has the power to cast a much powerful 'Explosion' spell than what Miss Valiere had done back then."

    "So, you're saying that that spell can be used again without fail? And it will be of an even bigger scale?"

    Josette, who has been silent the whole time, finally spoke up.

    "Yes. I've learnt a few new spells, even if I have not cast them before. However, there is no mistaking this powerful feeling I have within me. As for its power..."

    There was a short moment of silence in the hall.

    "Can we take that as proof that you will not renege on your words?"

    Josette smiled when she heard such a question.

    "Well, if my performance can't satisfy you, then I shall cede half of my country to Germania. However, that is made under the assumption that we both still have land to rule over after this is over."

    Albrecht III shot a death glare at Josette before taking in a deep breath.

    "...Alright, I'll put my faith in your words."

    Vittorio smiled as he nodded.

    "Well then. We will be going deep into enemy lines to save our 'brothers', before reorganizing ourselves into a larger force and go straight for the capital of Nephthys to reclaim our 'Holy Land'."

    "After that, we would be able to activate the dormant magic device, and save Halkeginia from its current crisis. Is that correct?"

    "Yes."

    However, Henrietta's sharp eyes caught a flash of gloom on Vittorio's face.

    "...In other words, I could only wait for Louise and the others to return?"

    "That is all you need to do.", the pope said with a tense face,

    "We will create an diversion to increase our chances of success. We must attack them with haste!"

    Hearing the pope's high-spirited words made Albrecht III laugh out heartily.

    "Did I say anything strange?"

    "No, not at all. It just that, hearing such fiery words eased my mind. I see, nothing ventured, nothing gained. Alright then, I'll do it. No matter what, we don't have a choice anymore."

    "Alright then, I will leave the details of forming the joint army to you two."

    Having said that, Vittorio stood up. However, he noticed that Henrietta still looked distressed.

    "Is there anything worrying you?"

    Vittorio asked.

    "No..." Henrietta shook her head. Vittorio then left with Julio. Josette left shortly after them.

    Henrietta watched Vittorio leave. She felt that he was hiding something from her.

    "This man, has concealed something from us, and it seems to be something important."

    Vittorio pressed his temple after he has returned to the room that had been prepared for him. He seemed to be thinking about something, and shook his head.

    Julio smiled and spoke as he noticed his master's antics.

    "Are you exhausted?"

    "It's still early."

    "You know, sometimes I'd like to just say the truth."

    "Me too."

    "How I would like to tell them that the 'magic device' doesn't exist at all, or that even if the four legendary familiars come together and use the absolute 'Void Magic', we still wouldn't be able to prevent the land from rising to the air."

    "Ah, how carefully we guard these truths."

    "And yet we're still claiming to retake the 'Holy Land'... No, because of that, that's exactly what we should do."

    "Ah."

    Vittorio nodded.

    "A battle in hell awaits."

    "Agreed."

    The both of them looked at each other after that before breaking into sardonic laughter.

    "Will we, be able to cope with all this?"

    "We don't really know, until we've tried it."

    Just as they were having such an conversation, Josette pouted as she said, "What're you guys babbling about? Isn't today an important day?"

    "That's right."

    Vittorio and Julio stopped laughing as they turned serious again.

    Julio asked Josette, "Are you ready?"

    "I've prepared everything. I don't plan to let anyone except Julio to be my familiar anyway."

    Vittorio gently reminded her, "Josette, Julio is already my familiar, you know."

    "I knew that. However, didn't your Holiness said before? A strong sense of longing, has the power to pull a familiar to my side."

    "Mm."

    "A long time before, when founder Brimir was summoning the fourth familiar... he managed to 'Re-summon' the elf girl who had already become a familiar. That's definitely because founder Brimir's loved her dearly."

    "Yes, exactly so." Vittorio said so as he was reminded of something he wrote on the "Legacy".

    That's right.

    During the time when founder Brimir summoned the last familiar, he successfully summoned the elf girl Sasha, who had already become Gandálfr.

    "The familiar of 'Zero', will only be summoned through two means. The first is 'fate', and the second is 'love'. Am I right?"

    "Yes."

    "Well then, it would be perfect if Julio became my familiar. Meeting Julio back in Saint Margarita's was my fate. Not only that, there is no one who loves Julio more than I do. This feeling of mine will never be lesser than what founder Brimir had felt."

    "Is it really that powerful?" Julio asked with a mocking tone.

    "Hey! Don't you believe me!"

    "No... It's just that it's too hard to love someone that strongly. Maybe you've never thought that you actually don't love me that much. Didn't they say the love is just like measles. It goes as fast as it comes."

    "In other words, I'm obsessed with the idea of loving you? You're trying to say that this feeling of mine, is not 'love'?"

    "No, that's not what I meant. I just want to say that the feeling of yours might not be that strong. Hey, Josette, I'm only saying this because I'm worried about you. Wouldn't you be devastated if the familiar you summoned isn't me?"

    After hearing this, Josette's expression turned somber.

    "Devastated? If, the familiar I summoned isn't you, I will end my life right here and now."

    "Hey, don't make such jokes..."

    Julio suddenly noticed how serious Josette looked when she was saying this.

    "I'm not joking about this. Isn't this what loving someone means? I have already decided this when I left Saint Margarita's. I will follow you all my life, because I love you. If my love for you isn't real, then that would also mean that my determination then was a lie. For me, there is no point in continuing such a life."
  .center
    img(src="img/ZnT20_157.jpg.jpg")
  :markdown
    Josette took out a pistol that was hidden in her dress.

    "Hey, Josette, that is not a toy, you know."

    "If, I can't summon you, if I'm unable to make the 'Gate' appear here, I'll shoot myself."

    Julio silently thought about how he was going to remove the pistol from Josette's grasp.

    "Don't come any further. Take one more step forward, and I will blast my head open immediately."

    Vittorio watched her with amusement and laughed.

    "You've lost, Julio."

    Julio could only shake his head, troubled. He then swiftly unsheathed his sword.

    "I understand. If the one that you summon is not me, then I will slit my throat with this sword."

    "This is none of your business. This is only about the sincerity of my 'love'."

    "You naive child. The sincerity of your 'love', is also important to me. If the 'love' you speak of is not real, then there is no meaning for me to continue living."

    A tear emerged from Josette's eye as she heard this. She was so touched that she could only mumble,

    "I love you, Julio."

    "I love you too, Josette."

    Josette held the gun in her left hand as she lowered her head and chanted the spell. The runic melody of the 'Summon' spell filled the air around her...

    Julio and Vittorio stayed hushed until the spell chanting was complete.

    After that, Josette gingerly waved her wand. Even though only a few seconds has passed, Julio and Josette felt as if they have experienced an eternity.

    With a crack in the air, as if to shatter the grave atmosphere surrounding them, a gate appeared in front of Julio... Josette collapsed to the ground.

    "Josette!"

    Julio rushed to Josette's side anxiously, and carried her up. Josette gradually open her eyes.

    "Don't worry, I'm just exhausted..."

    Julio snatched the gun away from her, and threw it to the corner.

    "You foolish girl! Were you really going to die if the gate is not opened?"

    "Of course I was."

    Julio stood up, and walked through the 'Gate'. He appeared before Josette again. It looked just like he went through a plane of light.

    Just as Josette wanted to kiss Julio, he stopped her.

    "What happened?"

    However, Julio did not answer her and instead looked at Vittorio.

    "If no runes appeared on my chest, then that would be the case, right?"

    "Yes. However, we could say there is zero chance for that not to happen. Josette substituted King Joseph as the new the 'Void User', and as such, the familiar should heed her summons."

    "Just like how Miss Valiére had Gandálfr?"

    "Mm."

    "...Then I'm relieved. I don't fear dying for the Church, but I do have plenty of things that I've always wanted to do."

    Josette looked confused and asked,

    "What do you mean?"

    Julio remained silent for a while before shaking his head.

    "It's nothing. You don't have to worry about it, Josette. Let's proceed."

    Josette continued chanting the spells.

    "My name is Queen Josette of Gallia. Pentagon of the Five Elemental Powers, bless this humble being, and make him my familiar..."

    And then, Josette kissed Julio.

    Julio felt as if his forehead was burning and touched his forehead.

    "Are you okay, Julio?"

    Julio hugged Josette.

    "It's alright... compared to the pain in my chest, this little pain on my forehead is nothing."

    The pain on his forehead, bore the heavy truth that he was not "Lífþrasir". The heavy and painful truth burned in his heart...

    Julio's heart throbbed in agony as he spoke softly,

    "We've really, recreated founder Brimir's brilliant achievement, eh?"

    "Mm, the first summon was due to 'fate', and the second due to 'love'. We've repeated the miracle where founder Brimir fell in love with his familiar."

    Vittorio nodded satisfactorily and said,

    "Well then, the last one would be Tiffania's familiar... Ah, the irony of it all. The familiar of such a gentle girl, would be the bearer of such a cruel fate."

    "All of these will be for us, the clan of the 'Magi'. No matter how cruel the fate, we will always have to accept it, for the benefit of the clan."

    Julio closed his eyes, and spoke as if he was singing,

    "How cruel this fate is, being the 'Void' that will be revived no matter how many times we get killed."

    Vittorio agreed with him, and said,

    "There is only one way to stop this."

    "So, we could only rely on 'him'."

    "Yes. If it were him, then he wouldn't make the same mistake as Sasha."

    "True." Julio nodded his head.

    "There's nothing to be worried about. He's a guy who stood in front of seventy thousand men to block them for Miss Valiére."

    "In other words, a guy who would definitely die for the person he loves."

    Julio looked out the east window.

    "If only they could successfully save him."

    "Definitely. I hope so too."
  .center
    a(href="./index.html") 
      h4 Back to main page
  br