extends ./template.jade
block content
  h1.center Volume20 Epilogue
  br
  :markdown
    The loud rumbling sounds and the constant motion shook Saito awake. He slightly opened his eyes, only to find himself in a cocoon-like cabin. He had been sleeping on a simple bed affixed to the cabin wall.

    "Are you awake?"

    Saito jumped at the question. He saw Arie looking at him with a snappy face.

    "Bastard! Why did you do that to Tiffania!"

    He wanted to get up and punch him, but he was restrained by Arie's subordinates, Madhav and Idris.

    "Hey, hey, don't be mistaken. I was the one who saved you. Even though it was just a coincidence."

    Saito then noticed Tiffania and Luctiana who were sleeping on the wall opposite of him.

    "Tiffa!"

    Saito quickly rushed to her side. Tiffania's body was covered in bandages. Her face and nose were covered with something resembling an oxygen mask, and tubes were inserted into her body. Luctiana, sleeping in a bed perpendicular to Tiffania's, received the same treatment.

    Even though Tiffania's eyes were closed, slight movements could be seen on her chest.

    "Is she still alive?"

    Arie nodded in response to Saito's question. "That's right. If we had come just a little later, then there was nothing we can do with the equipment we have here. We only managed to reach you after everything was over because we had to evade the Navy."

    Saito breathed a sigh of relief, and tears flowed down his cheeks.

    "Thank goodness... Thank goodness..." Saito repeated as he held Tiffania's hand in his grasp for a while.

    "Shouldn't you be thanking me too?"

    "Why did you save us?" Saito could understand why Arie would come to save Luctiana, seeing as deep down inside, Arie was in love with Luctiana. He would rather be branded a traitor of his people than watch the fiancée he loved get killed.

    "That's because if I save Luctiana, then we're all wanted people. So even if I don't want to accept this, I could only escape to the country of the barbarians... Gallia. It would be dangerous for us to go alone, so we need your help." Arie explained with a distressed face.

    "Where's my sword?"

    Arie pointed beside the bed, where Derflinger and a few small automatic pistols could be found.

    "We grabbed your weapons too, since you'll be needing them in the future."

    "What do you mean by that?"

    "The Navy... planned to have all of you killed. They failed to do that, so I would imagine that they will get very upset and start searching the area around the 'dragon's nest'... I believe that they will notice that we're long gone and send troops after us. No, they might have already did that. This is not some vacation trip, so at least help us a little."

    "Won't it be troublesome if we get killed?"

    Arie sighed. "We're not as united as you think we are. Maybe it's the same on your side too."

    Just then, Saito noticed that there was another young woman sleeping there. She was undoubtedly Fatima, who had previously shot at Tiffania without hesitation.

    "She's here too!"

    "We can't just leave her alone, can we?"

    Saito shot a hateful glare at Fatima. She seemed to have lost consciousness, and was snoring lightly. He was burning with the urge to jump on her and strangle her little neck. However, Saito suddenly felt that she looked very similar to Tiffania.

    I should stop, he thought in his head. After all, Tiffania was alive, somehow. If he had allowed himself to be possessed by anger and murder this woman... Wouldn't that make him the same as her?

    "If she does this again, I will never forgive her", Saito swore in his heart.

    After that, Saito looked outside the cabin window. He was surprised to find water outside the window. It seems that they were moving in the sea.

    "Isn't this a submarine!"

    "Submarine? This is a sea dragon ship, you know. Well, we haven't really used it much, so it's normal for you to be surprised."

    It seems that the Sea Dragon that had fought with Saito before was now towing the ellipsoidal ship. "You guys really like to use dragons to tow all kinds of things, huh", thought Saito.

    Saito stared at Arie.

    "Is there anything else I can help you with?"

    "There's something I would like to ask you."

    "More questions? You are really troublesome."

    Saito asked, straight to the point. "That 'dragon's nest' is the 'Holy Land', am I right?"

    Madhav and Idris immediately stood up, but Arie stopped them. "That is not my question to answer."

    Arie and Saito stared at each other for a moment.

    Just then... Tiffania, who had been sleeping on the bed, opened her mouth a little.

    "Saito..."

    "Are you awake? Tiffa!" However, it does not seem so. Instead, she was only calling out for Saito in her dreams.

    "Saito... Saito... Where are you? Don't leave me alone..."

    "Here, I'm here, it's alright now, you've got me by your side."

    "Saito..." Tiffania closed her lips, and silence returned to the ship.

    "I have to return to Gallia... to tell Louise and the others about this."

    Now was not the time to be worrying over Arie and Luctiana. It was understandable that they had helped him, because they knew things would end up like this.

    He felt his chest burn in pain as he held Tiffania's hand. Saito opened up his shirt in fear, and peered at his chest.
  .center
    img(src="img/ZnT20_229.jpg")
  :markdown
    There were unknown runes engraved clearly on his chest.

    "This is..."

    The runes of, a familiar...?

    He thought about how he made the contract with Tiffania before. Then, this really was... the contract of a "familiar"?

    An overlapping double familiar contract?

    Could this happen?

    Saito held on to Derflinger beside him. The runes on his left hand shone brightly. So he still has his Gandálfr powers.

    "Hey, Derf, what are these runes on my chest? Does this mean I'm Tiffania's familiar? Even though I've become Louise's familiar?"

    However, Derflinger did not say anything.

    A peculiar uneasiness crept into Saito's mind.

    The gradual revelation of the mystery around the "Holy Land", the runes engraved on his chest... A feeling that he was going to be dragged into a complicated and ancient darkness masquerading itself as 'destiny', this was the sort of opaque uneasiness that has eaten into his mind.

    "What... will happen to me? Louise..."

    Saito said as he faced the window. Twilight extended beyond the window, coloring the seawater around him in various shades of darkness.
  .center
    a(href="./index.html") 
      h4 Back to main page
  br