extends ./template.jade
block content
  h1.center Volume20 Afterword
  br
  :markdown
    Well, well, the story of Zero no Tsukaima is coming to an end. The mystery of the "Holy Land" is slowly being revealed. Likewise, what really happened six thousand years ago? To be honest, I would have never thought that I could have come this far, so there were a lot of emotions welling in my chest. Even though I plan to finish the story in another two volumes, I'm still worried if I could finish writing them. However, I should not be saying such negative things, and I should be giving it my all instead!

    My boy Saito, has also grown up bit by bit over the years. Well, teenagers tend to grow up after they have found their direction in life anyway. This has also been said by Louise somewhere in the story, though it was only for a brief moment. A brief but brilliant moment. Although the willful part of her and the core of her personality will never change, there is bound to be some other part of her that will undergo a metamorphosis of her own. The girls are not the only ones who have undergone development, you know. As a buddy of almost every boy and young men out there, I also want to cheer for the guys in the story. Even if I won't be doing anything specific at all.

    In any case, a young man with passionate dreams of upholding justice will always be a radiant symbol to others.

    I sincerely hope that everyone reading this book will also find "something that they want to do". Although it might be hard to find it in this day and age; however, no matter the era, it will always exist. The "something you want to do".

    There are still some things I have to mention before the end. Even though we're almost near the finish line, I still want to thank Mr. Eiji for your beautiful illustrations for this volume! You've not only increased the quality of the illustrations, but also your drawing speed every year. That is really impressive, Mr. Eiji is really a special person. I'll have to reflect on that.

    There's also Mr. S, my editor. Mr. S was the one who made this volume possible. It has been seven years since we've first known each other, and I am very thankful for you being here all this time! It is not an exaggeration to say that Mr. S was the only reason that I got to hold on until now. I hope that you will continue putting in your all in the next volume! Thank you very much.

    Alright, everyone reading this volume, there's just a little bit left, so I wholeheartedly hope that everyone will accompany us to the end. Writing this made me feel like I was talking about a different life. There is no greater honor as an author than this.

    Well then everyone, please look forward to the twenty-first volume!

    Noburu Yamaguchi
  .center
    a(href="./index.html") 
      h4 Back to main page
  br