extends ./template.jade
block content
  h1.center Volume16 Chapter9 : Secret meeting
  br
  :markdown
    "Oh my......"

    Never thinking that the room of the palace was linked to Des Ornières, Saito and Henrietta sat on the bed of the underground room. It seemed that the mirror was a magical object that worked like a secret door, linking this room and the palace far away.

    "It's almost like a world door," according to Saito.

    "I'm afraid that it's something...... that uses that kind of power."

    Something that uses the power of Void...... The date when it was made remains an unknown, but it seems quite majestic. Even though its creator is also an enigma, someone that can condense the power of Void truly existed in this world, passing it on to future mages. That was Brimir that he once dreamt of, right? However, Saito knew nothing regarding this.

    On the other hand, because the wall on Henrietta's bedroom did not have this magic, the entrance there remained hidden until now. This was a blind spot; if the skill, Detect Magic, can't find it, then there was no magic present; that was the kind of thinking that had taken root in the mind of the nobles.

    "Of course, it should be that! This is a secret escape route, right?" Saito exclaimed. There was a norm in most plays of old...... The rooms of kings and his ministers should have some kind of escape route. That was what Saito thought.

    However, Henrietta shook her head.

    "I......don't think it's so. Looking around the structure of this room......In the past, the land of Des Ornières was the concubine room (E/N: referred to as an oda) of Father's or Grandfather's."

    "Concubine room?"

    "Yes. Also known as......even though it really isn't something to be proud of, it refers to lovers."

    Lovers......hearing this made Saito blush.

    "If it really was just an escape route, there wouldn't really be a need to build this room, right? Unfortunately, I think......it's to let the lover live in the rooms above ground and meet secretly with her here in this room."

    Looking around the place, it was filled with things coveted by lovers. On the wall with meticulous carvings and decorated with beautiful jewels......the canopied bed was large and the cloth used were of high quality.

    "Father, Grandfather, Great-grandfather......Even though I don't know who, I don't think I would be wrong. I know of the escape routes of the city, but not of this secret passage. That should means it's down to this."

    "......"

    "Sorry about that. However, it's strange. Father and Grandfather were once known as strict kings, but they also had such a side to them."

    It seems like Henrietta does not feel that her family was impure, but simply felt that they were not the stone cold statues she knew of. After the mystery of the identity of the room was solved, there was not much to it......but this unexpected result left Saito very nervous.

    Naturally......this being a place where lovers met secretly, but now he was sitting here with Henrietta alone.

    Henrietta seemed to notice Saito's inner conflict, so she said with a soothing voice.

    "I really didn't know about it. The land given to you being connected to the palace this way."

    "I understand. Don't worry about it."

    "Then it's settled then. It has been given to you in any case. I was just thinking when I should come over to visit you......how was the stay here?"

    Saito was at a loss of words. He can't really say that he never really stayed here, right? So he just muttered,

    "It's not bad. Strolling around here is quite refreshing."

    "Is it so? Then that's excellent."

    They remained silent for a while.

    Saito looked at Henrietta from the corner of his eyes. Henrietta, illuminated by the candlelight seemed to radiate irresistible sweet scent. This was a point that Louise could never match up to. Also......there was a hint of a valley in the center of the nightgown-like dress.

    Thinking back to the Henrietta just now, only wearing her underwear, Saito held his nose.

    Not knowing if she took note of Saito's inner conflict, Henrietta continued to talk nonchalantly.

    "I always had this......strange feeling."

    "Strange feeling?"

    What was the "strange feeling" she was talking about? Maybe it was......butterflies in her stomach kind of feeling?

    "Yes. Even though it is now peacetime, some other troublesome things pop out."

    A quiet voice was filled with emotion.

    "Yeah."

    Saito thought about the fight with Louise just now while answering.

    "I was looking forward to a time of peace, knowing that such times are hard to come by......but there are still many things that trouble me. This is really such irony."

    "Trouble?"

    Seeing as Saito asked, Henrietta answered.

    "To unite the nobles of the country, Mother and Mazarin are asking me to marry."

    Quietly, dejectedly, Henrietta spoke her piece. From her voice, Henrietta did not wish for such a marriage. Not knowing what to say, Saito was very disturbed.

    "I already gave up hope of marrying the person I loved. However......facing such a matter again still makes me very depressed."

    It seems that someone has already tried to matchmake her, so that she would tie the knot with some powerful noble in the country. To make hay while the sun shines during peacetime, the country's society should be consolidated. Saito finally understood that it was a classic power struggle of the court.

    "Do you really want to marry?"

    "Hmm......I still can't make a decision."

    Henrietta lifted her head to look at Saito. Her gaze, looking for someone to depend on made Saito stopped breathing.

    "Can you decide for me?"

    In a sudden, Saito didn't know what she was referring to.

    "Decide......what?"

    "Decide the path I should take."

    Saito bucked up and looked at Henrietta.

    "Meaning, the matter of marrying?"

    "Yes."

    Slowly, Henrietta nodded.

    "Why......me?"

    "I don't really know why, but when I'm troubled, your face will pop out in my mind. In the past, because of the incident of Wales-sama, from the bottom of my heart; I vowed not to love anyone again, but......how many times have I been saved by you? I now looked to you as my pillar of support, I don't know why, but I keep thinking about you. In my dreams, in the real world, I have only gone through love once, so I don't really know if this feeling is called love. However......the part about my heart beating wildly, this part is true."

    Henrietta lowered her head. It can be seen that her previous words,"I can only let you see the Queen side of me" was not true.

    "So that's why you chose me?"

    "No, not only that."

    Saying this, Henrietta grasped Saito's hands tightly. Even though his hands were just held, Saito's heart beat wildly. Louise, Tiffania, Siesta, Tabitha, Saito witnessed various beautiful girls, but Henrietta's beauty was different from its very core. She was not just beautiful, she has an attractive, irresistible, even devilish aura about her. Also, this irresistible aura can't be found in the majestic palace, but only in this sunless underground room, or even in that cheap inn.

    "Don't you feel the same way from me?"

    The Henrietta asking now, was not the face of the Queen, but it was that of a normal girl.

    Saito's breath almost stopped. Henrietta's words, one by one, were printed onto his heart. Yeah, during that time......he really tasted Henrietta's beauty, his heart beating wildly.

    Saito felt that his heart was beating wildly again, as Henrietta showed a cheerful smile.

    "The thing that night was really unforgettable."

    She then cheekily watched Saito's reaction from below.

    "At that time, you came at my lips like this......"

    Henrietta's face closing into his, Saito's body turned stiff. Henrietta gently hugged Saito's shoulders, and slowly joined her lips with his in one elegant swoop.

  .center
    img(src="img/ZnT16-201.jpg")
  :markdown
    A long time passed before Henrietta's lips left Saito's. A self-teasing smile surfaced on her face.

    "You won't say a word about asking me not to marry, will you?"

    "Hmm......"

    Saito asked his soul. Something along the lines of not sacrificing oneself for the country might seem easy to speak......but considering Henrietta's stand, that really seemed willful to do so.

    However......even if she was born to be a queen, should she stand to such a degree?

    "This has nothing to do with that."

    Saito realised it.

    There was not a need for such petty values, what's important was if his inner heart really wished for Henrietta's marriage. Is it really true that I......Saito shook his head. No, the person he liked was Louise......

    Saito felt extremely conflicted. Henrietta spoke with a hint of remorse.

    "Sorry, I didn't want to trouble you with this. Really."

    It could be said firmly that Saito's heart was shaken again.

    "Discussing this with you was really too willful. You're Louise's lover, but I still seduced you......I'm still the same as my Father and Grandfather who built this room."

    Henrietta lowered her head for a while before showing a lonely smile and standing up.

    "I'm really sorry, please forget it......"

    "Princess."

    Henrietta mumbled as if she wanted to leave everything in her heart behind.

    "I guess I'll have to marry. Mulling it over calmly, this really is the best choice. I won't be troubled by anyone anymore."

    Saito stood reflexively, holding Henrietta's hand, shouting,

    "No! Don't marry!"

    "Eh?"

    "Just agreeing to marriage without thinking it over is still quite strange. If you don't want it why can't you just refuse it?"

    Henrietta suddenly turned serious.

    "Are you saying that because you're pitying me? Or......"

    Seeing Saito at a loss of words, Henrietta smiled.

    "Why are you so troubled over this......I understand, you're a decent man. If it was someone else, they won't think twice and just commit infidelity. This isn't just to defend you, but I think anyside of you is true. I'm the same. You're the lover of my best friend, I should have forgotten about you long ago. But, there is another me in my heart who doesn't wish so, thinking, there's nothing to do with that. But......I don't think that's strange. Humans, are beings that are naturally conflicted."

    "......"

    "Thank you. Since you said it, I'll turn down this marriage offer. However, I won't ask you to replace that. Don't worry about it. It's just that, can we meet here, sometimes, like this again? At least I......No, nothing. Nn, just wanting to be friends. How about it?"

    Saito......slowly nodded.

    If it just was being friends, there's nothing wrong about that. However, can they really just be friends?

    Saito felt that he was weak. However......even so, he just can't refuse Henrietta. The dim candlelight or Henrietta's body amplified her charm, stimulating Saito's primal urges.

    Through the door slit, Louise, who watched the couple from beginning to the end, sat on the ground of the underground passage.

    "How did it turn out this way?"

    Her mind was filled with what she saw just now.

    Louise, who had a fight with Saito just now, only started thinking after she returned to her bed. In the end, she reflected on her actions.

    Just because she "didn't want Saito to be taken as a fool by her family", she unknowingly treated him sternly. She didn't know how to let Saito know of her true intention, but still stubbornly played around with the thought that "Satio would know even if she didn't say anything." Thinking here, Louise started to regret her actions.

    Holding her pride and emotions at bay, Louise jumped down from her bed and ran to the canteen. There was only Siesta, sleeping, blanketed with a towel. Saito was not there.

    Starting to worry about Saito, Louise looked high and low throughout the house before noticing the door to the basement ajar. After that......Louise walked along the passage where Saito had just walked to door of the underground room.

    When she saw Saito and Henrietta inside, Lousie's heart almost stopped from fright.

    She wanted to call them, but not a sound leaked out.

    At first, Louise thought that this was prearranged by Henrietta to meet with Saito secretly.

    But it was not so.

    From their conversations, it was obvious that the both of them had also just knew of the existence of this room.

    But hearing their conversation completely, that was not important at all. Henrietta once told Louise that, "If there was a need to do so, then she will take the will to do it."

    "She was serious about it."

    Also......Saito also seemed interested in Henrietta. After understanding this, Louise wanted to ask Saito and Henrietta about their infidelity, but she couldn't take another step.

    Yeah......it must be just as the Princess said.

    The feelings of both sides are true.

    Saito's feelings about herself was true, and so was his feelings to Henrietta. If as Henrietta's friend, her feelings were also true, then her feelings for Saito were also true.

    Both sides are true......then there are not any contradictions anymore. They are a perfect match for each other.

    When she knew of everything......her mind blanked out. Louise started to think,

    Does she have the right to blame them?

    That feeling that stirred inside Louise was not betrayal but a deep sadness.

    Just now, wasn't she unable to let Saito know of her true intentions and just got angry?

    Saito just kept tolerating her. Just like what Louise said, striving to look elegant. Even so, what did she say to Saito?

    "You'll just embarass me like that, you know? How are you going to dance with me during the ball?"

    Her inner doubts before coming to this house started to resurface in her mind. Inner doubts that were held down by her pride.

    Saito, who has become the country's hero.

    Saito, who is more alive than any of the heroes in ancient tales.

    "To Saito, am I really made out for him?"

    Just like before, Louise sneaked back to her room. Her brain turned slack. Trying to calm down, Louise finished packing her luggage.

    Louise, who just witnessed everything, concluded this.

    "I'm not made out for him."

    Just like that.

    To Saito, the hero who just saved the country, and also one who has many enemies, he needs a real protector. Even if she was called "the user of Void", she'd just keep attracting trouble. She would just get in Satio's way.

    If it was Henrietta, she will surely complete her grand mission.

    Anyhow, she's a queen of this country. If one were to be at her side, normal nobles won't dare to do anything.

    But all these are just petty reasons. There is only one true reason.

    The most important part is that......both of them match each other well.

    Since things turned out like this, where can she fit in?

    Blaming the both of them, crying in front of them, just doesn't feel right. This is because Henrietta can protect Saito better than she could ever do, she will also cherish him more than she ever could. Also, Saito......

    Actually likes Henrietta. He's just enduring it, just because he's worried about me......

    As the blow dealt was too harsh, Louise forgot to ask Saito about his true feelings. For Louise, Saito is much more perfectly matched with Henrietta than with herself. Louise did not notice that her thoughts now were a cause of her Inferiority complex.

    Louise just thought like this.

    It would be nice if she just disappeared. This way, everyone would be happy and completely enjoy the hard earned peace.

    "Being at my side just makes everybody uncomfortable."

    "It's so simple, Louise. If you really think that everybody is important, then you should do it."

    Her heart frozen by grief, Louise packed her luggage while mumbling. There was just one bag, nothing else. She then shortly looked around the bedroom. The house she lived with Saito. It was nobody's, but a castle of two......thinking, Louise let out her emotions.

    "I'm really happy. This should be enough for me."

    She should write something, a letter, so Saito would not worry. Louise took out a pen and paper. Thinking about something to write, Louise's mind was filled with various fantasies, substituting words, crying tears. Drop by drop, tears fell, the parchment wet with droplets.

    Louise squeezed her brain for something, but she just thought of one line. If she tried to write anything more, her sadness would paralyse her body.

    Placing the paper on the bed, hugging her bag, Louise opened the door and ran outside.

    Anyhow, she must leave Des Ornières. As for the future, she would just ponder about it now. Louise ran to the stable, riding on Saito's horse.

    "Sorry, but I'll find someone to return it to you later on......for now just borrow it to me for a while."

    She told Saito in her heart. Under the twin moons, Louise left, alone.

    She must hurry. Hurry, and leave Des Ornières. She didn't know when sadness would take hold of her body and render her motionless again, if so, she couldn't move another inch.

    The further she got from the house, the more her body felt like breaking apart.

    Louise felt like fainting......but she persevered, and rushed away in the dead of the night.
  .center
    a(href="./index.html") 
      h4 Back to main page
  br