extends ./template.jade
block content
  h1.center Volume17 Chapter 8: Josette's Resolution
  br
  :markdown
    Even though Josette said something like that to Louise yesterday, she was not really confident in herself......"From now on, I'll only come for you", if he really was just joking then......she would also have thoughts of running away from here.

    However, Josette did not want to give in to her fears. To her, the high priest from Romalia, Julio, is everything to her.

    Before meeting Julio, Josette has always thought that she would staying in this Saint Margarita Convent forever,bored for the rest of her life.

    However after his arrival, the dying embers of her gloomy life started to revive again......even though the time spent with Julio is short......but every second is filled with precious memories.

    That's why she cared so much about what Louise said.

    How can memories, as precious as jewels, be lies? Even though she didn't know what had happened to her before, but more importantly, her feelings and memories, will never be fake.

    Josette glanced at Louise, who was biting a large bread, at the corner of her eye. She looked like she had something on her mind.

    She gave the feeling that her heart was elsewhere.

    Is she still thinking about yesterday? Even though this thought flashed through her mind, it was quickly stamped out of existence.

    Compare to these, when was Dragon-kun (T/L:飞龙哥哥) coming here again?

    Three weeks passed since their last meeting.

    Josette sighed deeply.

    "Those jewel-like memories really makes other times become as boring as stones."

    She unconsciously remembered their last meeting when he brought that ring. The brilliant amber gem embedded in the delicate ring.....

    "It would be my pleasure if you can wear it."

    Julio's words echoed around her ears. After seeing that the ring fit snugly into Josette's finger, Julio nodded contently, before returning to telling stories about the city streets again.

    Even though he never repeated those words again.....but that sentence still left a deep mark on Josette's heart. If that ring is really mine.....what would Julio do to me?

    Will he give me the title of head priestess?

    Or, would he give me......something amazing?

    Just because she was still immersed in these fantasies, the sudden sound of flapping wings made Josette agitated. If it was some other time, she would have just put on a sour face, suppressing her deep passion and excitement while waiting, but she just could not stand it this time.

    Not caring about her breakfast that was barely eaten, Josette rushed out from the canteen.

    When the blue-scaled sky dragon came into view, Josette felt like crying. From the back of the sky dragon, Julio, wearing a white cape, jumped down.

    Without a moment's hesitation, Josette flew into his embrace.

    "Onee san."

    "Oi, oi, this shouldn't what a sister should do! And I thought this time I'm also going to look at someone's sour face, listening to her complain about something."

    Hearing this, Josette quickly let go of Julio.

    "I-I was going to do so, but, this time I didn't suppress it."

    She then lifted her head up, watching Julio with eyes shaking full of hope.

    "Can you stay a bit longer today?"

    Seeing Julio shake his head in regret, Josette's face darken with worry.

    "What happened?"

    "No......nothing. I just thought of a conversation with a new girl last night. I knew it, Oni san only comes here just out of pity."

    Julio laughed after hearing that.

    "Even if it was like that, what's so bad about it?"

    "Nothing much. I just felt that I was too stupid."

    Josette's heart seemed like it would just break apart at any moment. Even though she had repeated to herself that this feeling is not love for uncountable times already, but when that time really comes, she just couldn't face it.

    "I really am in no position to tease Vanessa." Josette shook her head.

    "Alright alright, since the great Lord Carindal Deacon (T/L:助祭枢机卿大人) is so busy with his work, then please quickly finish your business here and go the side of other disciples."

    Hearing words full of sarcasm, Julio stll smiled.

    "Okay, then I'll just say it straight. Josette, I'm here to take you away."

    "What?"

    Julio's sudden speech made Josette dumbstruck.

    "As there were too much red tape, I'm so sorry for taking so long."

    Compared to shock, Josette felt more agitated (T/L:气愤, the word "angry" doesn't fit here). Travelling the outside world with Julio seemed like a enticing proposal.

    This was also Josette's wish. However, Josette also knew that it was ridiculous. She was unable to leave this place, she cannot leave this place, she had been told such things all along......

    "Onee san's joke is really lame, if you want to get a girl's smile, you have to be more serious."

    "I'm not lying you know. Even though I look like this, I am a priest serving the Founder, you know? Something like lying, I have never done that before, have I?"

    Josette's eyes widened. Because Julio's words doesn't seem to be lies.

    "Is it......really so?"

    "Of course. Look, this is a letter penned by His Holiness himself. From today on, you're under the care of the Church of Romalia."

    Different from before, the abbess and priestesses gathered around Julio.

    "May I ask, what is your business here?"

    Seeing the unease on the abbess' face, Julio showed a letter.

    "This, this is......"

    "This is an edict from His Holiness."

    "B-but......we've been entrusted by the nobles of this country to supervise this place. We cannot let any of the sisters go without their permission......"

    Julio smiled after hearing that.

    "So who is your true master? The holy Founder? Or the nobles of this country?"

    "W-well....."

    "Your kind hearts have always been used by the nobles of this heart, isn't it so? Because of their disrespect for God, they created such a 'prison', have they not? That's just too scary."

    The abbess fell prostrate at Julio's feet after hearing that, shocked.

    "Oh.......indeed, have you known everything?"

    Julio bent down and placed a hand on the shoulder of the shuddering abbess.

    "The thing about secrets, it's just very difficult to keep it. There are but a million ears in the world and the hardest thing to do in the world is shutting people's mouths."

    "I'm unaware of the pasts of the children, so please don't ask me about that......"

    "Relax, I'm not here as an Inquisitor."

    Julio placed a bag beside the abbess.

    "This is some money for all the years you've taken care of her."

    Then, Julio turned to look at Josette, who watched him bewilderedly, mouth agape.

    "Well then, let's go."

    "Eh? Eh eh! Eh eh eh eh eh!?"

    Josette's thought process came to a sudden halt. She finally could break free of this convent, and she was also going with Julio......

    It was like a dream.

    Would she be, under the effect of some strange magic?

    "What happened?"

    Julio's soft words entered her ears.

    "Wh-what is this! Everything happened so fast......"

    "Yeah, this was a little too hurried. Why don't you go arrange your baggage?"

    Hearing Julio's words, Josette finally snapped back to herself.

    This was the real world......

    Julio was really going to bring her away.

    "Are you serious?"

    Asking to test the waters, Julio nodded firnly.

    "This is really nerve racking, how am I going to convince you?"

    Josette looked at Julio silently. his heterochromic eyes, each of a different color, displaying a coquesttish charm.

    Everytime she saw those eyes.....Josette just could not stop herself.

    "This is reality."

    After drawing the fine line between fantasies and reality, Josette's actions immediately became as swift as the wind.....

    She ran to the crowd of sisters far away, to find her most intimate friends.

    She shook their hands, saying goodbye to her gaping friends.

    "I thank you all for your care for me in the past. Yeah, I'm leaving this place now, you know."

    "Eh? Eh eh? What the heck is going on?"

    Her friends who were knee deep in chaos.

    "Leaving this place."

    For them, who have never thought of this way before, this was unavoidable. After all, even Josette herself has not thought it out yet, or in other words, she did not even know why Julio was taking her away.

    However, there was not a shred of insecurity in her heart. As long as she was able to be together with Julio, Josette would not mind any danger she will face.

    Walking briskly to the abbess' side, Josette held her hand.

    "Thank you for all your care. I'll never forget your kindness."

    The abbess looked at Josette with a weary face. She looked like she was going to say something, but she held back for a moment after opening her mouth.

    "......Thinking back, I may have betrayed the Founder's decree. Even though it was a forced decision, but keeping girls like you in a place like this is still against the natural order. Take great care, the world outside is much different than here, it's much cruel."

    Josette nodded, and then ran to Julio's side.

    "Is there really no need for a baggage?"

    "Nn, since there was nothing to take away anyway."

    "I see. Never mind, you're going to get everything you desire soon, so maybe it's better that way."

    "There's really no need for that, as long I'm with Onee san, I'm completely sastified......"

    "I promise you."

    After Josette was safely on the sky dragon, Julio jumped on it too.

    "Well then, may the Founder bless you."

    After making a declaration like something out of a movie, Julio rided the sky dragon to the clouds.

    Josette gazed at the Saint Margerita's Convent as it shrunk from her aerial view. Her home, where she spent fifteen years of her life.

    She watched the dormitories and the farms on the mountains.

    "That was, my everything."

    "You're not going to ask about why I was taking you away?"

    "Yeah, but that would be meaningless."

    "Aren't you scared, that maybe I'm cheating you?"

    "Even if Onee san was going to bring me to hell, I have no regrets, because......this feeling now, is real. What do I do, it's just like wings grew our of my heart, hard to control. This feeling, is a first for me."

    "Are you willing to obey everything I ask you to do? If that was so, I promise that you'll get everything you want." Julio said softly.

    "I was going to do so anyway. After all, I'm completely in the dark about the outside world."

    Josette took in a deep breath.

    Gradually, Saint Margerita's Convent disappeared from the clouds. Instead, what entered her vision was the vast Halkegenia mainland.

    "Amazing......the outside world was actually so much wider."

    "Everything down there, will one day be yours, you know."

    Josette smiled it off, but Julio was not smiling.

    "......Onee San?"

    "Let us take it back, the world that was originally yours."

    Seeing Josette leave on the sky dragon from the canteen window made Louise suspect what she saw.

    Julio, that was Julio, right?

    That's right. Undenialbly, that was Julio. Those heterochromic eyes......the pitiful beauty of his boyish face. And that sky dragon. There was no mistake.

    His appearance was surprising enough, but his action to take Josette away made her speechless.

    Why.

    The answer came quick enough.

    Last might, the words that had surfaced on the Founder's Prayer Book......

    "The power of "Void" can only awaken in the blood of the successors. "

    Also, this was the Saint Margerita's Convent made specially to place bastard children of nobles and royalty under house arrest.

    The two clues interweaved.

    "Josette is the new Void user."

    Perhaps, she was the replacement for the dead King Joseph......she can't be wrong.

    "I must tell the Princess immediately."

    However, another voice surfaced in her heart.

    "Is there really a need for this?"

    As long as she stayed here secretly......the four Void users will never come together. As long as she died here without anyone knowing, the Holy Crusade will never start.

    However, just as she felt the night before, this was just purely thoughts of an escapist.

    The fear of getting hurt, made her try to escape from her destiny.

    Feeling useless, after all, she was hurt so deeply. Also, this may be the best way to settle it.

    "What should I do?"

    Nobody can answer this question.

    Like before, the power to make her own decisions lay on her own hands.

    What was the right answer?

    "How did I really feel at the bottom of my heart?"

    Does she really want to stay here for the rest of her life?"

    If it was really so, why did she bring her Founder's Prayer Book and wand?

    At the deep crevasses of her heart, there must be a thought to "want to do something", and that's why she brought them here.

    Even if her heart was hurt, broken to infinite pieces, perhaps there was someone who still believes in her.

    "There are some things that only I can do."

    "There are people who are waiting for me to help them."

    Louise took out the Ring of Water from her pocket. The beautiful azure blue diamond......driving the power of the 'Void'......the power which she could not control and has given up halfway.

    If she was succesful in controlling it, would she get a little more confidence?

    Lifting her head up suddenly, Louise ran to Abbess who was stil sitting on the ground, dumbstruck.

    "Madam Abbess."

    "W-what is it?"

    "Please tell me a way to get out of here."

    She told the abbess a hope in her heart that she has once ignored for a long time.

    "That's impossible."

    "When will the next ship arrive?"

    "After three days, but they will never let you on board."

    Louise bit her lips hard. Even if she tried to force her way in, in the end it would just evolve into a fiasco. Then......

    Louise jumped up again, running to her private locker beside her bed, taking out the Founder's Prayer Book, then putting on the Ring of Water hastily.(T/L: Imagine Louise as a mini Bruce Willis doing Die-Hard here. :P)

    She ripped the sacred cross, which was forbidden to be taken off, from her neck.

    Her bright peach-colored hair swayed in the air.

    Seeing Louise like this made the sisters around her shriek.

    "Va-Vanessa......what are you......"

    "I'm not Vanessa, my real name is Louise. Louise the Zero. The priestess that you all have been longing for. Remember this name well, because soon, I'll be saving this world, you know."

    Running to the cliff, Louise looked at the horizon to her right. The Gallian coast loomed beyond her vision like a bow.

    How far is it?

    Three thousand Mails? (T/L:玫鲁,Mails, a unit of measurement in ZnT)

    Or even further?

    Will it be ten thousand Mails?"

    She did not know.

    "Seriously, is this really the powers of the void? Giving me such useless spells. Hey, great Founder, isn't there any spells like 'Fly'?"

    While mumbling, Louise look at the Founder's Prayer Book.

    On the book, the incantation that had surfaced yesterday.

    "Teleportation."

    How far can she teleport to? Would she reach Romania in an instant? Or, was it just a short distance?"

    She did not understand.
    
  .center
    img(src="img/ZnT17-163.jpg")
  :markdown
    However, there was no time for her to hesitate.

    Louise started to chant the incantations.

    "Uryuhagara-subeo-kunniru."

    Immediately waving her wand, unleashing her power in one shot.

    In an instant, Louise's body appeared in the air about one hundred mails from the convent. Below her was the sea, shining dully......gravity mercilessly took hold of her, and Louise fell.

    While falling, Louise started to chant again.

    "uryuhagara-su"

    She could only chant till here, if she continued chanting she would drop into the sea! Louise's body moved slightly closer to the coast again. In the air, Louise grumbled. (T/L: This sentence needs to be checked, so just read this part with a pinch of salt)

    "What the heck, I hardly moved at all!"

    She only moved up a distance of about two hundred Mails from Saint Margerita's Convent. However, undaunted, Louise continued to chant.

    She actually planned to teleport to the coast like this. Even though, it was not sure if she had enough will power......but she has made her decision, and there was no turning back.

    Louise fixed her gaze to the front, and started to chant again.
  .center
    a(href="./index.html") 
      h4 Back to main page
  br