extends ./template.jade
block content
  h1.center Volume20 Chapter 7: Onward to the Land of Elves
  br
  :markdown
    Above Halkeginia, the "Ostland" soared above the skies. The Gallian airspace was controlled by Romania, so they could only travel through Germania, the country where "Ostland" was made.

    Louise stood on the bow of the ship as she surveyed the land on her east. During the journey, she had always been there when she was not asleep.

    She looked just like a saint from the legends. A holy maiden, guiding the ship on the scared path as it navigated through the sea of clouds toward unknown lands...

    However, Louise's friends felt worried sick when they saw her do this.

    No matter how one thought of it, Louise's emotions should have fluctuated a lot.

    Saito has been caught by the elves, and he might have lost his sanity, it was impossible... for Louise to stay calm while knowing this. It was not just uneasiness that was gripping her heart.

    They never knew when Louise might jump off the ship out of despair.

    "Is she alright? She has been looking like that since then." Malicorne asked out of concern.

    It has been ten days since the "Ostland" left Des Ornières. The journey through Germania should only take them three days, so they would have been flying above the desert now if they had taken the route past the forest and plains of the "Unexplored Lands", a place devoid of civilization. However, since they had to replenish wind stones mid-way, and there were problems with the engines, they had spent quite some time at a Germanian port restocking wind stones and repairing the engines.

    During this time, Louise was still the same. She was not showing any signs of emotions such as anger or anxiety. She simply looked to the east silently.

    "Mm... She might be having suicidal thoughts."

    Guiche remembered when Louise jumped off the Tower of Fire when she thought that Saito had died, and shook his head.

    "I only managed to save her that time because I made a statue of Saito... but it won't be possible to use that idea again this time."

    "Hey, we should try to console her, don't you think so too?"

    Malicorne spoke with a kind smile on his face as he patted Guiche's shoulders.

    "Er... I think it's better if you didn't do anything."

    "What are you talking about? I'm the best in the world in consoling girls. The king of consoling girls, Malicorne de Grandpré. There was a long of line of girls who got consoled by me back in Tristania."

    "Enough with your bragging. However, Louise is really worrying me, we should think of a real way of helping her.", Guiche thought. He crossed his arms in front of his chest.

    "What bad things are you guys talking about now?"

    A sharp and intimidating voice was heard. They turned around to find a tall slender bespectacled woman standing there.

    "Big sis! It's my big sis!"

    Malicorne dashed forward to hug her, but Éléonore sidestepped him before gracefully sweeping out her leg to kick him in the stomach with the tip of her feet.

    "Oof...!"

    Malicorne sunk into the deck like a squashed toad.

    "Didn't I tell you before,"

    Éléonore kicked his stomach again.

    "Not to call me,"

    Éléonore put all her weight onto her feet when she stepped on his arm.

    "Your big sis!"

    Finally, she planted her leg into his face; causing Malicorne to convulse in pain. Éléonore turned her head towards Guiche without even sparing a look at Malicorne.

    "Tell me now."

    "It-it's not something bad! We're just discussing about whether we should console Louise. Really."

    Guiche explained while sweating profusely.

    "Seriously! How would idiots like the both of you console her at all?"

    Éléonore squinted at them while saying that.

    "You're absolutely right. We're nothing but bugs under big sis' feet..." Malicorne said while rolling on the ground in pain.

    "Alright, just leave this to me."

    "Is this true! Am I blessed enough to see big sis' special consoling skill!"

    Malicorne jolted upright, while blabbering excitedly. Éléonore promptly walked towards Louise. Guiche and Malicorne followed behind her uneasily.

    "Louise." Éléonore yelled out, and Louise turned around. Guiche was so nervous that he held his breath.

    Louise looked extremely calm, like she had achieved enlightenment. However, the atmosphere surrounding her made it feel like a facade that she had forcibly put on herself.

    "Is there anything I can help you with, Éléonore?"

    "Listen to me, Louise. He isn't the only man on earth. Half of the population are men anyway, so buck up."

    "That is the worst way to do it." Guiche accidentally blurted his thoughts out of his mouth.

    "That's so cool... pushing her off the edge in an instant... she really is my big sister..." Malicorne breathed heavily while staring at the sisters.

    "Eh? Eh?" Louise looked surprised, but Éléonore did not stop there.

    "In the past, I also had someone whom I've entrusted my future to. Count de Burgundy, I'd once thought that he was my soul mate... so I was extremely hurt when he canceled the engagement. However, as time went on, I came to an understanding. Love, is really something like the measles. It comes as fast as it goes."

    "Mm."

    "Talking about personal experiences will just irritate the person you're consoling, won't it?"

    Guiche and Malicorne nodded at each other. However, Louise smiled weakly at Éléonore.

    "Thank you, Éléonore. I'm grateful that you tried to console me, but I'm fine, really."

    "Louise?"

    "This isn't the first time I've met with such a desperate situation. However, that guy has always managed to come back to my side while smiling. He only belongs at my side, and I belong at his. This is not just an excuse, this is our predetermined fate. So, it'll be alright this time too."

    Éléonore sighed. Guiche, being a sensitive guy, was so touched that he cried.

    Malicorne mumbled, "Louise is right, that guy is surely alive somewhere."

    "Malicorne."

    "I am moved by the love between you and him. I'm so sorry for saying that you're the 'Zero', and for taking you as a fool before."

    "It's alright. I'm also sorry for saying all those horrible things to you, for kicking you, and for hitting you back then. I'm really sorry."

    "What? Don't worry about that. Right, even though I think that guy will be okay, I'm still worried about something."

    ZnT20 169.jpg
    "Worried?"

    "Mm. It's just, wasn't Miss Tiffania also captured?"

    "Yes."

    "Listen up, Louise. You have to stay calm where you hear this. In that kind of extreme situation, it's easier for a man and woman to grow closer to each other."

    "This seems worth listening to." Louise moved closer to him.

    "This might just be my imagination. Um... Well, something like this could happen. 'Ah, Saito, is the end for us?', 'Don't say stupid things like that Tiffa, don't give up so easily.'"

    "Go on."

    "'Saito, could you hug me.'"

    "Wait a minute. What does 'Don't give up' have to do with 'Saito, could you hug me'?"

    "Listen up, Louise." Malicorne nodded seriously. "This is an extreme situation, you know. So of course this will happen. 'Tiffa, your chest is so big. It's so much larger than Louise's', 'Ah, Saito. Saito! 'Ah,' 'It feels so comfortable, a chest larger than Louise's'. Ouch!"

    "Can I hit you?"

    "How about asking that before you hit me?" Malicorne said, as he rubbed his nose.

    "The situation you're speaking of won't happen."

    "Fine. It's just something I'm worried about." Malicorne gave a deep sigh.

    "Those huge breasts, I've always been thinking about how Saito dealt with them, how do I put this..."

    "How do you put this?"

    "Anyway, I definitely will ask Saito what he thinks of it. Definitely."

    "There's someone I wish dead right here."

    "Don't praise me."

    "That was not a praise."

    "So, what would you do if that happened?"

    Louise placed her arms on her chest, and shook her head. "That won't happen. That guy is very much in love with me."

    "How much in love?"

    Hearing Malicorne's question made Louise realize that it was, in fact, herself who was very much in love with Saito. Her eyes were always on him, and she could not fall asleep without his kiss.

    However, if she were to say this, she will be laughed at by Malicorne and the others. This will make her extremely angry so Louise simply brushed her hair conceitedly.

    All she needed to do was to find a memory where she 'was loved'. Right, back in Des Ornières, when they made Éléonore angry, and got separated into different rooms...

    That guy, dumped the maid and Tabitha, came to my room and hugged me by my shoulders so softly... Kyaa!

    He even told me that, I was everything to him... Kyaa!

    This is not good... Louise held her chest.

    I am, really loved by him.

    "Louise?"

    "I'm very much loved by him, you know. What to do..."

    She was obviously the type of person others would avoid. Nevertheless, this was a spell that Louise cast upon herself. By doing this, the confidence that she was an unparalleled beauty would well up within her.

    "Compared to my love for Saito, Saito's love for me is much stronger. What a fool... What should I do if you're so in love with me? My love for you, is only as large as a pin head, you know. It is as large as the head of an ant."

    "However, your love for me, is as large as a dragon's head."

    The strength to stand tall no matter what kind of negative situation she was in, filled her heart.

    "That guy, is very needy when we're alone together, you know. He'll keep looking at me. And then ask me something like 'could we kiss'? But I'll reject him, if I'm not in the mood for it. Guess what he would do next."

    "I don't know."

    "He'll kneel down and beg me."

    "No matter how I think of this, he'll never do that."

    "Oh, it's the truth."

    Louise suddenly prostrated herself on the deck.

    "Master Louise~ oh Master Louise~ those soft alluring lips of Master Louise~ please allow this stupid dog~ this stupid dog to use my lips to touch them just a little."

    After noticing so many eyes on her, Louise's face instantly turned beetroot.

    Besides Éléonore, Guiche, Malicorne, Kirche, Colbert, Siesta, Tabitha and Sylphid had also gathered around her.

    Louise blushed brightly when she noticed everyone was watching her with dumbfounded faces. If this was the Louise from before, she would have rushed back to her room and hid herself under the blankets out of sheer embarrassment.

    However, Louise has changed .

    She puffed out her chest and said,

    "Humph, that's how much he loves me. So as his reward I will go and save him."

    Everyone there broke into laughter.

    "That's right. You can't simply let go of such a nice guy, who fell in love with a meddlesome woman like you."

    Guiche shook his head as he said that, displeased.

    "Hey, what are you talking about? Saito will be fine. He must be somewhere with Tiffania, alive and well." Siesta said with a lively face. She had always believed in Saito. She had the faith that he will not lose to anyone.

    "That's right." Louise nodded.

    Everyone understood the emotions in their hearts very well. They were almost going to collapse out of anxiety, and everyone was so scared that they did not even know what they have become.

    So they were trying so hard to cheer themselves up.

    They want to cheer themselves up, but they did not know how. Malicorne, along with Guiche... Even Éléonore too.

    Louise thought, "Yeah, I cannot be depressed any longer. How can I lose! At the very end of this ordeal, I have to trust that guy even more. It will be alright."

    Saito and Tiffania.

    I will rescue the both of you. Louise told herself that confidently.

    Even so... It was not enough to expel the anxiety in her heart. No matter how she tried to cheer herself up... The horrible thought that "something bad might happen" rapidly took over her mind.

    She could never get rid of that feeling.

    Her mind, once filled with hope, will instantly be corrupted by a sense of despair, colouring her baseless sense of "hope" black.

    Once the feeling of uneasiness took hold of her, she will lose all of her haughtiness and confidence.

    This process has repeated countlessly throughout the whole week... Louise's heart was at her limit.

    Colbert frowned a little after he noticed that Louise sighed as she turned away. He then tried to use a calm voice to tell everyone, "Alright then, everyone, can you all see the river in front of us?"

    Under the thick cover of clouds, they could see a river, which ran parallel to the horizon.

    "After passing that river, we will finally reach the 'Unexplored Lands'. Well, that place isn't really controlled by the elves, but it falls under their influence."

    Everyone tensed up.

    "Well, Jean. What should we do from now on?"

    Colbert looked around after hearing Kirche's question. Just like a teacher explaining the procedures of an experiment during a lecture, Colbert said with a straight face, "Well then, let me explain the battle plan. It is three hours to sun down. We will wait until night falls before we cross the river. After that, we will chart a straight course to Adyl, the capital of Nephthys."

    Everyone took in a chilly breath.

    "Is-Is this the battle plan?" Guiche spoke with a dazed voice. They were just charging forward like a wild boar. This cannot even be called a battle plan.

    "That's right. We won't be able to use any of our tricks against the elves. The only weapon we have, the the speed of the 'Ostland'. As long as we're flying at maximum speed, no elven ship can catch up to us."

    "And what about after we reach Adyl?"

    "There is a gigantic tower there, called the 'Kasper'. Something called the 'Council' is located in it. I've never seen it, but it should be a building as noticeable as a castle. This ship, the 'Ostland', will keep storming forward until we reach it."

    "And after that?"

    "We will rush down the ship, and capture a high-ranking elven official, or anyone at all as our hostage, and then exchange the hostage for Saito and Miss Tiffania."

    Everyone went quiet for a while upon hearing this.

    "How... How are we supposed to do this... That's the stronghold of the enemy, you know? What were you even thinking? This is way too reckless. Have you ever thought about how tight security will be there?" Éléonore's eyes widened as she asked this.

    Guiche also shook his head.

    "Neither do the elves." Colbert said coolly.

    "The idea that we would just go straight into their stronghold would never have crossed their minds too. The elves are very intelligent, so they will assume that we're actually some sort of trap and hesitate before taking action. In the eyes of the elves, we're nothing but barbarians, right? So, why don't we just go full barbarian instead?"

    "What happens if this plan fails?" Éléonore asked.

    "If that happens, we'll just die a meaningful death."

    "That's too irresponsible!"

    "That's why I won't force you to come with me. All of the staff on the ship has left at the last port. Just tell me now if you want to leave the ship. I could pilot this ship for about a day, even if I were alone."

    Everyone got nervous, but nobody said anything about leaving the ship.

    "Thank you." Colbert bowed as he expressed his gratitude, and left soon after that. Kirche followed behind him.

    "What kind of plan is this." Colbert reprimanded himself while walking.

    At the very least, they needed the blueprints of that building and an elaborate strategy, or it would be an herculean task for them to carry out the plan.

    Not only that, they were going to save some people, whom they did not even know if they were captured or not, on an unknown land.

    They did not even know who to capture as the hostage.

    It was a desperate choice.

    After leaving them, Colbert mumbled, while sighing, "I'm doing it right, aren't I? No matter how I think of it, we won't succeed. Maybe we'll all die. Even though I know it isn't good to have such pessimistic thoughts... but thinking this over calmly, there really isn't any other conclusion I can make. Seriously, these elves aren't a kind race at all. They won't show any kindness to their enemies. If it was just us, the chance of success is less than one out of a million. Betting on a plan that turns a hopeless situation into a situation where we have a millionth of a chance to succeed... I've been thinking this over and over again, what I'm doing is right, am I not?"

    Kirche placed her hands on Colbert's shoulders and said, "To be right or not, that is not the question. The real question is, to do or not to do."

    "That's very inspiring. However, I did make something clear. If I let go of this chance, I will regret it for the rest of my life."

    "Me too." Kirche laughed.

    "Everybody is like that, I guess. That's why they've stayed on. Rest assured, everything will go well. Even though there's no basis for this." After saying that, Kirche sighed again. "But, that kid, is she going to be okay?"

    "Yeah..." Colbert became distressed.

    "After all, in the end we have to rely on the kid's 'Void', right?"

    "Mm."

    "Even though she looked steadfast just now, but she's actually at her wit's end, right? Because she's the type to get easily depressed."

    "I know that." Colbert was also bothered by this. The only real reason why this plan had a chance in the first place... was the fact that Louise could use her 'Void' Magic.

    To defeat the elves in a head-on battle, they had to rely on the 'Void'. What if Louise was hindered by her uneasiness, and could not use her full power?

    At that time, they would lose even that one millionth of chance.

    However, it was useless no matter how he fret over it. The only thing that could give her some comfort was...

    Colbert stopped in his tracks, and told Kirche, "Could you ask that maid... Siesta, to come?"
  .center
    a(href="./index.html") 
      h4 Back to main page
  br