extends ./template.jade
block content
  h1.center Volume20 Chapter9 : The Work of the Devil
  br
  :markdown
    It was nearly dawn. The national air fleet had gathered in the skies above Adyl, the capital of Nephthys. There were about ten warships that had been outfitted with cannon towers on both ends of the ship. Along with another six smaller patrol ships, there were a total of sixteen ships.

    The commander of the air fleet, was the Fleet Commander-In-Chief, General Amran.

    "Seriously! What were they doing!"

    "The Second Fleet training in the North Sea will be late." The adjutant reported to Amran.

    "We don't need too many people for this. We will be laughed at by the Navy for enlisting the elite First Fleet when we are going to be fighting a simple barbarian ship."

    "Well, but even the Navy failed at their task of capturing the target..."

    After hearing this, Amran relaxed his strict demeanor. "Seriously! Talking, that's the only thing they can do. A bunch of useless fools. That guy would probably start another long and windy lecture again."

    "However, Commander, please don't get careless. In the report we received, the barbarian ship moves with such an incredible speed that our dragon warships could not catch up to them. Not only that, they were able to use strange magical weapons..."

    "Oh, it was just carelessness on the Mestia's' part."

    Just now, the name of the ship that had sunk was also reported to Amran. After it has been defeated by the barbarian ship, the "Mestia" sunk as it was not able to contain the raging fire caused by the barrels of explosives.

    "Also, it was an older model anyway, so it was unavoidable."

    "Even so, an incident where a barbarian airship defeats a secondary warship has never been heard of before."

    "Well, that's just bad luck. However, luck won't do a thing against this fleet." Amran said as he surveyed the fleet he commanded approvingly. "I will let the barbarians see what the difference is, between us and them."

    Just then, one of the dragon knights flew towards them.

    This was one of the dragon knights who maintained distance with the "Ostland" while spying on them.

    The dragon knight jumped off his dragon once they hit land, and ran towards Amran.

    "The enemy has entered Adyl airspace in the north-east-east sector!"

    Amran nodded, and raised his right hand. "All ships, full speed ahead! We will meet the enemy outside Adyl!"

    On the deck of the "Ostland", everyone was staring to the front. Tabitha and Sylphid, who had been in charge of reconnaissance, landed with a flutter of wings.

    "Forty leagues away. An air fleet. Sixteen ships."

    "That's a lot." Éléonore gulped. She had not slept since yesterday. There were eye bags under her eyes, her hair was a mess, and her face as of a sickly color.

    However, this was not the time to pay attention to this kind of things. Everyone on board had been fighting all night without rest.

    "... Will we be okay?"

    "Mr. Colbert." Guiche asked Colbert with a tense expression.

    "What is it?"

    "To be honest, the reason why we could survive until now, is because of damn luck. But it would be impossible for us to rely on luck now. What should we do?"

    Colbert coughed lightly. "Now, finally, we let her make her debut."

    The ship cabin door opened, and Louise emerged. Beside her was Siesta with an peculiar look on her face.

    "For this one strike, I've asked Miss Vallière to rest as much as she could. During this time, she has accumulated a high amount of mental will."

    So that was the reason Louise did not join them as they breached the barricade of ships yesterday.

    "Louise... are you going to use that 'Explosion' spell?"

    Guiche asked carefully. Louise did not answer him and instead simply brushed her hair aside. Every inch of her posture and expression exuded an aura of "confidence".

    There was nothing more beautiful in the world than Louise with such radiance. Louise raised her chin, puffed out her chest and stepped forward haughtily. When she walked past Guiche, Louise asked him.

    "Who am I?"

    Guiche jolted upright reflexively.

    "L-Louise!"

    "Say my full name."

    "You're Miss Louise Françoise Le Blanc de La Vallière!"

    "That's right. I have the blood of Tristan's longest-serving and noblest family in my veins. The third daughter of the La Vallière family. This is who I am. Am I not right, Éléonore?"

    What is this attitude of hers! Éléonore thought, but she was blown away by her charisma.

    "A-ah! Yes, you're right. You're the third daughter of the La Vallière family, with all our pride and tradition!"

    "It won't be a stretch to say that the La Vallière family exists just so that I could be born, will it?"

    Even though Éléonore felt that this statement was too much, she noticed that Colbert and Siesta was desperately giving her looks, so she agreed to the statement.

    "Ah, of course not! It's also my pride, to have you as my sister!"

    Louise continued to walk forward in a haughty manner, and came to a stop in front of Malicorne.

    "Who am I?"

    Malicorne stood up straight like he had been electrocuted. "You're the world famous beauty, Miss Louise!"

    "I don't think this is enough, do you? Put in more effort."

    "You're the one and only, amazing unfathomable unparalleled beauty, known throughout all three thousand realms to be so beautiful that if the Goddess of Beauty were to even see you she would run away bare-foot."

    "It's nothing special, eh?"

    She did not have the air of making it mean "nothing special" at all. Louise continued on, and this time, she stopped in front of Kirche.

  .center
    img(src="img/ZnT20_209.jpg")
  :markdown
    "Between the princess and me, who is cuter?"

    Kirche found herself to be in a dilemma as she tried to answer such a question. However, she could not let Louise to lose her confidence here.

    "O-of course it's Louise! Miss Henrietta, compared to you, is just a pumpkin, you know! A pumpkin!"

    "Undoubtedly so. Of course I'm the cuter one."

    After that, she stood in front of Sylphid and Tabitha.

    "Who does Saito love?"

    Tabitha's eyebrows arched high instantly. She was obstinate to her core. Of course, even if she did not think that way, she could not say it.

    "Me..." After she said this, Sylphid hurriedly whispered in her ear.

    "... Little one! Can't you read the situation?"

    Tabitha clenched her fist, her body tensed up as if she was enduring something. Her face then became expressionless and she said coldly, "Louise."

    "Aren't you a good girl? You can have him once I'm bored of him."

    Tabitha lowered her head and began chanting a spell. Sylphid desperately tried to stop her. "You just have to endure it! Just this once!"

    Finally, Louise stopped before Colbert.

    "Mr. Colbert."

    "Y-yes, what is it!"

    "Cute and prefect me was thinking, that dog is really lucky, eh. I can't help but save him, that idiot, that pitiful bug who can't do anything without me. Incidentally, Tiffania too."

    "A-ah, yes! Saito is such a lucky man!"

    "Sometime he would sneak a peek at Tiffania's chest, that's just an illusion, right?"

    "That might be just be an accident! Yeah! If that wasn't the case, I swear on my identity as a scholar that he's just intellectually curious!"

    "Yeah, that's what I thought of too."

    When Louise reached the ship bow, she swiftly whipped out her wand.

    Her movements were so fluid that everyone placed all her previous words and actions aside and allowed themselves to be mesmerized by her.

    Kirche said, dumbfounded. "What exactly happened? Did she..."

    Siesta mumbled. "I spent an entire night to explain how much Saito loves Miss Vallière."

    "How naive is she..."

    "She's a naive, willful, needy, incurable person, and it was because she's weak that she has been lingering between self-confidence and self-ridicule. However, that's also why this kind of person, can become a 'holy maiden'. A real 'holy maiden'." Siesta said brightly.

    On the side of the horizon, they could see the silhouettes of the elven air fleet. There were sixteen ships in total. They saw from afar how the powerful cannon towers rotated and aimed the cannons at their direction.

    Everyone shuffled restlessly after they witnessed this terrifying spectacle. Louise turned around and took a bow.

    "Thank you everyone, it'll be alright. I'll take care of them."

    And then, Louise looked in front again with an arrogant look on her face. "Well then, long-ears, shouldn't you be returning my familiar to me by now?"

    Clear of fear and doubts, Louise began to chant a spell.

    When they saw the ship appear, Amran, who was commanding the elven air fleet, locked his brows in a frown.

    "What's up with that ship, it doesn't have any cannons installed on it. How did that thing destroy the 'Mestia'?"

    "However, it's moving at a very high speed! It's approaching us rapidly."

    "Is speed all they have? Just rushing headlong at us... that makes them no different than the wild boars in the desert."

    "Please be more alert. Especially since how they used a sophisticate steering method to evade every cannon shell from the 'Mestia'. It was just like they are telling us that they come with a plan of their own..."

    "Plan? What plan? We are the people of the desert Elves , why do we have to be scared of mere barbarian plans?"

    "Commander, isn't that train of thought the same as the tasteless views of the 'Steel-blooded Party'?"

    "Those guys are just making ado about nothing. It doesn't change the fact that barbarians are still barbarians."

    The adjutant looked at Amran worriedly. "The 'devil' is on board the ship, right?"

    "The one the navy tried to capture but failed?"

    "No, I don't think it's the same one. However, legends did mention that there were multiple 'devils'."

    "Why are everyone so afraid of this 'devil'? Barbarian magic-users have to swing their wands to use magic, without it they are useless. The only thing they have in plentiful amounts is pride. Anyway, that devil will just be a little stronger than normal barbarian magic-users."

    "However, one of them escaped even after being surrounded by the Navy. Commander, please don't let your guard down."

    "Are you trying to put the 'Navy' on the same level as us, the 'Air Force'? How can those brainless turtles who only know about paddling mindlessly in the water, be compared to us, the incarnations of dragons?"

    "No, that's not what I meant..."

    "Humph, we'll just crush them in one go, no matter if they are the 'devil', or some moth larvae. One volley of our cannons will crush them! Full speed ahead! Turn that barbarian ship into dust!"

    The dragon tamers controlling the dragons shouted "Understood!" enthusiastically and the flagship started to glide forward. The Elven ships began to move forward in a neat straight line. For the Elves, this was their technology.

    The adjutant took his telescope and monitored the "Ostland" out of worry. "Ah..."

    "What is it?"

    "There's a young girl standing on the bow of the ship."

    "A young girl? What about it? Is she going to curse us? Or is she a living sacrifice? Or maybe she would be shooting us with a gun?" Amran laughed at his own joke.

    "No...she seem to be chanting some kind of spell..."

    "Oh, so be it. Let her do anything she wants. The barbarians would need some magic that has a larger range than our cannons anyway!"

    Aiolu. Sunu. Feyr. Arushakusha.

    Louise did not stop chanting. That was the "Explosion" spell that she had chanted for more times that she could count.

    The melody of the spell has already become an part of Louise's body.

    A melody passed down from ancient times.

    The Founder's whispers.

    As she chanted, she felt as if all her emotions have been rearranged and reorganized. Joy, anger, sadness, and happiness. Those feelings mixed together as one, as if they were trying to find a place to be vent out.

    Onu. Sunu. Uriu. Ru. Raduo.

    It was just like the waves. It was just like music.

    "Magical power is proportional to one's emotions." She did not know who was the one who said this. If her fluctuating emotions were what affected "Explosion"... then there is no other magical spell that suited her more.

    Piosuran. Uru. Suoieru. Kanuo. Oshura.

    Louise stared at the large Elven air fleet, leagues away from her.

    They no longer looked that terrifying to her.

    To defeat that air fleet and save her beloved familiar, that was her predetermined future. She already knew this when she chanted the spell.

    She felt a little tipsy, like she had a slight fever.

    This tipsy feeling was comfortable, and it made Louise even calmer.

    Zera. Isa. Uji. Bazaru. Beokuen. Iru ...

    After that, a special feeling emerged within her.

    "I'm... heading towards the 'Holy Land'." It was as if a program inserted the phrase into her mind.

    "The 'Holy Land'."

    The promised place, somewhere in the land of the elves.

    That phrase has been carved into her soul.

    That phrase, repressed all of Louise's emotions. All of her emotions felt as if they were about to rush out of her body to the beat of the spell incantation. Louise surrendered her body to that feeling.

    After she finished the incantation, Louise swung her wand.

    The first thing Amran saw was a small ball of light. That light ball appeared in the air in front of the fleet and gradually grew in size.

    "A tiny sun has appeared", was his first thought.

    Then he realized that it was magic.

    Barbarian magic? From the girl on the bow?

    Before he could apprehend what was going on, a gust of strong wind slammed into his body. He was thrown onto the deck.

    "Ugh...!"

    Amran shook his aching head as he got on his feet. He was surrounded by chaos. Fire ravaged the ship, and seamen lay around him.

    The usually tame dragons rampaged and flew towards different directions but they were bound to their restraints so they could only wail in despair.

    Amran shakily approached the side of the ship to see how the other ships were doing. All of the ships in the fleet had been destroyed. They were consumed by fire and fell towards the ground.

    "... What happened."

    He could not understand the current situation.

    Just a few minutes before, his fleet was still pressing the assault majestically. They should have been able to destroy that presumptuous barbarian ship in one hit.

    Why?

    Why would this happen?

    Even if that was magic that I had never seen or heard of, why would an Elven fleet lose to barbarians..., he thought.

    And to lose to that one ship!

    "We were done in by that one girl... Huh."

    The adjutant, covered in blood, staggered towards him. "Commander, I'm a afraid that, this ship is no longer able to fight... Please make the order to retreat!"

    What he has said failed to enter Amran's ears at all. A single word had took hold of his mind.

    "It's the 'devil'. Those guys, released the 'devil's' magic!"

    The flagship Amran was on slowly tilted.

    The ship dipped to one side. If the wind stones they have on the ship did not disappear all at once, the ship would not fall from the sky.

    The 'devil's' magic, had destroyed all the wind stones.

    The wind stones were a product of Elven magic, and so if they were to disappear that would mean... He was frightened by the work of the devilVoid.

    "Oh Noble Will, may you save us, from the work of the devilVoid..."

    He would no longer be able to know if his prayer was heard. The warship succumbed to gravity and slowly fell from the sky.

    Everyone on the "Ostland" seemed to have forgotten how to speak for a moment, and simply watched on as the Elven fleet plunged to the ground.

    The only one among them had seen a full fledged "Explosion" from Louise was Siesta, back in the village of Tarbes, when she annihilated the Albion air fleet, the miracle light...

    Louise's legs suddenly went weak, and everyone ran to her anxiously.

    "Louise!"

    Éléonore nervously held her sister's body in her arms.

    "Mm..."

    "... She's asleep."

    Éléonore sighed contently, after she has been assured of Louise's safety.

    "Let her sleep for a while. It's been some time since she last did." Colbert said, and everyone nodded in agreement. Even though they have taken down the Elven sleet, this was not over yet.

    Moving on at maximum speed, soon enough white pavements appeared before the "Ostland".

    "That would be Adyl, the capital of the country of the elves."

    Colbert pointed at a distance. Everyone began to tense up.

    "Well then, the real show starts now. Is everyone ready?"

    Guiche and Malicorne gave an absentminded nod while Éléonore nodded with a determined look on her face. Kirche looked straight in front and Siesta looked worriedly at Louise.

    Maybe it was because they saw the power of the "Void"? The little flame of hope lit up in everyone's heart. No matter how tough the situation was, didn't they conquer them all? Such was the hope they held in their hearts.

    Of course, this was also based on shaky foundations. Well, Louise could not possibly release another "Explosion" like the one before within such a short time, right?

    However, she did have some other spells of her own, didn't she? Anyway, those spells could be used on the elves. Not only that, there was the undeniable truth that they had already arrived at this place.

    The Elves were not invincible foes.

    Their hearts filled with profound and great confidence, the "Ostland" cruised on the desert wind as it made a beeline for Kasper, where the highest Elven authority, the "Council" was located.
  .center
    a(href="./index.html") 
      h4 Back to main page
  br