extends ./template.jade
block content
  h1.center Volume20 Chapter 8 : Breaking Through Barricades
  br
  :markdown
    Elven patrol airships were very different from the ones in Halkeginia. Even though they were both propelled by wind stones, elven airships did not have sails. Instead, similar to horse carriages, they were towed by dragons.

    Compared to Halkeginian airships which were propelled by wind, those elven airships, were on average one hundred and fifty percent faster.

    The spheroidal airship, towed by dozens of dragons, moved through the air like an amphibious insect.

    The hull of the airship was reinforced with armour, and cannons were fitted into the gaps between each armour plate. Rotating cannon towers, not unlike the ones found on a dragon whale ship, were installed on the deck where the sails would normally be found.

    Although the relationships between the Halkeginian nobles and the elves were terrible, trading was still conducted on a civilian level, and it was common for air pirates to attack Elven merchant ships.

    The main responsibility of the patrol fleet was to protect the Elven merchant ships from the threat of the barbarian air pirates. This was because even though each individual elf were mighty warriors, the air pirates ships still could take out merchant ships if they attacked together headfirst in groups of dozens.

    The "Mestia" was one of the air ships patrolling the skies above the "Unexplored Land". The "Unexplored Land" was the stretch of forest and empty plains between Germania and the Sahara desert. No elf or human lived there. It was a vast piece of virgin land occupied by mostly demihumans... beast-men, ogres, and avian-men.

    It was nearly nightfall. However, even if it was night, they could not let down their guard. The barbarian pirates had set up a well-concealed port in the "Unexplored Land", so they could sneak into the Sahara desert under the cover of the night to raid and plunder the villages.

    Even though the elves had good night vision, they were still unable to see as well they could in the day, so the guard on duty had to use a special telescope.

    It was a telescope that used magic to amplify the moonlight.

    Using the gigantic telescope that was directly mounted on the deck, the guard on duty, who had been monitoring the borders, yelled out when he noticed something.

    "An unknown ship is approaching, from twelve o'clock!"

    The air officer looked through the night-vision telescope on the deck to find the blurry image of a huge ship heading their way.

    "It doesn't seem to be a merchant ship."

    By the way, the ship had a strange structure. The sails, commonly found on most barbarian ships, were missing, and in their place were two outspread wings, which were a few times larger than normal ones.

    "It's fast!"

    The guards exclaimed in surprise when they noticed that it was rapidly flying towards to them.

    "Show them the signal to stop!"

    Under the orders of the officer on deck, the "stop" signal flag was lowered from the mast, and they repeatedly flashed the "Stop now!" signal with oil lamps. However, the other ship showed no signs of slowing down.

    "Is it an air pirate ship?"

    It was very different from the usual situation. If it was a barbarian air pirate ship, then they would have scrambled away immediately, but it just rushed straight at them...

    The deck officer began to panic.

    "Prepare the cannons!"

    However, by the time the order reached the guards in charge of the cannons, the strange ship had already reached them, and flew past the "Mestia". The broad wings of the airship made it look like one of the enormous desert birds. However, the sizes of the birds were incomparable to the size of ship.

    "What the heck was that ship!" The fleet commander, who heard the commotion, yelled out as he saw the ship that went past them.

    "There seems to be rotating fans behind the ship, maybe that's what powering it." The deck officer said, dumbfounded.

    "Ah! We'll know it when we see it! Chase after them now!"

    "Jean! They seem to be chasing us!" Kirche shouted into the sound tubes from the clock tower at the back of the "Ostland" after confirming it. Her voice was transmitted to Colbert in the engine room along with Guiche and the others on the deck, who were monitoring the situation outside.

    "What? They're chasing after us?" Colbert yelled as he struggled with the steam engines. To keep the "Ostland" running at full speed, he had to stretch every piece of machinery to their limit, chant magic spells, control the amount of coal that goes into the engine, adjust the internal tank pressure... so on and so forth. He probably had to continue doing this for the whole day.

    Taking the return journey into account... thinking about this made Colbert laugh out bitterly. If they were to just leave this ship aside and rush ahead with the plan, this ship would likely be captured or destroyed immediately.

    However, even the speediest Elven airship could not catch up to the "Ostland" when it was running on the highest tank pressure. While Colbert was thinking about something else, Kirche's scream rang through his ears.

    "The situation got worse! Those guys sent their dragon knights after us!"

    Colbert jolted upright in shock, and immediately rushed out of the engine room to the quarterdeck of the ship. He found five dragon knights closing in on them.

    "Miss Zerbst, that thing."

    Kirche showed a smile once he mentioned about "that thing".

    "The 'little flying snakes'?"

    Colbert ran to the control panel which was installed on the quarterdeck, and pulled a large lever on the panel. A cylindrical thing opened up its wings, and flew out with a melodic chime.

    The magic-seeking missiles called "little flying snakes" were invented by Colbert. They were outfitted with magic sensing equipment in front, and was propelled by the rockets at the back.

    After they were launched, Kirche began to chant a magic spell. A gigantic fireball emerged from her magic wand, and sped towards the dragon knights.

    The fireball flew in a straight line, and exploded far away from the dragon knights, lighting up the night sky. Yet, the dragon knights increased their speed, as if they were poking fun at the feebleness of the magic spell.

    During the instant when the dragon knights were distracted by Kirche's magic spell, the "little flying snakes" unleashed their payloads.

    The "little flying snakes" sensed the magical weapons on the elves, accelerated towards them, and exploded right in front of them.

    They did not expect that the barbarians would have such a weapon. The elves did not have time to cast any powerful magic. Metal shrapnel and strong gusts assaulted the wind dragons, tearing holes into their wings. The Elven dragon knights fell one after another.

    "We did it!"

    "Not yet, there are two more."

    The two left were the better riders, since they managed to dodge the "little flying snakes" attack and proceeded to close in on them before casting magic.

    The riders' Ancient Wind magic whipped up a tornado, slamming into their direction, but Kirche and Colbert nimbly dodged it.

    The tornado crashed into the deck and created a huge hole. Its sheer power scared Kirche nearly to death. As expected of Elven ancient magic, even while riding a dragon, they still managed to cast such an accurate magic spell!

    "This is really bad."

    If the elves came too close, Colbert and the others could only use magic to defend themselves. If they were to aim for the steam engines, then their plans would be ended prematurely. However, elves had the upper hand in magical battles.

    The Elven dragon rides rose up into the air to cover each other's backs, before swooping down again to continue their attacks in a brilliant maneuver.

    Colbert and Kirche casted their "Fireball" spell at the elves, but the dragon knights were too fast for them to land a hit.

    Riding on Sylphid in the skies above the "Ostland", Tabitha surveyed the situation below her.

    They took off into the air just as the battle started. Tabitha understood very clearly what it meant to be the only dragon knight in the "rescue team".

    It was impossible for them to reach their full potential while on the ship.

    To prevent the moonlight from shining on them, Tabitha masterfully manipulated the wind to turn the wind into a veil of fog around them. Even though this camouflage would immediately be exposed during the day, it was not as obvious during the night. The two Elven dragon knights had not noticed her while they were wrecking mayhem below.

    "Little one, there's two more left, you know!"

    "I know that."

    "If we don't help them now, it will become very problematic!"

    Tabitha calmly observed the two dragon knights. One of them was attacking the "Ostland", while the other circled above him and covered his back.

    The dragon knights launched their assault as if they were dancing a duet, attacking and moving to the rhythm of combat.

    She could not afford to attack without thinking ahead. If she was flanked by the other dragon knight while she was focused on attacking one of them...

    "I cannot miss my first spell."

    However, it was difficult for her to find an opening.

    "If I were to disrupt their rhythm..."

    Sweat appeared on Tabitha's forehead out of anxiousness.

    Kirche desperately tried to return fire while dodging the Elves' attacks. However, it was impossible for her to land a blow on the elves, who were darting in and out through three dimensions. On the other hand, their spells repeatedly hit the hull of the ship.

    "Are you okay!?"

    Guiche rushed to her side.

    "Isn't that obvious? We can't handle them!"

    Colbert was trying his best to protect the propellers. Malicorne and Éléonore were at the helm so they were not able to use any of their spells, while Louise... was probably doing something somewhere.

    She could only rely on herself and Guiche to take care of the dragon knights. However, since Guiche's magic affinity was "Earth", he would not be able to use his spells on the airship.

    So, in the end she has to think of something on her own.

    "What is that kid doing!"

    Kirche directed her yelling at her petite blue-haired close friend. If they had Tabitha's magic here, this battle wouldn't be as hard...

    Just then, she abruptly understood what was going on. Tabitha, with years of experience under her belt, would not have stayed around doing nothing, and she definitely would have thought of a plan.

    "Ah, the sky!"

    Kirche said, as she looked up into the night sky.

    Tabitha must be waiting for a chance to strike up in the night sky. In that case, what she should be doing would be to...

    Kirche shouted out.

    "Guiche! Get in the air!"

    "Eh? What! Wouldn't I be unable to use any other magic while I'm casting the 'Flying' spell?"

    "It'll be alright, Tabitha will think of something, so just go!"

    Kirche pushed Guiche off the deck.

    "What do you think you're doing? Ah, ah, I'm falling!"

    Just as he was about fall of the deck, Guiche began to chant the "Flying" spell, so he slowly floated in the air. Kirche also jumped into the air after him.

    Guiche tried his best to fly, but the dragons were much more adept at doing so than him. It was like fighting against a shark in the water.

    "Whoa! They're coming to me! They're coming to me!"

    Guiche struggled in the air, like a dog swimming in the water. He could see the elf on the dragon raise his hand while chanting a magic spell.

    "Stop! Don't do it! I can't swim!" He started shouting out nonsense...

    Suddenly, the dragon's body shuddered, as a massive ice arrow went through its skull.

    "An ice spear? From whom?"

    The dragon lowered its head and plummeted to the ground with its Elven rider, and in its place was Tabitha who descended with Sylphid from above.

    "Oh! Oh! Isn't that Tabitha?" Guiche exclaimed ecstatically.

    "As expected as knight of the North Parterre, seizing the chance and striking immediately!"

    Kirche murmured after she witnessed one of the dragon knights fall off the sky. The dragon knight who was chasing after her looked away with a surprised direction on his face. Kirche immediately stopped the "Flying" spell, and her body succumbed to gravity. However, as a veteran in magic battles, she quickly began to chant another spell.

    Kirche triumphantly unleashed a "Fireball" towards the dragon knight whose attention was diverted by Tabitha and Sylphid. It did not veer off path and hit the wings of the dragon, causing it to burn up.

    The wind dragon could not resist the heat and opened its mouth wide, only for Tabitha's "Ice Spear" to pierce through its head. The dragon knight slowly fell down from the sky.

    After a few seconds, Kirche felt that her body became unexpectedly light. Sylphid swiftly flew to her and picked her up. Kirche gently sat on Sylphid's back.

    Tabitha looked in front of her with a deadpan look on her face.

    "Nice work." Kirche caressed her close friend's forehead with a kind look on her face.
  .center
    img(src="img/ZnT20_191.jpg")
  :markdown
    Three hours after they defeated the dragon knights, the night deepened further. Clouds concealed the twin moons, and darkness engulfed the land.

    Malicorne and Éléonore rotated the responsibility of taking the helm, Colbert worked on the engines which had been weakened due to the elven dragon knight's magic, Kirche was keeping watch of the rear deck, while Guiche was doing the same on the front deck.

    Éléonore, who was currently in charge of the helm, gave a worried sigh.

    "After breaking into the elf's base, would I come back alive..."

    Malicorne answered absentmindedly,

    "Mm, well, we did bite off more than we could chew anyway."

    "Don't say things like that. Aren't you a man? Think of something, would you please."

    "Ha? What are you talking about? Why do I have to think of something just because I'm a man? There isn't such a thing as chivalry during these times, is there? Big sis, you know, maybe the reason that you've lost your chance to live a blessed life was due to that thinking of yours?"

    "Who did you say lose her chance to live a blessed life, huh!?"

    "Um, well, you got your engagement canceled and all."

    Éléonore's eyebrows twitched.

    "If I were not at the helm now, you wouldn't be standing up for long."

    "Yeah, yeah." Malicorne said dreamily. "As I was saying..."

    "Don't joke around. Be vigilant of what's happening around you."

    "Hey, I'm vigilant. How about big sis you stay focused on your job..."

    Just then, a scream came from Guiche, who had been keeping watch in front.

    "Ah! Ah! There's a huge warship ahead of us! They're aiming their cannons at us! Ah!"

    They were probably contacted by the patrol fleet, and stayed here to ambush them after predicting their path. The warship formed an eerie scene as it was gradually revealed by the moonlight under the dark sky.

    To say the truth, it was a completely different ship as compared to the patrol ship before. It was enormous, sporting a total of four cannon towers on the deck, two on each end of the ship.

    Each cannon towers had two turrets, so all in all there were eight cannons. There was no other word than horrifying to describe the feeling of having all eight large caliber cannons pointed towards them. If they were hit by it, without its armored hull, the "Ostland" might shatter into pieces.

    "What is that thing..."

    Éléonore said, trembling in fear.

    Malicorne's breathing quickened when he saw her like that. So it was something innate after all.

    "What happened? Oh big sis, it's so scary, so very scary. Are you afraid of that big warship?"

    "Ha? Don't joke around, think of something! Fatty!"

    "Then why don't you say 'Ah, the warship is too big for me to handle!'?"

    "What are you joking about right now!"

    "I'm not joking. It's because I want to hear big sis say 'Ah, the warship is too big for me to handle!', you know. You don't want to say it?"

    "Y-you...!"

    "Old hag. How about 'Ah, the warship is too b-big for me to handle...!'?" Malicorne said this into Éléonore's ears while breathing excitedly.

    "As I was saying!"

    "Alright, alright."

    "No, it's not alright at all!"

    Oh? Malicorne muttered as he saw what was happening in front of him. "Ah, they seemed to have fired their cannons at us."

    "Ah, the warship is too b-big for me to handle...!" Éléonore, spooked by Malicorne's heavy breathing, screamed as she turned the helm a couple of times around.

    The "Ostland" creaked as it made a sudden U-turn.

    Meanwhile, in that instant, the main cannon of the Elven warship fired.

    The cannon shell that had been fired by the Elven warship brushed the hull of the "Ostland" which had just changed its direction, and flew past it.

    "It missed!" Guiche's shout from the front end of the ship failed to reach Éléonore's ears. The fat boy beside her who was holding on to the helm tightly looked like he was going to faint.

    "You! If you dare to even joke again now..."

    "Ah, that's not what you said, was it? 'Ah, the warship is too b-big for me to handle...!', right? Okay, now tell me! Which is bigger, this one or the one before!" Malicorne continued to say this into Éléonore's ears. Goose bumps rise up Éléonore's spine, and she spun the helm quickly.

    During this time, the Elven warship continued firing at them, but unexpectedly, none of the shells hit the "Ostland", which was swerving wildly left and right. Somehow her haphazard steering managed to allow the ship to miraculously evade all the cannon shells.

    However, everyone on the "Ostland" rolled around the deck each time the ship turned around.

    "What kind of steering is this!" Kirche yelled from the quarterdeck. Of course, Malicorne and Éléonore could not hear them.

    After the "Ostland" dodged each cannon shell from the main cannons, it whizzed past the top of the warship.

    The Elven warship was not able to react within such a short time at that speed.

    The Elves would never have thought that a barbarian ship would be able to fly above them. A normal sail-ship could not be compared to the nimble and fast "Ostland", so the Elven warship was tricked.

    "Now is our chance!"

    Colbert pulled another lever in the quarterdeck, opening the belly of the "Ostland", and barrels of explosives rained down onto the Elven ship.

    The barrels of explosives exploded when they crashed into the deck of the Elven warship. While this was not enough to sink it, it managed to destroy all of the cannons on the warship, and fire spread rampantly across the deck, so they were in no condition to fight.

    The "Ostland" ignored the flaming elven warship and continued on to Adyl.

    Louise trembled alone in a room within the ship. The sounds of the cannons, and the constant movement of the ship made her terrified.

    Everyone was joining the fight, so she could not just stay in the room and tremble alone. Even though she thought this way, she could not move at all.

    "Just as I thought, I can't do anything without Saito."

    She could not summon her courage. If she did that, malicious thoughts would engulf her mind, she could not take it anymore. That group of elves, after they had captured Saito, they would not just leave him alone, right? They would have taken away his sanity, and he would be just like a doll now...

    She did not want to see Saito like that. If she saw him like that, she would probably also lose her mind. Even if they fought so valiantly now, even if they managed to fight their way through...

    "To see Saito, who has lost his sanity."

    "It's going to be alright." She kept repeating this to herself, but that image simply would not leave her mind.

    Why didn't she just, before seeing Saito like that... Once she thought of this, she lost every once of her courage to even continue thinking about it. If it was like that...

    Just then, someone slammed the door open.

    "Siesta..." the person who came in was Siesta. She held a plate of bread, meat and wine.

    "Okay! Time to eat!" Siesta said that with a cheerful tone that she had never lost no matter what situation she was in. Louise shook her head nervously.

    "N-now is not the time to be eating, right? Isn't everyone else still fighting..."

    "The fighting has stopped, you know, for the time being at least. Now, everyone is eating. Okay, didn't I tell you before that you can't fight if you're hungry?"

    Louise stared at the food before her. It had been prepared in such a way that they did not require forks and knives to eat it so they could eat it in battle. There was boned meat and bread, that had been cut into bite-sized pieces. Even so, she did not have any appetite at all.

    "Thank you for your concern, but it's alright."

    Siesta shook her head when she heard Louise say that.

    "Don't be like that. I don't care if anybody else doesn't want to eat, but Miss Vallière, you have to eat."

    "Why?"

    After that, Siesta said with a straight face, "That's because Miss Vallière is the core of this rescue mission."

    Louise looked at Siesta with a dazed look, uttering: "I am... the core of this mission?"

    "That's right, we can't afford to lose our cool now, can we? The only thing that could hold its own against those scary elves is Miss Vallière's magic. Even though we managed to escape successfully just now, we won't be able to save Saito at all if all we do is to escape."

    After hearing Saito's name, tears began to flow out of Louise's eyes, and with that, she began to sob.

    "Even if we manage to save him... it won't be the Saito of before anymore... they wouldn't just leave him alone like that, right? They will also take Tiffania's sanity away, won't they... maybe they don't even know who I am anymore..."

    Siesta gripped both of Louise's hand tightly, and Louise cried even louder.

    "I don't want to! I don't want to see Saito like that, I don't want to at all..."

    "Even then, it won't be too bad, right?" Siesta said, with a gentle voice. "Even if he has lost his sanity... Mr. Saito is still Mr. Saito, isn't that so?"

    Louise fixed her gaze on Siesta.

    "The three of us will live on happily in Des Ornières. If the Pope and everyone else says that it is troublesome for him to be like that, and they want to take his life away... I will pick up my frying pan and fight against them. Miss Vallière, wouldn't you fight with me too? It's likely we will lose anyway, but in that case everyone would rise up to the heavens together, hand in hand."

    Louise looked at Siesta for some time, before chewing her lip, and wiping the tears in her eyes away.

    Louise felt a little ashamed of herself. Even Siesta has made up her mind...

    "Sorry, Siesta."

    "Why are you apologizing to me?"

    "Even though... I'm a noble, even though I am a 'magic user', even though I have control of surprisingly powerful magic..."

    "Yeah, because I don't have all those abilities, so I can just say these things easily. If I have some impressive power, I probably will just crumble under the pressure. And that's why I'm grateful just to be a normal person."

    Louise quickly rubbed her tears away, and stood up.

    "Where are you going?"

    "I'm going to fight. I can't just let everyone else fight, I won't!"

    Siesta then took Louise's hand.

    "No, you can't. Miss Vallière's first job, is to finish this plate of food, then... preserve as much mental will as you can."

    "I am, the trump card. The weak and good-for-nothing me, is the trump card."

    "That's right. The weak and good-for-nothing Miss Vallière is our trump card, and Miss Vallière is so useless that God granted you this power. Can't you please be more useful to everyone? You're only worth that much because of this power."

    Louise could not help but smile at this. "I'm so insignificant, eh."

    "You've got that right. No matter your breasts, or your personality, or even the value of your life, they're all so small. What did Saito even see in you?"

    "I'll, definitely not be good-for-nothing anymore."

    "I think so too."

    Louise nodded, and took the tough bread in her hands before biting hard into it. It was flavourless, she had no appetite, but she gulped it all down with a glass of water.

    "Fuah!" And with that, Louise began wolfing down the food.

    After eating up everything, Louise said slowly.

    "Thank you. I've eaten my fill."

    "Okay, then let's talk about the future."

    "The future?" Louise uttered, looked dumbfounded for a while. "Even if the situation looks so bleak now?"

    "Yes, this bleak situation is why we have to talk about the future. We should talk about something happier, be honest with each other and talk about nonsense. Even if we put on such a serious face, it won't change the situation we're in at all."

    At this time, cannon fire could be heard again. The "Ostland" suddenly changed its direction. Both Louise and Siesta slammed against the wall.

    "Talking nonsense at this sort of time?"

    "Of course. Wouldn't that be fun? Just before I die, during the last instant of my life, I still would like to be doing something interesting. Or something like that." Siesta said with an overbearing voice.

    Is she serious? However, thinking about it lit something up in Louise's mind.

    Louise burned with the desire to antagonize the cheerful and brainless person in front of her.

    Didn't Saito take me as a peach-haired fool too? Louise thought.

    There was no reason for her to lose to this bubbly idiot. Louise took in a deep breath, and said with a radiant face. "That guy... is deeply in love with me, you know?"

    Siesta smiled. "Yes, of course. Even though I don't know what he sees in you."

    "After this battle has ended, I'll let him do all sorts of gentle things to me."

    "What gentle things do you mean."

    Louise whispered into Siesta's ears. Siesta wrinkled her nose and poohed.

    "... Miss Vallière, you're so cruel."

    After that, Siesta also whispered into Louise's ears, making Louise's ears turn red.

    "W-what did you say! Are you crazy!"

    "Miss Vallière, that's you. Anyway, as a reward for cheering you up, I want three days out of each week! Lend me three days, okay?"

    "Ha? Two days! Three days is too long!"

    "... you stingy girl."

    "What did you say?"

    "I didn't say anything."

    "Well, because that guy is deeply in love with me, he might not even go to your side during those three days."

    "Go to hell."

    "What did you say?"

    "I didn't say anything."

    In the midst of endless cannon fire, the two girls chatted non-stop gleefully about the man they loved.
  .center
    a(href="./index.html") 
      h4 Back to main page
  br