extends ./template.jade
block content
  h1.center Volume17 Chapter 5: First meeting with Jack
  br
  :markdown
    In the end, Saito, who hadn't slept at all, began to search the hotels. Saito, together with Siesta, Guiche, Malicorne, and Tiffania separated into small groups and began their mission. They searched the hotels in town one by one.

    Even though he had gone through three hotels, Saito still had not found out anything satisfactory.

    "Have we finished searching this street?" Asked Siesta.

    "Who knows?"

    Saito walked into the fourth hotel. It was a large hotel by the name of "Our Sea". Behind the narrow counter, the hotel owner was smoking a pipe.

    Saito asked the hotel owner the question that he had repeated for who knows how many times already.

    "Can I ask you if......there was a noble girl, about this tall, staying here? Her age may be seventeen, but she's smaller than she looks. She looks as cute as a human doll......"

    After that, the owner, mumbled,"Unnnn", before shaking his head.

    "She's not here too......"

    Just when Saito was about to leave, he was sent flying by a man wearing a grey cape.

    "Uwaa!"

    The grey-caped guy, who just knocked down Saito, looked back to the counter.

    "Hey! Old man! Is there a mage girl who lives here? She's seventeen, in a black-white dress, and looks doll-like!"

    That voice made Saito turn back unconsciously.

    The owner at the counter shook his head and said, "In this some kind of fashion trend for noble girls to go on a trip by themselves? The noble just now had also asked the same question, you know!"

    The grey-caped man turned his body around. His gaze met Saito's. His face immediately took on a vicious sneer.

    Saito simply gaped.

    That guy......isn't he the one that destroyed Derflinger and almost killed me nine days ago?!

    "You......"

    "Saito-san?"

    "Siesta, run, run to the other guys. These were the people who targeted me before.

    "Y-yes!" Siesta stiffly rushed away.

    Saito laid his hand on the sword. The rage and pain of losing Derflinger swiftly growing in his mind, the runes on his left hand began to glow brightly in response to his emotions.

    This guy......

    Even though he had clearly stabbed his sword through his stomach to the hilt, Bleu was still alive and kicking. Perhaps he was treated by that girl with Water magic. Along with Bleu's "Blade", those two guys are formidable opponents.

    While taking note of his immediate surrounding, Saito lowered his center of gravity.

    "Hey, I still have tons of things to ask."

    However, Bleu shook his hand as if he can't stand the sight of Saito.

    "Today's a rest day."

    "Killers don't bloody rest."

    The both of them, with their blades drawn, made the owner uneasy.

    "Hey you two! Settle this outside!"

    That voice made Saito raise his chin.

    "Outside."

    Just then, Bleu drew his wand and started chanting. "Airhammer."

    A huge block of solidified air blew Saito away along with the front door of the hotel. He tumbled on to the main road.

    "Dammit!" Saito quickly crawled up but Bleu had already fled like a rabbit down a hole.

    "Hold it!" Saito yelled as he tried to chase after him.

    Seeing Bleu running from the other side of the street, Jack winced.

    "What did he do this time......"

    "Big bro! Big bro! Not good!"

    "What's not good? Let's hear it."

    "That! That is, that guy's here!"

    Hah? Jack opened his mouth wide. Not long after that, he saw the swordman charging at Bleu and widened his eyes.

    '   "What did you do this time?!"

    "It's not my fault! It was a coincidence!"

    Putting aside spell chanting, Jack reanalyzed the situation. Before the negotiations regarding their remuneration were completed, they can not kill this guy. If he was killed, then it was not a matter of money anymore, but rather a trap between the devil and the sea!

    "Really! Always so troublesome!"

    Jack chanted a short spell incantation. After which, the ground below Saito's feet began to bulge and turn into giant mud hands which grabbed Saito's feet.

    However, Saito, whose left hand was holding the hilt of the sword, pulled it out in the blink of an eye and severed the hands.

    Phiu~Jack gently whistled and started to chant another incantation. The earth on the ground rumbled and floated before turning into several golems.
    
  .center
    img(src="img/ZnT17-097.jpg")
  :markdown
    The golems, clad in warrior attire, pounced on Saito with an inhuman speed, but Saito simply slashed the golems apart effortlessly while charging forward.

    "Is that so? Tricks like this won't work, eh?" said Jack.

    Jumping on a horse, Bleu asked Jack, "What do we do?"

    "There's nothing to do. If we kill him, everything's lost. The only option left is escape." Jack said calmly.

    Saito, who had been charging forward, noticed that the number of opponents had increased to two men.

    However, no matter the number, it was all the same. These guys......though I don't know who commissioned them to kill me, Derflinger was sacrificed because of them!

    "Why didn't they kill him". "Why could they use such powerful spells". Such questions had already vanished from Saito's mind.

    The strong feelings of hatred, along with the grief of losing Derflinger swirled around in his mind. The combat experience he had garnered, however, turned such emotions into a state of "calm".

    Despite this......just as his brain calmed down......a strange feeling seeped into Saito's heart.

    "......eh?"

    His footsteps slowed down.

    The feeling that seeped into Saito's heart......was "fear".

    That absurdly large "blade".

    Also, that magical power that had managed to crush Derflinger......

    Before, he had fought against sheer strength.

    Before, he had fought against sheer numbers.

    However......these guys, are "different".

    Compared to the enemies he had fought in the past, they were different somehow.

    "I can't win." The spark of fear in his heart whispered to him.

    Saito tried to find reasons to crush his fear.

    What am I thinking?

    No matter the enemy, I have always won anyway. Come on, Saito, look at the big guy. He's a mage but he looks so big......haha, isn't that a boot!

    Even so, the fear didn't go down at all.

    "Why isn't Derflinger here?"

    Damn! (T/L: not sure if this a monologue here.)

    "Why isn't Louise here?"

    I'm actually......alone.

    "Think, Saito, think. Don't lose out to fear."

    The big mage started to chant.

    What is it now? An earth wall? Or using "Harden" from "Alchemy" to make his body as hard as stone?

    "I'm going to cut you apart."

    The sword that Saito was holding, was indeed a gift from the Founder Brimir, a real katana. Compared to the other swords and sabres, this was enhanced with "harden" and "permanence".

    If it was held by the Gandalfr himself, there should be nothing he can't cut in Halkegenia.

    However, even so, his fear didn't disappear.

    His body still shook lightly.

    "Dammit!"

    When there was just a distance of fifteen meters between them, Saito leapt.

    The earth wall in front of Jack that was just formed turned into shiny steel. Saito grabbed the sword with both hands and easily sliced through it.

    Just like that, he carried on with the heavy swing and forcefully slammed the sword onto Jack's left hand.

    However, Jack's expression did not change one bit. He simply held his hand that way for a while, blocking the sword, before lifting it.

    "What the?"

    Saito, shocked, was hurled to the ground. In a split second, Jack's fist came flying to Saito. Under the sun, Jack's fist seemed to radiate a glowing brilliance.

    That's not a normal fist!

    Saito rolled, dodging Jack's fist with barely a hairbreadth left.

    Jack's fist, simply sank into the ground.

    "Iya, you're quite light on your feet, eh?"

    "Bam!". Jack withdrew his fist from the ground and it turned as hard as steel. Bleu had also used this technique before. The skill of hardening one's body seemed to be their forte.

    However, his left hand was clearly slashed by the sword......But not a drip of blood leaked out. What the hell happened?

    Seeing Saito stand up, Jack smiled.

    "You......really have some great stuff there, eh? But then again, I can't fight you now."

    Just as Saito prepared to dash forward, Jack started to chant. The ground bulged, and broke down to tiny dust particles instantly. Although this was simply "Alchemy" the effect was completely different.

    With Saito and company as the center, the corner of the street was completely hidden in the dust storm.

    "Dammit!"

    With his vision blocked, Saito had completely and effortlessly lost all his fighting capacity. This is the main street, if one swung his sword blindly in the dark, who knew what he'd cut.

    After the dust subsided......Jack and Bleu already disappeared. Saito, who looked like he just stepped out of a cloud, stamped his feet on the ground.

    "Damn! Damn! Shit!" (T/L: original:「可恶！可恶！该死！」)

    Elbowing the gaping passers-bys, Guiche and company rushed to him.

    "Saito! Are you okay?!"

    "Are those people just now the guys who attacked you before?"

    "It seems that they escaped."

    Saito slid his sword back into the scabbard before slamming his fist into the ground.

    "Don't be so resigned. There will be plenty of chances in the future." Guiche said, trying to console Saito. However, that just wasn't so.

    What's regrettable wasn't that they escaped.

    But.

    The fact that he let them escape in front of his own eyes.

    While he felt relieved that he hadn't battled them.

    Even with vengeance for Derflinger on the line......I escaped.

    What kind of (shitty) hero am I? (T/L: translation of 狗屁)

    "Damn......! Derflinger......! My own strength, sure enough, just isn't enough to defeat them!"

    From the window of the "White Whale of Land Inn", Jeanette, who had seen the entire episode, slowly showed a cold smile on her face. Isn't that guy, who just fought with her brothers, called de Onieres, the guy whose "job" was suspended?

    Why would he run back to this street?

    Pondering this, Jeanette smiled.

    "......what was that racket about?"

    Louise rubbed her eyes while sitting up from the bed. Jeanette told Louise, "Nothing much, it's just some drunkards."

    "......Really troublesome. Didn't they wake everybody?"

    Looking at the sleepy Louise, the smile on Jeanette grew more pronounced.

    Looking back......she would have never thought that this was the girl she had just passed before.

    "Then, haven't your brothers come?"

    "They came already~"

    "Eh? Really?" Louise's eyes glowed.

    Just then, the door just opened without much bother for a knock.

    It's Jack and Bleu.

    "Aiya. You're really late, brothers."

    "This guy forgot the name of the inn." Jack poked Bleu's head.

    "But, didn't I remember it!"

    "You should have remembered it from the start!"

    Not caring for his brother's rebuke, Bleu looked at Louise, his eyes widened.

    "A girl!"

    Jack frowned. "Did you control her heart and make another 'Puppet'?"

    Louise looked at Jeanette, surprised.

    "Puppet"?

    What, are they talking about?

    After that, Louise looked at the two men who just appeared. Covered in grey robes, they looked like monks.

    However......the aura they have is different. From their wands, they certainly are mages, but they didn't seem to be nobles.

    "Hey, Big bro Jack."

    "What?"

    "Wasn't there once, when we sent one illegitimate noble child to a monastery?"

    "Aah, that's about, two years ago."

    "That place, do you still remember it?"

    Jack took a glance at Louise, before returning his gaze to Jeanette. "Yeah, I do."

    "That's great. Can you tell me about it?"

    "What for?"

    Jeanette smiled brilliantly. "This kid, says she wants to go there."

    Bleu spread his hands, shocked. "Hey hey, Jeanette! What are you talking about? This information is something we got from a job, is it really so good if we reveal it that easily? Anyhow, that monastery is a place so secret that......even only a few Gallian royal nobles know about it......"

    "That really doesn't matter at all."

    "I'm just saying, don't you always nag me saying that we should preserve the confidentiality of our work?"

    This conversation made Louise confused. These guys, what do they do for a living? Although it sounds that, they were secret Gallia spies......

    Maa, their identities weren't important.

    A place for her to hide herself......isn't that enough?

    "Alright, I'll tell you."

    "Big bro Jack!" Bleu yelled.

    "If Big bro Damien knew about it, he would blow his top! Absolutely!"

    "Maa, he should get angry. However, if I don't say it, Jeanette will get even more angry. Right, Jeanette?"

    Jeanette's face slightly reddened before laughing happily.

    "This kid......it's like that from the start. When she sees someone she likes, she would help them no matter what. That's just great, miss." Jack said while looking at Louise. Louise, frightened by the pressuring aura emanated by Jack, fearfully nodded her head.

    Jack took a parchment from his bad and wrote something smoothly.

    "Go to the street along the coast of Gallia......Graville, find a priest called Marthis in the Sandwellie monastery there. He should bring you to where you want to go." (T/L: not sure with the names.)

    The letter, which was handed to Louise, was instead snatched by Jeanette.

    "Hey, Jeanette......"

    "I'll take her there. This kid, she can't cross the borders alone, right?"

    "You......what about the job? What are you planning to do!"

    "In any case, the negotiations aren't completed, right? Big Bro Damien isn't here too. Also, even if I weren't here, there won't be much difference, will there?"

    "Maa, it really is so."

    Jeanette pounced on Jack and kissed his cheek. "Thank you, Big bro Jack! Although your face is scary, your heart is the softest!"

    After that, Jeanette turned to the gaping Louise.

    "Come on. Hurry up and prepare your stuff. We're going immediately. Hurry, hurry, we'll need at least three days to get to Gurabir from here, you know."

    "Nn, okay....."

    "Aah, right. Wear a large hood too, to cover your face, okay? We don't know who's gonna catch up to us, right?" Jeanette said to Louise, who was nodding furiously.

    "Alright. Finally, let me ask you again."

    "Eh?"

    "From now on, the place I'm gonna bring you is a 'secret place'. Do you know what that means? In other words, once you go in, you're never getting out. Is that okay? You're never, ever going to see him again, you know?"

    This sentence made Louise pale. It was as if someone had speared her head with an icicle. She was frozen from the depths of her soul.

    "Never, ever going to see Saito again."

    This matter was becoming reality in the blink of an eye, made it that much heavier a burden......

    However......she had realized what she had to do and that was why she ran away, wasn't it?

    Because, Saito is already......in love with a person who loves him and can protect him more.

    She once thought that being at Saito's side was the only place for her. However, now she cannot return to that place.

    If she didn't do this......meeting with him would only make her heart ache more. It could be said that she didn't want to be hurt anymore. The pain was unbearably excruciating.

    The Louise of the past had already died. Now there is just a shell......

    "Never mind." Louise said. The smile on Jeanette's face resurfaced.

    "Sacrificing yourself for 'love'? Good, I like this kind the best."
  .center
    a(href="./index.html") 
      h4 Back to main page
  br