extends ./template.jade
block content
  h1.center Volume20 Chapter 5: An Elf's Longing
  br
  :markdown
    "You looked troubled. A penny for your thoughts?" Mother Sea asked, on the day after Saito found the submarine. It was rare for her to do that.

    Saito looked disturbed the whole time that day. It could also be said that he was depressed because of the "nuclear weapon".

    "Um, you see... Actually, I'm the legendary familiar."

    "Ah, I see."

    "I have the power to use any weapon."

    "That sounds nice."

    Mother Sea said this with a monotonous voice.

    "Hey, can't you put a little more effort in hearing me out?"

    "I'm listening. It's just that I've have lived for so long. I wouldn't feel surprised about listening to something that ordinary."

    After hearing the ancient dragon say something like that, Saito started to feel as if his troubles were nothing more than a drop of water in the sea.

    "Well, the ancestor of my master has sent me 'weapons'. Using some unknown magic, they sent me weapons from my world."

    "So, you're troubled by the weapon you've found."

    "Yeah."

    "No matter what, that weapon was sent to you, right? Shouldn't you be happy about it?"

    "The problem, is the power of said weapon. Even in my world, that is the most powerful weapon available to us. It's the ultimate weapon, used only as a desperate measure. This is not just some weapon comparable to something like the gun."

    "Oh, then what is it really?"

    "It's a nuclear submarine. It's sunk at a place 10 minutes from here if I ride a dolphin."

    "Oh, that one? The chunk of steel as big as a building was built by you guys?"

    "You know about it?"

    "Of course. There's nothing in this ocean that old me doesn't know about. I see, so that thing was a weapon from your world."

    That thing? Saito took special note of this phrase.

    "Are there others?"

    "Yeah. Do you want to take a look?"

    "Take a look? Did you mean..."

    "Old me thought that they were junk, so I gathered them into one place. I've never thought that they were weapons."

    Mother Sea pointed towards the deep end of the cave. There was another hole in there, filled with seawater, with a diameter of about 20 Mails.

    "They are inside there."

    "In the water?"

    "No, there's another place similar to here through that hole. I'll bring you there. Hop on my back."

    Saito suddenly felt uneasy but he did not know why. He followed Mother Sea's instructions and climbed onto her back.

    "Saito, where are you going?"

    After Saito sat atop Mother Sea, Tiffania, who has been sleeping beside Saito the whole time, woke up.

    "It seems like there are more of those weapons."

    "I will go with you."

    Tiffania immediately got up.

    Luctiana, who had been playing with the dolphins at one side, saw what they were doing and walked to them.

    "Where are you guys going?"

    "Oh, Mother Sea told me that there were more weapons from my world here."

    "Eh, what are those? I also want to take a look. By the way, why haven't you told me about it before?" Luctiana said to Mother Sea, surprised.

    "I've always thought that those were junk thrown away by you elves or the humans..."

    "Hey, it's not like us to litter."

    Luctiana grabbed onto Mother Sea's scales and climbed onto its back with a sour face.

    "Alright, bring us there. Quickly."

    Tiffania followed Luctiana's lead and climbed up the back of Mother Sea. After making sure that everyone sat on her back, Mother Sea began to lumber forward into the hole filled with sea water.

    The hole seemed to lead to a labyrinth of tunnels, like an anthill, within the gradually expanding hollow interior of the stone mountain.

    After diving in the water for about ten seconds, they resurfaced into another cave.

    Seawater gushed into the cave. As it was connected to the outside, the interior of the cave was relatively bright. It reminded Saito of the famous stalactite caves he had seen on the inland travel agendas in the magazines or in the television programs before.

    However, the place that Mother Sea brought them to lacked the sense of mysticism.

    This was because it was filled to the brim with corporeal objects.

    Saito took in a deep breath.

    All kinds of weapons lay before him.

    Rifles, cannons, tanks...there was even a fighter jet...

    He thought of the underground basement Julio brought him to. Even though there were also weapons of all sizes there, it was incomparable to this place in terms of quantity.

    However, this might be because all of these were found in the sea. Most of the objects were husks of their former selves, rusted beyond repair, and had become completely unusable. What the Romalians had found were probably found on land.

    Saito touched the surface of a tank of unknown origin, which had turned craggy due to rust.

    As the smell of corroded iron entered Saito's nostrils, he was overwhelmed by a sudden sense of homesickness and sorrow. These military weapons, brought away from home to a faraway land before they could be used, left to decay here as time went on...

    However, in a way, this might also be a form of bliss.

    To be able to end their lives without causing pain and suffering to others, might be a path to happiness after all...

    Saito superimposed himself over those weapons. He thought about how he himself, was a weapon that had been summoned to this world...

    However, he was not a "tool". He was sentient, and he had a soul. What should he do, after being gifted such destructive power?

    Wasn't it for the best if he allowed his life to be wasted away like the weapons here? Saito could not help himself from thinking that way.

    Just as Saito was drowned in his morose thoughts, Tiffania gently grasped his hand. Saito turned his head, and saw Tiffania shook her head while looking at Saito with a serious face.

    Her eyes carried a strength that made Saito felt remorseful at thinking about how he should waste his life away here.

    "You shouldn't be worrying about unnecessary things, you know."

    Tiffania said that with a gentle voice.

    "Sorry, I think too much."

    "What is the matter?"

    "It's nothing. I was thinking, isn't the weapons piled up here the same as me?"

    Tiffania shook her head after hearing Saito speak.

    "Saito isn't a tool. You're not a person. You're not just any person..."

    Having said this, Tiffania lowered her face, embarrassed.

    "You're also an important friend to me, aren't you?"

    "I guess you're right. Thank you."

    Knowing how Tiffania thought about him made Saito feel happy, and a smile appeared on his face.

    Saito cheered himself up and walked up to the pile of weapon husks, planning to scour around looking for something that could be used. Even though he did not know what would happen after this, weapons were always needed.

    Tiffania followed Saito's lead and began searching the pile. Meanwhile Luctiana simply looked at them from the side.

    "Aren't you going to help them?"

    Mother Sea asked Luctiana, but she simply shook her head.

    "They are our enemies, you know. They're are finding weapons to kill us, how could I help them do that?"

    "Didn't you help them escape?"

    "That's because I didn't like how the Council did things."

    "Do things the way they should have been done. You people have such a complicated way of living," said Mother Sea. However, after observing that Luctiana was in fact itching to join them, Mother Sea then said,

    "You want to join them, don't you? It's written all over your face."

    "That's because I am interested in what they are doing. Even if that's the case. Alright! I'm just going to take a look!"

    Having said that, Luctiana joined the duo who had been searching the "weapons".

    Although most of them had rusted beyond repair and left only husks of their original selves, they managed to find some weapons that were borderline usable. They were mostly small caliber firearms covered in plastic, or stainless steel revolvers that had been given the waterproof treatment.

    What were they planning to do with all of these stuff? There were even some Russian-made rocket launchers in there. They got a shock when they found a plastic bag containing a hand grenade and a smoke bomb, along with something like a plastic bullet cartridge. Saito did not know that there were so many weapons that had been waterproofed.

    What's even surprising was that there was a boat here.

    Not only that, it was not an ancient artifact like the Zero Fighter or the Tiger Tank. It seemed to be built just a few years ago, still maintaining its outer appearance, floating at the end of the cave that was closer to the sea.

    The boat was ten mails long, and at a glance, was no different than an ordinary boat. However, there were machine guns build into the bow of the boat. So it was not any ordinary boat at all. It may have been one of the patrol boats that guarded a port.

    "This was found just recently."

    Mother Sea looked unusually lively. It seems that she enjoys collecting these items.

    They did not have to guess where the boat came from, as the characters, "U•S•NAVY", were painted with black paint on its hull. Even though the dull gray body of the boat had begun to rust, it still seemed to be in operating condition. Saito clambered up the boat, and placed his palm on the wall of the boat. As expected, the runes on the back of his hand began to shine.

    "This can still be used."

    Saito mumbled to himself as he walked towards the cockpit. If it was something provided by Mr. Brimir, then this should be a military boat, but he also felt that the atmosphere within the boat was not that severe. From the outside it just looked like a normal boat floating on the water.

    Saito grabbed the steering wheel just as he would to that of a car's. At the same time, the blueprint designs, operating instructions, and other information of the boat began streaming into his brain. This boat seemed to be propelled by an internal combustion engine and a water jet propulsion system. It also seemed to be the latest model, so it would not be that much of a hassle to run it, as compared to the Zero Fighter and Tiger Tank. Machines have evolved so much since the old days, eh?, Saito thought.

    He looked at the fuel tank indicator. There was plenty of fuel left.

    Saito turned on the motors and fired up the engines. The boat looked delicate, but as expected of a military boat, it was very durable and still worked even after it had not been maintained for a period of time.

    Mother Sea jolted upright, shocked by the sound of the starting boat engines.

    "What is it? What's happening!"

    "That's the sound of engines revving up."

    Saito did not notice that Luctiana and Tiffania had already climbed into the boat, and was looking around curiously. As Luctiana had a scornful look on her face, Saito felt pride welling up inside of him.

    "What do you think of the patrol boat, elf lady?"

    "Mm, what are you asking me that for? Oh right, what magic produced the sound just now?"

    "That's not magic, you know. That's science. It's produced by something called an engine. I know you guys have pretty advanced technology, but could you guys make something like this?"

    "Don't say it like that. It gets on my nerves."

    Luctiana said glumly. But she then turned back with an serious expression and said,

    "Hey, make it move for me."

    "What's that 'hey' about, blockhead. Change your tone!"

    "What! You barbarian!"

    The two of them began to squabble. Tiffania looked at them, at a loss of what to do.

    "Alright, alright, stop it, the both of you! By the way, Saito, this looks impressive. How do you operate it?"

    Saito taught Tiffania how to operate the boat. Even though that seemed quite the daunting task, most of the operations are automatic, so it was very simple. It was just like driving a car.

    Even though he wanted to take the boat out for a test run, he did not want to attract unwanted attention. So he decided against it.

    Looking at Saito's and Tiffania's happy faces made Luctiana bored so she pouted and said, "Humph, someone's on a high horse. Science? What about it, huh? In the end there was only this thing that was of any use. The rest was all rubbish."

    "What? Don't you see that this is not the only one! Every one of these guns and rocket launchers are also made by science! There are so many of them!"

    "Even us elves could make them, if that is the case!"

    "Show me then! Where are they!"

    However, Luctiana started looking away and whistling.

    "This irritating girl..."

    Just then, Saito noticed about something.

    Why did so many weapons from Earth appear in the sea here?

    Saito thought about something Julio had said some time ago, in the underground basement,

    "These 'weapons' were found near the Holy Lands..."

    Linking this statement with the fact that there is a huge pile of weapons here...

    Right.

    This was a place where even a nuclear submarine got moved to.

    He had always thought that the 'Holy Land' was located on land because there was the word 'land' in it... However, six thousand years had passed, so the terrain may have changed over time. In other words, what might have been land, may also become the sea.

    In that case, could this place actually be the 'Holy Land'?

    Or would it be some place close to here...

    Saito stopped that train of thought for a while. No, how can this be possible? This was impossible. However...

    Saito could not get rid of the lingering idea that this was "possible".

    "Hey, Derf."

    "What?" Derflinger, who had been hanging on Saito's waist lazily, spoke up.

    "Didn't you say before, that the place where the Holy Land was has changed, so you didn't know where was it."

    "Mm, yes, I did say that."

    "Um... Mother Sea?"

    "What is it?"

    "Was the place around here previously land?"

    "This place has always been sea since I was born here."

    "How long ago was that?"

    "Around a thousand years ago, I think."

    "How was it like before that?"

    "Oh, now that you've mentioned it, my grandmother did mentioned something about it. When the grandmother of my grandmother was around, this place was once land..."

    Saito felt that his assumption was no longer just a simple hunch.

    Luctiana said, surprised, "How is that possible? Are you saying that this place is 'Shaitan's Door'? Hey, this is the 'dragon's nest', an abandoned place, forgotten by everyone. If this place was 'Shaitan's Door', the army should have been stationed here to guard it. We couldn't have entered this place that easily..."

    "If the army were to do that, wouldn't that just be like telling everyone, 'Hey, Shaitan's Door is here'?"

    "However, even if that were so, then once they knew that we were here, how could we be so calm and carefree..."

    "That's why I feel that it's too strange for us to be able to escape so easily!"

    Just then, a loud explosion echoed from a distance.

    What happened? Just as they were looking at each other in confusion, the outer walls of the massive stone pillar that Mother Sea lived in reverberated with the sound of something hard crashing into it. The cave shook violently, just like in an earthquake.

    Saito immediately understood what made the sound. It was the same explosion sounds he had heard before in Albion and Gallia.

    Cannons.

    Another volley confirmed Saito's suspicions.

    "This is bad...!"

    If only he could have known this sooner... He should have put two and two together when he found the submarine.

    "Ah, what's happening? What is it?" Luctiana asked around anxiously. Tiffania hung onto Saito, scared.

    "It seems that our fates are in their hands." Saito said apprehensively.

    "Only three hit their marks. Isn't that a little inaccurate, Comrade Fleet Commander?" Fatima commented after she saw the landing points as she stood on the bridge of her ship. She stood firm, her posture reminiscent of the mythical female warriors of Halkeginia.

    The warship fleet she commanded had four 'dragon whales' in total. Each warship had a rotating cannon tower installed on the bridge.

    The base of the cannon tower had been transformed from a dragon whale's fin. This meant that the sturdy cannon tower could be rotated without any sort of magic power.

    The rear mounted cannons on each tower were extremely powerful weapons. This was because each cannon barrel, which had been invented about fifty years ago, were rifled.

    With the ability to induce a stabilizing spin to the acorn shaped artillery shells, which greatly improved the range and power of the cannons, these cannons had brought countless victories to the Elven navy in their battles against Halkeginias pirates and navy.

    Even though the navy and air force warships of Halkeginia also carried hundreds of cannons of their own, each one of those cannons were older front mounted ones. Halkeginians also had the rifling technology, but due to the lack of metallurgical knowledge, and the opposition from the nobles against civilian arms, this technology was not well-received. The regression of technical knowledge was just like the nobles who thought that magic was the only orthodox technology and that weapons were the path to evil.

    "It's just like that, Comrade Colonel. Three out of eight hit their mark. It's pretty good."

    The fleet commander said that while he surveyed the situation with his telescope. They have just launched the cannons, two from each of the four 'dragon whale' warships, all at once.

    "Alright, what should we do now then?"

    For the fleet commander's question, Fatima answered, "Our orders by the Council were to 'capture them alive'."

    "No, I'm asking what our orders from the Party were."

    The fleet commander was also one of the members of 'Steel-blooded Party'.

    "We, the people of the desert, as united as steel by our bond of blood, will exterminate the barbarians of the west. Oh Noble Will, lead our way!" Fatima answered with the party constitution.

    The fleet commander nodded, satisfied, and gave his order.

    "Continue the shelling. All cannons, fire at will. Shoot everything we have against them. We'll tell them whose land is it here."

    The shelling continued without pause.

    "Wait a minute! Why are they suddenly throwing cannon shells at us?"

    A few shells hit the rock ceiling, causing rock shards to rain down. One of the stone pillars beside them got hit. Spear-like stalactites fell right in front of Saito and the others and shattered into pieces.

    "Anyway, let's get out of here first."

    Saito took off his shirt immediately and jumped into the sea. Tiffania and Luctiana also stripped down to their underwear and dived into the water after him.

    After riding the dolphins out of the cave, they heard cannon shots behind them.

    "It's that way."

    Saito and the others dived into the water and swam to the other side. They then lay on the dolphins, leaving only their heads out of the water to look at their surroundings.

    Ah, found them!

    There were four ships, barely touching the water's surface, firing their cannons on the sea a few kilometers away.

    "It's the cannon ships from the navy!"

    "Those are cannon ships?"

    The whale-like organisms, that were carrying a cannon tower and a ship bridge, were actually warships of the Elven navy. Saito was surprised by this.

    "Yeah! Hey! Why are they shooting when I'm still inside!"

    "That's because you're a traitor. No matter what, even if we died, it's not us who's going to be bothered, right?"

    After hearing Saito say that, Luctiana nodded.

    "I guess. Although I won't like that to happen."

    Just then, cannon shells flew towards them. One of them hit the water not far away from Saito, and the waves after the initial pillar of water crashed into them.

    "Uwah!"

    As Luctiana was prepared to howl out in indignity, Saito grabbed her leg and pulled her into the water.

    "Gulp! What are you doing!"

    "They'll notice us, you idiot!"

    "I can't put up with this if I don't say something!"

    "Anyway, we should focus on escaping first!"

    After returning to the cave, Saito and the others prepared to flee the place. However, they did not have any luggage to speak of.

    "Where are we going to escape to?"

    Luctiana asked Saito.

    "How would I know? I'll leave that to you."

    "What's that supposed to mean?"

    Saito let Tiffa and Luctiana sit in the dolphin boat, while he took the small patrol boat. He grabbed some of the weapons they had found just now with him in the boat.

    "What? Are you going to run away in that boat alone?"

    "Of course not! I'm going distract them. Wait a few minutes, then you guys leave in the opposite direction."

    "I-I want to go with you!" Tiffania anxiously prepared to board the small patrol boat. However, Saito shook his head.

    "No, Tiffania. You have to leave on that boat."

    "I can't allow you to be bait while I run away!"

    Tiffania grasped Saito's hand tearfully. Saito looked away and shook his head again.

    "No."

    "Please!"

    "If I'm alone, it's much easier for me to move around. I'll just lure them away then I'll join you guys."

    "I can also do something!"

    Tiffania did not plan to give up. Another shell hit the ceiling, and rock shards rained down from the ceiling again.

    "As I was saying! Tiffa! This is too dangerous for you!"

    "I don't care if it's dangerous. Even if it's me, there will be things that I can do. Just tell me how to use those 'weapons'!"

    Saito put on a serious expression. To be honest, he did not want to say the things he was going to say. However, there was no time for them to delay any longer. Tiffania was unable to make any calm decisions anymore.

    Saito said with a bitter voice, "You are a burden to me."

    "What?"

    "I'll just speak my mind then. You're going to be a burden to me. If you don't escape, it will only create more problems for me."

    Me? A burden? Tiffania was dumbfounded. Saito used the opportunity to push her down the patrol boat.

    "Luctiana, I'll leave Tiffa to you." Having said that, Saito started the engines of the small patrol boat. The motors whirred into life, and the boat began to move.

    "Oi! Dolphins! Turn them around!"

    Saito shouted towards the dolphins that had gathered around the boat. The dolphins immediately understood what Saito meant, and deftly turned the boat around with their noses.

    After Saito made sure that Luctiana had pulled Tiffania onto the boat, he putting his palms together and said, "Sorry," softly.

    Saito stepped on the propeller gas pedal after confirming that the path forward is cleared, slowly moving the small patrol boat out to the open.

    After he exited the cave, Saito turned on the pump jets to maximum throttle.

    Under the double acceleration of the propellers and pump jets, the small patrol boat began to move forward rapidly.

    "Partner, you said some horrible things, eh."

    "That's because, if I didn't say those things... Well, I'm happy that she thought about helping me. However, there's a difference between things she can do, and cannot do."

    "Yeah."

    After going around the huge rock pillar, Saito quickly reached the place they had been just now. The four dragon whale warships entered his vision.

    "Alright, now I have to get their attention."

    Saito charted a straight path towards the fleet.

    While he was advancing towards the fleet, Saito thought calmly about the unknown location of the "Holy Land".

    If, this place was really the Holy Land...

    Then what did they really have here?

    The pope had said something about a gigantic magical contraption here.

    What exactly is that magical contraption?

    No matter what, he could not really completely believe what the pope had said to him. There was no doubt that they were hiding something from him.

    And then there was the thing about Sasha killing Brimir.

    And also the fact that Derflinger was made by the elves.

    What really happened back then, six thousand years ago?

    Mystery after mystery appeared before Saito.

    Saito felt that if he did not solve the mystery of what really happened there six thousand years ago, he would not be able to save Halkeginia at all. It was a feeling akin to a premonition.

    Saito wanted to put an end to this subtle feeling of "incongruity".

    "Hey, Derf."

    "What?"

    "This is the 'Holy Land', right?"

    "Didn't I already tell you? I don't know. I'm telling the truth."

    "You're made by the elves, right?"

    "Mm, since Luctiana said so, it seems to be the case."

    The dragon whale warships noticed Saito's incoming patrol boat, and turned their cannon towers towards him. Saito looked in front of him as he continued to ask his questions.

    "In other words, you were made by Sasha, right?"

    "When I was first conscious, I was indeed held by her."

    Cannon shots were heard, and flashes of light appeared from the cannon muzzles, before they spewed out black smoke. Saito turned the boat's steering wheel, and the small patrol boat nimbly changed its path.

    The shells flew towards an unexpected direction, and left magnificent water pillars in their wake. However, that was all.

    "This might only be my imagination. The reason why you've forgotten about it, might it be the Elves' doing?"

    "What do you mean like that?"

    "Well, if I put it put it this way, maybe you were tampered with so you couldn't remember things that are bad for the Elves?"

    "You meant that Sasha did that?"

    "I'm saying maybe. These are just some of my thoughts. However, I'm not sure if this was really the case, as I don't fully understand magic."

    "What would you do if that really was the case?"

    "I wouldn't do anything. I just felt that it wouldn't be right for me to continue pressing you."

    Derf's body went clink clank, as if he was laughing.

    "You're really a good partner, eh? It's my lucky fortune that I was paired with you. But maybe it's just as you said, that when I wanted to say something, I felt as if someone pulled my guard up, and I couldn't say anything."

    They were only a few hundred meters away from the dragon whale warships now, and they could now see clearly see that the warships were outfitted with other small caliber cannons besides the main cannons in the front and the back of the warship.

    "Alright, anyway, this marks the end of our conversation. We should focus on the task we have before us, Derf."

    "Alrighty, partner."

    The small caliber arms on each side of the boat began firing all at once. Saito made the patrol boat do a quick U-turn. The place he was at just at was peppered with small water pillars where the bullets hit.

    After affixing the gas pedal, Saito picked up the rocket launcher beside him and stood up from his seat. He thought the thing he held was the Russian-made RPG7. It often appeared in games.

    Saito controlled the steering wheel with his feet while trying to aim the red-tipped warhead at the dragon whale warship. Even though he thought about striking the cannon towers, just destroying one of them wouldn't have any effect.

    So he aimed at the ship bridge.

    "They don't have 'Reflect', do they?"

    Saito remembered how he suffered in the fights of Alhambra and Tiger Street when every blow was reflected back at him.

    "It's okay. Only skilled ones can use that."

    "And what should I do if there are really skilled ones on board, huh?", Saito thought as he aimed at the bridge, and he pulled the trigger on the RPG7. The warhead shot forward in a flash, faster than what Saito had expected, and hit the bridge.

    Luckily, they did not have 'Reflect'. The weapon had a shaped charge, so it easily blew a hole into the thick scales of the dragon whale, and pierced through it. After that, a huge explosion was heard from the inside of the warship, followed by fire and heavy smoke.

    However, due to the gigantic size of the dragon whale, the attack barely affected it. Not only did it show no sign of slowing down, its attacks were barely hindered.

    "Doesn't seem to have much of an effect, eh?"

    "No, we just need to attract their attention."

    Saito sat back on his seat and stepped on the gas pedal. The patrol boat revved up, jumping over the small waves, and rapidly approached the dragon whale warship.

    "Come on, look here... Look right here!"

    The dragon whale warship turned around and faced Saito.

    "We did it!"

    Saito snickered, and picked up the small caliber rifle. He fired a few continuous shots at them while steering using one hand. This way, the Elven fleet had to respond with one of their warships. He would lure them away, then escape under the cover of smoke.

    This was Saito's plan.

    Two of the cannons flashed, and the shells fell near Saito.

    Saito deftly maneuvered the boat around to dodge the pillars of water where the shells hit.

    "Those damn bastards. Ain't that a good aim?"

    It was too accurate even as warning shots.

    Wouldn't it be problematic if he was killed?

    Saito had a bad feeling about this.

    "Isn't it time yet?" Luctiana muttered. A few minutes after they had left, they could still hear some cannon shots, but it was not coming from the stone walls anymore.

    That meant that Saito was successful in distracting the dragon whale warships away.

    "Alright! Buck up! We're leaving!"

    Luctiana chided Tiffania, who was sitting on the small boat in a daze.

    "I, really was useless..."

    "Hey! Now is not the time..."

    "For that."

    Just then, a distant voice came from behind them.

    Luctiana turned around without hesitation, only to find a troop of elven navy marines, led by a long-haired woman wearing a navy officer suit. She was holding something like a gun.

    However, that gun was not powered by gunpowder, and instead used wind-stones to shoot bullets. Even though it was a single-shot pistol, just like guns of Halkeginian design, it was much more powerful, and it had no problems even if it was soaked into water.

    It seems like they came through the water. They might have used the dolphins or something, since they were all wet.

    "I'm so happy to see you, traitor of the people. Were you going to use a lure to escape? However, we also thought about using lures of our own."

    "You're referring to the fleet?"

    Luctiana's face blanched in horror after noticing the emblem on the sleeves of her uniform.

    "The Steel-blooded Party."

    They are a party of elitist zealots who follow the rule that "they will kill every last one of the traitors of the people".

    Luctiana prepared to chant magic.

    Before she could complete it, the gun was fired and a bullet sped through the air.

    "Ugh..."

    Luctiana fell to the ground. Tiffania broke out of her daze after hearing that sound and immediately rushed to Luctiana's side to check her wound. Luctiana grasped her abdomen, but hot blood continued to flow out of her wound, dying her clothes red.

    "What are you doing!"

    "I'm just giving the traitor due punishment."

    Fatima said coolly, and jumped onto their boat. After noticing Tiffania's ears, her face turned bitter.

    "You're one of the devils?"

    "I'm not a devil. I'm Tiffania. Tiffania Westwood. Tend to her wounds now or she will die!"

    "I don't care if she dies."

    Tiffania tried to think of a way to stop the blood. She rolled up the clothes and applied pressure on the wound, but there was too much blood so Tiffania was a loss of what to do.

    Fatima walked towards her, escorted by armed marines.

    "The devil."

    "Wouldn't it be bothersome if we were killed?"

    "Humph. It seems like no matter how many times we kill you guys, the power you have will be revived in someone else, but it's only that power. However, even if it was to be revived, we would just kill you guys again."

    Tiffania stood up with her hands in front of her chest.

  .center
    img(src="img/ZnT20_135.jpg")
  :markdown
    "Kill me then. This has nothing to do with her. Please save her."

    "Traitors are even more unforgivable than the devils."

    Fatima gripped Tiffania's ears.

    "Seems like the rumors about an elf with the blood of the devil was true. You've not only inherited the blood of the devil, but also the blood of the traitor of our people."

    Just then, Fatima noticed something sparkling on Tiffania's finger. That was the base of the ring that Tiffania's mother had left her with.

    "Where did you get that ring from?"

    "This is something my mother left me! She's a gentle person, completely different from you! The clans-people of my mother must also be gentle people!"

    Fatima bit into her lips until blood trickled out.

    "So it's you then. So this is how you look like. You...You!"

    Fatima's face was distorted in hatred. She then seized Tiffania's finger, which had the ring.

    "You probably don't know how much humiliation and suffering the 'clans-people of your mother' received because of what you and your mother had done! We lived a life where we were even forced to eat dirt to survive! We were cast away by others as traitors to the race, and we couldn't even buy bread in peace!"

    Tiffania's face lost all color.

    "You... Are you..."

    "Oh Noble Will. Thank you for allowing me to meet Pearl's daughter here."

    "One of the clans-people of Mother...!"

    Tiffania suddenly fell backwards on the boat. Just as she was about to say something, the gun was fired. Excruciating pain shot up Tiffania's right leg, and she curled into a ball. Fresh blood leaked out of the wound onto the boat.

    Fatima reloaded the pistol that had been holstered on her waist.

    "This is for uncle."

    The gun roared as another wave of pain surged up Tiffania's left leg.

    "Don't you worry. I won't kill you immediately. I'll let you taste every bit of humiliation our clans-people felt, and then give you a slow death."

    Another gunshot was heard, and Tiffania felt a blow to her abdomen. However, the pain was too much for her to bear, and her senses had already shut down. She felt as if there was a fog in her mind. She could not believe that this was reality.

    She felt a faint pang of despair.

    "I don't have any friends anywhere."

    Even the clans-people of my mother treats me this way...Where should I even go to? No, my final destination has already been set.

    It was to be hell. If she were hit by the bullets she would surely die.

    "No."

    Tiffania felt as if she wanted to cry while she thought about this. "I do not want to die", she thought. "I want to see Saito", she thought.

    "I don't want to die."

    Tiffania unconsciously pulled out her wand, and began chanting a magic spell. There was only the thought of "meeting Saito again" in her fuzzy consciousness. Now, she only wanted to take a look of the person she loved before she died.

    Maybe it was because of this that she chanted this magic spell. If she was calm and collected she would never chant this spell.

    This was because there are hundreds and thousands of people in this world. Even though she did not know how the spell worked, the probability for that person to be chosen would be the same as finding a shining grain of sand in the desert.

    No, it was impossible.

    This was because, Saito was already the familiar of someone else...

    "My name is Tiffania Westwood. Pentagon of the Five Elemental Powers..."

    Just as Tiffania was chanting the spell, the gunshots never stopped. The bullets hit her shoulder, her calves, and then her abdomen again.

    And even so Tiffania continued chanting her spell.

    Tiffania was now completely driven by her own sheer will.

    Fatima had underestimated Tiffania. Seeing that Tiffania continue chanting her spell in spite of multiple gunshot wounds, the marines began to look frightened.

    "Cursed devil! What spell did you think of chanting? Let me have a look then. I have already wanted the tricks of the devil for so long now!" Fatima howled.

    Tiffania put in her all to chant the last part of the spell.

    "I hereby follow fate's decree and summon forth my 'familiar'!"

    The spell chanting is completed.

    Blinding white light appeared on the boat, and Fatima could not help but close her eyes.

    "Help." Tiffania mumbled as her consciousness began to fade.

    "Saito...help me..."

    Saito, who had been piloting the patrol boat, was not able to dodge the bright light that had suddenly shown up, and he rammed right into it.

    Before Saito has got the chance to understand what was going on, he appeared right on top of the boat where Tiffania had been. The patrol boat had been moving at a speed of thirty knots, so it crashed into Fatima, who had been standing in front of the boat, and they both fell into the sea.

    "What's happening?"

    The marines began to make a racket.

    Saito lifted his head out of the water with a splash. The marines responded swiftly with a barrage of bullets.

    "Uwah!"

    Saito, who had not got hold of the situation, quickly went underwater to dodge the bullets.

    "What? What's happening!"

    "Ah, isn't this place the cave just now?"

    After Derflinger said that with a deadpan voice, the dolphins bumped Saito up like a ball.

    Waves appeared as Saito stepped onto the small boat. What he saw there made him draw in a deep breath.

    First, he saw Luctiana, who had been holding on to her stomach and had curled into a ball. And then he saw the pool of blood...

    "Tiffa!"

    Just as Saito disregarded the problem of how he was transferred here from the patrol boat and was ready to run to her side, the marines started to shoot him again. Saito jumped away from the bullets.

    Saito was enraged beyond belief. These guys used the fleet as bait while sending a small team around to catch them off-guard. Their plan had failed. However, it was too late for any regrets.

    Luctiana and Tiffania was also shot to death just like that.

    Saito was consumed by sorrow and anguish, but he could not do anything about it. Saito glared viciously at the Elven marines.

    "You shall not be forgiven."

    Just when Saito hopped off the boat, and was ready to deal a killing slash to one of the elves when he landed, Tiffania's voice reverberated around his mind.

    "Don't kill them! Or we will become real devils!"

    Saito hastily changed the direction of his katana, and severed the gun instead. The elf began to chant, but Saito slammed the hilt of his katana towards his chest and the elf fainted.

    The other marines threw their guns away and unsheathed their scimitars.

    "Tiffania is still alive." The exaltation of knowing this calmed Saito a little.

    No matter what, the shoddy scimitars of the elves could never take a direct hit from Gandalfr's katana.

    In less than ten seconds, the Elven marines were disarmed and had ran away in disarray.

    Saito was ready to rush to Tiffania's side, but Fatima, who had already climbed onto the boat, pointed her gun towards Tiffania, who was barely alive.

    "Don't move! Throw that sword away!"

    The elven lady looked very similar to Tiffania.

    "If you even move so much as an inch, I'll give her the killing blow."

    "Won't you just shoot anyway no matter what I did?" Saito said coolly. "Listen up, long ears. If you dare to shoot Tiffania, I will kill you. I will kill you no matter the means."

    "You!" Fatima pointed her guns towards Saito.

    In that moment, Saito leapt up. He was so quick that to Fatima, it seemed that Saito had disappeared from her vision.

    Fatima received a hard blow to her shoulder and collapsed on the boat, Saito being the one who did that.

    Even though he did it with the hilt of his katana, it was enough to shatter her shoulder blade. Fatima could not take the pain and fainted. Saito did not even spare her a look and walked towards Tiffania.

    "Tiffa!"

    Her wounds were grievous. She had multiple gun wounds on her body, and her breathing was weak. Saito nervously tried to tend to her wounds, but he realized that he did not bring any medical supplies.

    Saito took Tiffania in his arms.

    Grief and agony seized him as he was helpless to do anything. If I were a little more wise...I would have easily predicted that they would have sent infantry here, aside from the cannon ships.

    The one who got impatient and was unable to make calm decisions is me.

    If, if I had just listened to what Tiffania had said, and at least brought her along with me...

    "Tiffa! Tiffa!" Saito yelled twice will all his heart, and Tiffania slowly opened her eyes. Just before Saito could barely compose himself, her eyes slowly turned lifeless again.

    "Wake up, Tiffa! Don't go out on me!"

    Saito realized that he could not say anything except some cheesy line from a movie. Anxiety and woe swirled around in his mind. Saito was at a loss.

    "You managed... to reach in time..."

    "I didn't reach in time! I... I'm an idiot. I couldn't protect you, Tiffania... What kind of Gandalfr am I! If, If I had brought you along with me..."

    "No... It's not like that. I'm, very happy... that I summoned you, and you came. Now I know... where I belong to... That there is something linking me and you..."

    Saito's eyes began to tear up. He did not know what to do after knowing that Tiffania thought of him that much.

    "Of course you belong here! That's, that's why..."

    Tiffania began to chant a spell while coughing.

    "My name is Tiffania Westwood... P-pentagon of the Five Elemental Powers... bless this humble being... and make him... my familiar..."

    Tiffania held Saito's head weakly. As he looked into her eyes, a gate appeared before him. Saito quickly understood what was happening. Normally if he was someone else's familiar, the gate would not appear. Normally.

    However, Tiffania's longing broke this rule. Her longing, the simple desire to be linked to him, superseded the laws of magic.

    Tiffania tilted her head downwards. Saito slowly implanted his lips on Tiffania's. He had to do so.

    This was because, this was Tiffania's last wish. The melancholy of this wish made Saito felt that Tiffania was extremely adorable.

    "She actually thought so much of me."

    At the same time, Saito felt distressed and mournful that this was the only thing he could do. He apologized many times to Tiffania in his mind. Tears streamed down steadily from his eyes, each drop falling on Tiffania's cheeks.

    Tiffania parted her lips from Saito's, and whispered, "thank you," before closing her eyes.

    "Tiffa...!"

    Saito wailed, and it was then that severe pain clawed at his chest, like something was being branded on it... The pain was just like when the runes got carved on him back then...

    Saito fainted, unable to endure the intense pain, and the suffering that threatened to crush his heart.


  .center
    a(href="./index.html") 
      h4 Back to main page
  br