extends ./template.jade
block content
  h1.center Volume20 Chapter 4: Council
  br
  :markdown
    Adyl, the capital city of the country of elves. The council meeting room was located at the highest level of the council building.

    Just like a mirror, the seats were arranged like a stepladder at either side of the room. At the podium in the anterior of the meeting room, the elven council speaker looked disturbed.

    One of the elven council members sitting on the left spoke forcefully, charging another official with misconduct.

    "Well then, Sir Bidashal. What do you have to say about this debacle?"

    The person who said this with haughty look on his face, was the council member Aishmail.

    Only a little younger than Bidashal, his eyes under a short fringe twinkled with a spark, highlighted by the blunder of his political rival.

    "Wasn't the person who let the demons run away your niece?"

    "That barbarian fanatic!"

    A loud murmur of assent echoed around the room immediately.

    Bidashal did not move from his seat in the middle of the right side of the room. His face was impassive as usual.

    "Well then, fellow peace-loving council members. This is an extremely serious matter to behold! The responsibility for dealing with matters of the 'devil' lies on the shoulders of Sir Bidashal. Not only that, if the person who ran away was his niece, we could not but be suspicious if there is some hidden motive behind all this."

    Aishmail said this with an heavy emphasis on the word "we". So, Bidashal raised his head, and asked firmly.

    "Who exactly does 'we' refer to?"

    Aishmail was speechless for a moment, but a sneer appeared on his face after he took a look around him.

    "It refers to my fellow council members here."

    "As I was saying, who are those 'fellow council members' you are referring to?"

    Aishmail looked around the council room filled by 50-odd council members for help. One of the people who had been murmuring their assent just now kept nodding his head while saying "Yes, yes". A sizable amount of people, lead by Aishmail, raised their hand.

    So it was them again, Bidashal felt a pain in his temple. A party of zealots that appeared in the stagnating and decaying country. Narcissistic monsters who hold fast to their beliefs, rejecting any foreign thoughts and approaches.

    The "Steed-blooded Party", he spat in his mind as he remembered their name.

    However, there was nobody else that stood on their side.

    "Sir Aishmail, there doesn't seem be anyone else except you and your friends."

    This was ironic in that Bidashal clearly understood that everyone else was not standing on his side either.

    Most of the council members present just wanted to end their terms of service without any fuss. They just did not want any trouble during this time. Any mistakes they made while sitting here as a clan representative would directly bring misfortune to their own clan. As such, they would avoid any action that would require them to bear any sort of responsibility.

    This was the reality behind the Council that boasted millenniums of history. They weren't really in a position to ridicule barbarians, thought Bidashal.

    "Everyone here wants somebody else to make the decision."

    He thought of his niece's face. She was very similar to his younger self, he mumbled to himself. The reason behind her interest of the barbarians, was the desire for some sort of "change".

    With no improvements, there would be no surprises.

    Somewhere in his heart, he was unable to forgive his peers who only wished to live the same kind of life every day.

    Bidashal said firmly,

    "Even so, yes, it's exactly as Sir Aishmail has said. As the Chairman of the Barbarian Countermeasures Committee, I do bear the responsibility of managing the barbarians within the vicinity of our borders, and the responsibility for supervising my niece, Luctiana, is also on my shoulders. Furthermore, the one who educated her was me. Any blame to be made, can only be directed to me."

    Aishmail revealed a malevolent smile, as if he saw a weakened prey.

    "This doesn't seem right. No matter how I see it, this is a serious matter of ethnic rebellion."

    "Isn't it the job of the judiciary to determine that?"

    "No, no, no, don't you know where your niece has ran off to? After what she did, not even the crime of ethnic rebellion would be enough to please the masses. If our society was still the society of the past... if this were the era where our society was without order, this would be a serious crime that would cause the beheading of every clan member."

    Because of Aishmail's statement, the council member began a commotion.

    "It can't be... is this true?"

    "Yes, it is, fellow council members. Behold, the report from the navy."

    Aishmail retrieved a document from the bag beside him. The council members beside him read it, and their eyes turned wide.

    "What is this! Bringing the devil! To the 'dragon's nest'!"

    The council meeting room erupted into an uproar.

    "We have to send our troops at once..."

    "Ah! However, even if we kill the devil, wouldn't he just be revived again?"

    "But, if the devil were to reach the 'dragon's nest', we don't know what would happen!"

    Every council member in the room directed their gaze to Bidashal, whose face remain impassive among the chaos.

    "So, could we all come to the mutual understanding that the crime committed by his niece, is not just some petty crime?"

    Aishmail gloated at Bidashal with the glowing face of a victor.

    "Well then, since it has escalated to an incident of such degree, we could not just dismiss it as whimsical urges of a young woman who's strange in the head. Sir Bidashal, could you have known about this all along, and taught her about it too?"

    "You cannot act as if you didn't hear anything. What exactly is happening here?"

    Azar urged his master to speak.

    "Put in another way, Sir Bidashal has been working with the barbarians, to seize the 'Sahara' [1] as his own."

    "Which remind me, didn't he once serve under a barbarian king!"

    Some of the council members groaned. Bidashal only said that he had nothing to say while shaking his head.

    "In any case, their clan is too dangerous! I hereby propose that their clan be exiled!"

    "I have no objection to that!"

    Aishmail yelled out. His party members did the same.

    The rest of the council members looked at each other while thinking, "What to do?". They just sat there looking useless. So this is what happens to people who hate "change", thought Bidashal.

    In this sense, Aishmail who was shouting feverishly was much better. Even though he was a fanatic perpetuating the idea of terrorism, it was still a decision made and executed on his own. However, his party's ideology would never be accepted.

    Bidashal felt tired and uneasy.

    "Well then, if me and my clansmen were to resign from our posts, will that satisfy you?"

    As Bidashal surrendered so simply, Aishmail looked dumbfounded.

    "It's, it's not just about satisfying me. The council members present here..."

    At this time, an old elf appeared in the council meeting room. The council speaker, who had been silent the whole time, said,

    "You are late," with a depressed voice. The old elf stuck out his tongue, and scratched his head.

    Everyone displayed a shocked expression.

    "Isn't that what barbarians do?"

    The old elf looked unfazed, and said firmly,

    "I learnt it from Sir Bidashal's niece. She really knows her stuff when it comes to barbarians."

    After that, the old elf looked around, and said,

    "Fellow council members, your arguments have been duly noted. However, in this old man's opinion, I will veto the council's verdict of dismissing Sir Bidashal from his post."

    "This is dictatorship!"

    Aishmail shouted out.

    "This is the right given to the president by law."

    With a mischievous smile on his face, the current president of Nephthys, Turuk, said firmly,

    "Well then, fellow wise council members. Even though you are all calling for Sir Bidashal's resignation, is there anyone more knowledgeable about the realm of barbarians than him?"

    Every one in the room went quiet.

    "This man, has not only fought against the barbarians, but has also served under a barbarian king. We cannot win a war against them without understanding our enemies. If there is anyone who can deal with the barbarians better than him, I urge the person to step forth."

    This made Aishmail and his party shut their mouth. Bidashal looked a little embarrassed, and closed his eyes. Looking right at Bidashal, Turuk continued to say,

    "Alright, that's it then. Sir Bidashal. Please continue working hard from now on too."

    Even though Aishmail kept his silence, he still slowly stood up.

    "Alright then. However, the 'dragon's nest' is still under the jurisdiction of the navy."

    "The navy whom you have good connections with?"

    "Of course. My clan and 'the party' grew in power together."

    "So?"

    "Sir Bidashal, please just continue your efforts in barbarian 'countermeasures'. Let me deal the crisis before us, with real power."

    After the meeting, Ari, equipped in full battle armor, ran to the side of Bidashal, who just exited the meeting room.

    He walked alongside Bidashal to the outside, all the while mindful of the people around him. This was because Bidashal refused to talk.

    "So what was the result?" Ari pressed on.

    "I'll resume my post as the Chairman of the Barbarian Countermeasures Committee."

    Ari instantly breathed a sigh of relief, but his face soon scrunched up in anxiety.

    "What about your niece?"

    "Your fiancée has committed a crime of ethnic rebellion. This has now become a fact."

    "Isn't there anything we can do?"

    Ari's face went devoid of expression. The crime of ethnic rebellion was punishable by death.

    "The problem is where she had escaped to. This is no longer excusable."

    "Didn't that girl know nothing about it? How, then, did she go to the 'dragon's nest'..."

    "Even if she didn't know where it was, she shouldn't even go there. Even you know that, don't you?"

    "Aren't you a little too calm? Your niece is going to die!"

    "Hey, she's your fiancée."

    The two of them walked side by side all the while.

    "Seriously! If they had known about the escape, shouldn't they have caught them then and there? And yet, they just let them slip right past..."

    On that day... Even though he had thought that the Council Guard Troops he was in were the only ones going after Luctiana and company, in reality that was not the case. It seemed like the Navy also was on the lookout for them.

    "They seem eager to know what's happening behind the scenes."

    Bidashal sighed and said.

    "What does that mean?"

    "They didn't think that Luctiana acted alone. That's it."

    "In other words, they want to do you in, right?"

    "Right."

    Ari looked genuinely shocked.

    "Why is that so? Even at this time, when the 'Great Calamity' is before us, we're fighting between the clans..."

    "This is reality. Our reality."

    "No matter what, that's what we are facing now. Your niece..."

    "Hey, she's your fiancée."

    "By the way, how about the navy? Those loyal dogs, under Sir Aishmail."

    Ari said this with a sarcastic tone. The fact that the navy had already become a private army of the party lead by Aishmail ... the "Steel-blooded Party" was already an open secret.

    "It goes without saying that, our fellow beloved 'Steel-blooded Party' comrades will capture the devil and 'traitor' at the 'dragon's nest', to protect our national pride."

    "Capture?"

    "That was the Council's order just now. However, they will, without doubt, act under an 'expanded interpretation' of the order."

    "That's what they are best at."

    "Exactly so."

    Ari sighed again.

    "After capturing the 'devil', we will lock him up and keep him alive. This is the viewpoint of the Turuk and the conservatives like you. However, the 'Steel-blooded Party' led by Aishmail..."

    "Fanatics who will stop at nothing to kill off all the devils."

    "It doesn't matter if they can be revived, they will kill them each time they live. No matter how many they are, no matter how they do it, they will kill the devils. They will also kill every traitor... every enemy of the people of the desert Elves . And then we, the people of the desert Elves , will use this opportunity to kill the devils... If they were to act on this, the 'dragon's nest' will be tainted with blood."

    "It does make some sense though. One way or another, don't think too much and just do it."

    "Well then," Having said this, Ari took a look at Bidashal. He no longer looked tired, and instead had a serious look on his face.

    "What should I do?"

    Bidashal stopped in his tracks.

    "Do you love Luctiana?"

    He asked.

    Ari gazed at a distance and answered,

    "If I were to be able to say 'yes' here, wouldn't that be cool?"

    "You can say that."

    "To be honest, my thoughts aren't really so organized now, I don't know. It's just that, there are many things I would have liked to tell her, and if she were to die before I could tell them to her, my anger would have nowhere to go, I don't even know what will happen then."

    Maybe, he was itching to rush all the way to the 'dragon's nest'. He equipped his entire set of battle armor just for that. If he could reach her before the navy... However, he had not thought about what should he do after he had saved her, naturally.

    Bidashal laughed.

    "Alright then, this is a gift for a knight like you."

    He took out a document from his pocket, and handed it over to Ari.

    "What is this?"

    "As you can see, this is an introduction letter. It's someone I know from the barbarian country I was in... Gallia, when I had been working there."

    Ari's eyes opened wide. He looked like he was going to shout out something, but he stopped himself. He looked around and lowered his voice.

    "...Do you want us to escape?"

    "Yes."

    "To a barbarian country!"

    "Only until this incident is over."

    "And when would that be!"

    "I don't really know. Anyway, I'll leave my niece under your care, my dear knight."

    After watching Ari leave, Bidashal walked towards Turuk's office. Without even knocking, Bidashal entered the room of the highest authority in Nephthys. Inside it, Turuk was alone sitting on his chair flipping pages a book.

    "Has it been done?"

    "Yes."

    "'Insurance' is always needed no matter what we do."

    "That's the best we could do. But this would be tough even for Aishmail."

    "He's a hardworking man, eh? Even though I will never accept his ideas."

    "If I were thirty years younger, I might have been captivated by his words..."

    "Old man me has decided from a long time ago, that the only thing that would captivate me is alcohol."

    Turuk took out a bottle of beer from the drawer, poured a cup, and gestured Bidashal to come forward. Bidashal took the glass and drank it in one gulp.

    "Alright then, Mr. President. You should be telling me the real reason now."

    "What do you mean by the real reason?"

    "Seriously. I'm asking you to stop acting dumb. Why the heck did you send me to the barbarians? Why are you going so far to prevent the direct confrontation with the devils?"

    "Because of cowardice. Old man me hates wars, you know."

    "I know this. I also don't like meaningless wars. However, it's hard to suppress people like Aishmail who are clamoring for war every time. Their party membership has been expanding, bit by bit. At the same time, they have also been spreading their ideas to other clans. 'Us elves won't lose to the barbarians in a war. And yet, why wouldn't the president just declare war against them?', that's what they are saying right now."

    At the same time, Turuk began scratching his ears. It was his habit when he was thinking about something.

    "Don't you also know the true colors of the 'dragon's nest'?"

    "Yes."

    A portion of the Nephthys council members, have been told of the real nature of the 'dragon's nest'. But this secret has been fiercely guarded and was never released to the public.

    "And about the occasional findings of broken junk around that place?"

    "Yes. Guns and swords. Rifles and something like cannons. Barbarian weapons, all of them. Sometimes barbarians will send their spies, and bring them back..."

    "Until a few decades ago, those are indeed junk. So we didn't give much thought about it. If we were to be too vigilant and provoke the barbarians, that wouldn't be good."

    "What's that supposed to mean."

    Bidashal's eyes glowed.

    "In a few decades, these 'weapons' have become frighteningly advanced."

    "This is the first time I've heard this."

    "Yeah. Everyone just thinks that those things are broken junk."

    Turuk took out something from the drawer.

    "This is something that was discovered recently."

    Bidashal took the thing that had a black sheen. It was a handgun. However, it was different than the elven ones and the ones in Halkeginia. That was clear at a glance. The technology involved is of an entirely different level.

    "This gun, if you were to pull the trigger, can fire consecutive shots. Using the pressurized heated gas produced as it fires."

    "This is really well made. However, if it's just this, we couldn't be scared of..."

    "It's not only this. We've also found larger, complex machines. We don't even know how use them, nor do we even understand what were they made for."

    Bidashal thought of the barbarian young man he met in the barbarian country who had also been brought here. Which brings to mind that, he used strange magical weapons to obtain victory countless times in the wars between the 'devils'...He defeated a troop of dragon knights all on his own, stalled an army of thousands, and even skillfully destroyed the 'Jormungand' he made.

    Even though he thought that those were all the work of the devil's "magical weapons"...

    "These 'weapons' have no magic applied on them. Do you understand what does this mean?"

    "We're not afraid of any magic the barbarians can use, but as for this..."

    "Exactly. This 'technology' is daunting. No matter how you put it, everyone can use technology. Are you sure that we would win against an army armed with these 'weapons' and the 'work of the devil' [3]?"

    "If you put it that way... I don't really know."

    Bidashal gave his honest opinion.

    "Killing off all the devils, huh. Ah, they're really all worked up, aren't they... But what I fear is that we will be the ones who are all killed off."

    "However, their armies doesn't seem to be equipped with these sort of sophisticated 'weapons'."

    "Of course. This was because, these weapons aren't made by them."

    "Then who were the ones who made it?"

    "The 'dragon's nest'... Ah, don't get all fidgety. It's okay to tell you here since there isn't anyone else except old man me and you."

    Bidashal swallowed his saliva. Nervousness encapsulated him.

    "It's the humans on the other side of 'Shaitan's door'."

    It had been taboo to even mention this. In the past, when the humans from 'the other side'... The "devils" came to this land... the 'Great Calamity' happened.

    "Mr Bidashal. What I'm worried of, is not the barbarians of the west."

    "...So, we cannot let 'Shaitan's door' to be reopened."

    This time, Turuk shook his head.

    "Since it has come to this, it's not a stretch to say that this is too hard of a task. We couldn't even unite ourselves. Even if we were the one who created such a country."

    Bidashal was reminded to Aishmail's face.

    "Alright, let's not digress. The barbarians in the western lands... those people are losing their homeland. We must know what they are up to. Their real intentions."

    "So that's what 'working hard' back at the meeting room was about."

    "Yes. It's a task that could be entrusted to you."

    Bidashal thought of Ari's face when he left. It seems they would meet again not long from now, Bidashal thought.

    The navy headquarters of Adyl was located about 10 minutes away from the huge tower in the middle of the bustling city, 'Kasper', if one were to go through the waterways.

    Numerous triangular flags swayed with the wind atop the building with white walls. The blue and yellow flags at the apex was the symbol of the navy headquarters. Blue for the sea and yellow for the desert. Representing the domination they had over the two realms, the two flags were unique to the elven navy.

    Navy "warships" aligned along the harbor. These "warships", if they were to be seen by the Halkeginians, would not be what they were expecting.

    In fact, they weren't ships at all.

    At a length of a hundred Mails, they were dragons reminiscent of large whales... called "dragon whales". If one was to strip them of their iridescent blue scales, they would look like just any other whale.

    They lined up tamely at the harbor, leaving only their spine out of the water surface. The elves were masters in the skill of domestication.

    The harbor behind them was created through magical stone masonry. The white structure was a derivative design of ancient elf cities. The Nydus Navy... an organization colorfully tinted with elven tradition.

    On the navy harbor, an elven girl was supervising the task of 'refueling' with serious eyes.

    She had beautiful lustrous blond hair and crystalline jade green eyes, tilted downwards at the ends. She looked like an goddess standing there. However, a frosty glare took hold of her pearly eyes. Her expression was as cold as ice.

    Wearing a fitting uniform, she was the ideal leader, a woman of the desert trained by the "Steel-blooded Party".

    Marines glanced at her fearfully as they refueled the warship. However, because the warship in question was a living organism, the fuel naturally was 'food'.

    A few elves carried fish, loaded in large barrels up a tall stepped stool, and poured the fish into the dragon whale's open mouth.

    The stool was wheeled, so it took skill to carry the heavy barrels up the stool without it flipping over. They did not use magic for this. For the navy, they were trained under the belief that "magic was something to be used in battle, not just for any trivial matter."

    One of the marines got nervous and made a mistake as he was operating the stepped stool, knocking over the barrel. Fresh fish, reared from the fisheries nearby, flailed vigorously on the harbor.

    The girl lifted her eyes immediately.

    "What the heck are you doing?"

    "Ah, s-sorry!"

    The marine, lowered his head immediately.

    The girl officer strutted towards him. Placing her hands on her waist, she raised her head to look at the marine who was a head taller than her.

    "This happened because you were lax! If you even had an ounce of pride in you as the people of the desert Elves , you wouldn't have made such a trivial mistake!"

    "I'll be careful in the future!"

    "What happens if we lost to the barbarians because of your mistake? Mistakes in the battlefield cost lives."

    At this time, one of the marines beside them chuckled lightly under his breath. He was a veteran marine.

    "Is there anything funny about this?"

    "No, there isn't. Major Fatima Hadat."

    "If you don't say it, I'll treat it as an act of disrespect towards a superior and punish you accordingly right here."

    Fatimah placed her hand on the saber by her waist. The marine remembered that she was a member of the "Steel-blooded Party". Knowing that she was not bluffing about it, he spoke reluctantly.

    "No...I just thought that, the major did not have any real battlefield experience."

    "Then have you been on the battlefield before, private?"

    "Even if I don't look like it, I have been in the navy for fifty years. I had some experience in fighting barbarian pirates."

    Fatima said coldly,

    "I have my elven pride, and have therefore received adequate training. Those will be enough to supplant experience on the battlefield."

    She looked like she had absolute faith in her words. Even though the marine wanted to say something about it, he was stopped by his peers. Just then, an out-of-breath messenger came running, and called for Fatima.

    "Major Fatima Hadat!"

    "What is it?"

    "Sir Aishmail called for you."

    Fatimah's facial expression glowed, and just like that, she ran back with the messenger. The marines sighed as they watched her leave.

    "The navy of the past had lesser communication problems like this..."

    "After those people rose to power, don't you feel that everything has turned strange somehow."

    The place Fatima went to was the command center. There, she found Aishmail looking outside the window.

    "I apologize for keeping you waiting, Comrade Council Member Aishmail."

    Fatima did not use the traditional navy salute and instead placed her palm on her chest, and gave the party salutary bow to Aishmail. He turned to meet her, a smile on his face.

    "There is a mission I have for you, Comrade Major."

  .center
    img(src="img/ZnT20_103.jpg")
  :markdown
    "Please command me as you wish."

    "Please capture the devil's offspring who has escaped to the 'dragon's nest', and the traitor that has escaped with them."

    Fatima flushed pink.

    "This is a great honor for me! To hand such an important responsibility to us..."

    "There are people who doubt where your loyalties lie."

    Fatima's face instantly distorted in anger.

    "My aunt has shamed my clan. But, I'm completely different from her. I..."

    "I already know all that. Your talent and loyalty to the party is uncontested. I personally gave you this opportunity for your clan to redeem yourselves."

    "Thank you very much!"

    "Well then, the order that the council gave to the navy is to, 'Immediately go to the dragon's nest, and capture the devil and traitor'... However, for someone with the pride and awareness of the people of the desert Elves  like you, you should understand what I want to say."

    "Yes."

    Fatima gave a firm nod.

    "I will give the both of them the gift of death."

    "You're completely correct. We, the people of the desert Elves , as united as steel, will continue to exterminate the devil. We will kill them every time they revive, no matter how many times that will be. This is the meaning of the 'Noble Will'."

    "However... I'm afraid that I lack enough firepower to complete the task if I were to only mobilize my troops."

    "Your troops are the commando troops, right?"

    "Yes."

    "You can use a fleet to handle logistics and support your troops."

    "But I'm only ranked as a major."

    "Then, you've been promoted. From now onwards you're a colonel. Also, you're in charge of commanding this operation."

    "However, the fleet commander is still ranked above me."

    "Have you forgotten? In the navy, the party rank takes precedence over the military rank."
  .center
    a(href="./index.html") 
      h4 Back to main page
  br