extends ./template.jade
block content
  h1.center Volume17 Chapter 9: Two Canes, One Crown
  br
  :markdown
    Two days after Julio brought Josette out of Saint Margerita's Convent......

    Charlotte, the Gallian Queen, aka Tabitha, was looking over the newly constructed palace with her ministers.

    The dark evening sky cast a gloomy atmosphere over the majestic palace, but it was not enough to cover the exquisite beauty of the jade noble emblem.

    Isabella, who was beside Tabitha, exclaimed, “The palace looks even more beautiful than before!”

    Barberini, the Gallian Prime Minister on the other side of Tabitha said, “That's because the palace will be heralding the coming of the new queen, how can we do that with the old palace!”

    Isabelle simply shot Barberini a glare and ignored him.

    Barberini was extremely familiar with various age-old and modern ceremonies so he was in charge with the garden party four days later to celebrate the coronation of the new Queen of Gallia. The reception party, party seats, dinner menu, and even the schedule of the one week long party and ball was so flawlessly orchestrated by his own hand that even the Gallian nobles who were picky about details were unable to find fault with it.

    Even though this person was extremely capable, Isabella did not trust the Prime Minister from Romania.

    His extremely cautious ways of doing things was exactly what made Isabella raise her guard. As his ability was nothing but ordinary, she couldn't let her guard down, otherwise this country will be overtaken by him under her nose.

    However, if they lost Romania's aid, Tabitha's coronation was out of their reach, so they could not refuse him. Also, if they really did that, the monasteries and disciples of entire country will revolt against Tabitha.

    Now, Isabella did not knew if Tabitha shared her concerns as she was simply gazing blankly at the new palace. What did the palace looked like was perhaps meaningless to her.

    Just then, the church bell rang, signalling that it was six o'clock. Isabella sighed and turned to the ministers.

    “Everyone, now is time for Her Majesty to enjoy her dinner!”

    Put in other words, they can leave.

    Tabitha normally took her dinner with Isabella and her mother. Of course, there was also her familiar, Sylphid.

    The ministers and nobles looker at Tabitha expectantly, hoping that Her Majesty would entertain their request for a dinner with them that night. However, except the two persons and one familiar, nobody had the opportunity to eat with the queen.

    Seeing the dumb looks on the ministers' faces, Isabella bowed to Tabitha and left early.

    Madam Orleans was waiting for her daughter and her niece in the old dining place. She revealed a smile as she saw Isabella pulled Tabitha into the room.

    “Come on, sit down, my dear daughter and Isabella. They've prepared mixed fruit salad with beef today. Oh, doesn't that smells great?”

    Seeing that Tabitha and Isabella took their places beside Madam Orlean, Percerin immediately poured Happoshu(T/L: Japanese sparkling wine drunk before a meal) into their glasses.

    Madam Orleans' past beauty was slowly recovering, even though it was slow, but it was undeniable. After drinking Happoshu, the three noble ladies began to chat. The one who started the conversation was always Madam Orleans. The conversations were very simple, like what dramas were popular in the city, without a trace of politics or deep rumors.

    Sylphid also joined in frequently with her trademark “Chiu, chiu”......

    During these times Isabella will feel herself purged of her wrongdoings and sins, without those, Tabitha felt just like a irreplaceable sister to her.

    That was......a feeling she had when she was a child.

    Now, Isabella was a secret aide to Tabitha to help consolidate Tabitha's position as the new monarch.

    “Hey, Helene.”

    Unknowing, Sylphid has already collapsed on the table, snoring in a drunken stupor. Isabella took the opportunity to call out Tabitha's nickname while everyone was quiet. In front of the ministers she called Tabitha “Your majesty”, but in private she preferred to be more intimate, like their childhood times.

    “I don't think letting Barberini take care of so many important things is a good idea.”

    Tabitha shook her head.

    “It's just the tip of the iceberg.”

    In other words, it was a gimmick that would keep him away from the core. Isabella nodded after she heard Tabitha. The garden party arrangement seemed important, but it was nothing of central political importance.

    “Okay then. Also, I was thinking of sending the 'knights' to spy on him, what do you think?”

    Considering it for a moment, Tabitha nodded her agreement.

    “Thank you.”

    Actually, Isabella has already placed a few eyes into Barberini's side. Everyone that has been to his place, every letter, and even the menu of his dinner is at the Isabella's fingertips.

    Even though there was not any suspicious activity, she could not afford to let him go past her nose easily. As the leader of the North Garden Knights, Isabella was well accustomed to the antics behind the scenes in Romania. Since they had been ruling the world as the main church of Founder Brimir for thousands of years, their power cannot be underestimated.

    “Hmm? What are you girls discussing about?”

    Hearing such care from her aunt, Isabella shook her head.

    “Nothing, Auntie.”

    Since few weeks before, Isabella has been viewing her aunt as her mother, so Isabella can't bear to let her worry.

    While Madam Orleans also treated Isabella and Tabitha equally.

    “Any way, congratulation on the upcoming garden party.”

    Madam Orleans said nonchalantly while quietly stuffing food into Tabitha's mouth.

    “Mother, do you still don't want to go to the party?”

    Madam Orleans shook her head.

    “Sorry, but I don't wish to participate in such social activities anymore.”

    Tabitha stopped, looking a little disappointed. Tabitha, who was normally expressionless in front of her ministers, would reveal her true feelings in front of her intimate family.

    Seeing her daughter like this, Madam Orleans took Tabitha's hand.

    “Because, even without me, you can still take care of the visitors perfectly!”

    Tabitha nodded her head once. “Un.”

    I will protect this mother and daughter—Every time she was touched by such a heart warming scene during dinner, Isabella would swear in her heart.

    After dinner, Tabitha came to the newly built Grand Troyes Palace, and entered her quarters.

    “Fuuaah....my stomach's so full, Sylphid will go to bed now!”

    Sylphid reached a corner of the room, laid down on a pile of clothes and slept soundly.

    On the bed, the gown brought by the maid servants during the day was strewn across the bed.

    During the garden party, Tabitha would have to change a set of clothes every morning, afternoon and night. Made by professional tailors of the country, the beautiful gown, made out for the queen was waiting to be worn.

    Tabitha took one of the clothes and held it before herself. It was a lacy dress, covered in infinite minuscule holes, allowing others to take a glimpse of the body underneath. However, important parts are still covered decently.

    Tabitha felt a little worried if her little body would fit the wonderfully designed dress.

    “Why would I be worrying about this?”

    When she realised the reason, Tabitha'face went red. She took the list of delegates on the table. Her eyes stopped at the last name of the delegates from the Tristan empire.

    “The Tristan Minister of Diplomatic Relations-cum-Vice Commander of the Knight Corps of the Water Spirit , Saito De Hiraga Des Ornières.

    Maybe he was appointed as one of delegates because of his relation with her before in the academy. His name has also become longer so he seems to have been awarded a land title.

    What kind of land was it?

    The kind with a mansion?

    What kinds of crops do they have there, and what about the people there?”

    Also, Louise who has a perpetually sour face was also living with him, right?

    Tabitha imagined Saito's new residence, Des Ornières, which she has never seen before.

    “I could finally see him again.”

    She felt that ages has past since their last meeting at the Lelion river. Then, she agreed to put on the crown under the urgings of the fake Saito.

    Tabitha bore a deep grudge over that incident, so she tried not to think of Saito......

    However, the thought of meeting him in a few days time made her uncontrollably happy.

    He already has a lover, and her name also appeared on the list. She was Tabitha's friend, also someone she respected deeply, even though she did not approve of the way she treated Saito.

    “I could just, dance with him for one song.”

    Right, a dance.

    With him.

    Dancing with delegates of other countries is also one of the aspects in diplomatic relations, so it was something extremely ordinary no matter how one sees it.

    What should she wear then?

    The lace net gown came into her vision again. Tabitha held it up with both of her hands, staring at it.

    After making sure that Sylphid was fast asleep, Tabitha soundlessly took off all her clothes and put on the gown.

    ………

    Naturally, as Tabitha has expected, the gown fit her snugly. Her inner clothing were exposed through the minuscule holes.

    What kind of underwear did the designer had in mind while he was designing the gown? It probably was not the kind wore in the bedroom.

    Bedroom......

    Tabitha's cheeks flushed as she sunk deeper into her imagination.

    “I've become a strange person.”

    Shaking her head, she took up another gown. This was sewn with black glossy cloth with a beautiful dark glow, but it was far more modest.

    However, after she wore it, Tabitha noticed that the gown fitted her body tightly at the part above her thighs, sketching the curve of her body line, showing her immature figure clearly for all to see. If she were to enter the ballroom like that, any further imagination of her dance partner were sure to be crushed.

    But......maybe Saito liked this kind of body shape. After all, just by looking at Louise's body, no one would think that she had anything to show off at all.

    Either way, she didn't need to care so much about that.

    Thinking about this, Tabitha smiled softly.

    “Now, I should be.......very happy.”

    Even though her position as the queen made her uneasy, but the Gallian nobles were capable and powerful, so even though there was an exchange in power, the country has not dissolved into ruin. Also, living here with her family made her feel safe and warm. Tabitha felt that the happy feelings of home were starting to return.

    Romania was still an unknown variable, but currently they have made no obvious moves.

    Also, she was going to meet her sweetheart, Saito, in a few days time.

    She might even get to dance with him.

    Just as a smile blossomed on Tabitha's face, her father's face flashed through her mind.

    And her uncle's face.

    Misscoeur, who tortured her countless times.

    And also the generals and soldiers who sacrificed their lives at the Lelion river.

    Tabitha also thought of Lieutenant Bart, who always waved at her from the deck after completing his mission, and that commander with a sunburnt face, but they are not in this world anymore.

    Her calm and happy life was built on the sacrifices of those nobles and soldiers who fought in this war for the throne, and that fact was like a frigid gust sneaking past a crack in the windowpane, chilling her heart.

    “Happiness is too much of a luxury to me.”

    Tabitha sunk into such a emotional mud pit.

    Just then, a knocking sound came from the window.

    The window?

    Would it just be a trick of the wind? That thought flashed through Tabitha's mind. The curtains were too thick for her to see what was going on outside. However, the outside of the window was the balcony, so that would not be a problem.

    Maybe it was Sylphid? But it was still snoring in the corner of the room.

    Bang, bang......

    The noise came again. There was unmistakably someone outside banging the window. Tabitha gripped the staff beside her bed.

    Tabitha did not arrange for personal guards, because she had something that was more useful than personal guards. Also, the personal guards themselves were something that might threaten her safety.

    Sneaking to the window, Tabitha queitly pulled the curtains apart.

    At the other side of the window......is herself.
  .center
    img(src="img/ZnT17-177.jpg")
  :markdown
    For a moment there, Tabitha thought that that was her reflection, but she immediately noticed something different.

    The other her on the other side of the window was wearing different clothes.

    The same ice blue hair, the same glasses, the person could have been her own duplicate...... The word“Skirni” flashed through her mind, that was a puppet that could shape shift into a person after sucking their blood.

    It could also be a golem......

    However, Tabitha understood that the person standing at the other side was a body of human flesh and blood.

    …... Who was it?

    Me? She thought.

    The strong revelation robbed Tabitha of her warrior's intuition. She noticed too late that someone had opened the window beside her and entered the room.

    Someone gripped her staff, making Tabitha turn reflexively.

    Left and right eyes of different colour respectively—it was Julio.

    Tabitha aimed a kick at Julio's abdomen, but Julio twisted his body and dodged. He then used a cloth to cover Tabitha's face.

    There was sleeping potion on the cloth, Tabitha noticed before collapsing on the bed.

    Hearing that sound, Sylphid finally waked up, and saw Julio standing there and Tabitha who has collapsed. She ran hastily to them.

    “What happened! What did you do to Onee-sama!”

    After that, Sylphid noticed someone else entering the room from the window and stopped.

    “Eh? There is another Onee-sama......”

    Julio calmly walked towards Sylphid and placed his right hand on its shoulder. Then, the runes on his hands glowed.

    Kyui......kyui......

    “Anyhow, you're a 'beast', right, Rhythm dragon familiar? I'm also a familiar, called Wendalfr, so I can control 'beast's like you. So......”

    Seeing Julio place the sleeping Tabitha and Sylphid on the bed, the girl who looked like Tabitha said timidly, “Onee-san, what is this......”

    “She is the daughter of the person who locked you up in that place.”

    Josette looked at the girl who has collapsed.

    The face was what she saw in the mirror yesterday.

    After Julio brought her outside, Josette followed him into a monastery and obeyed his instructions to take off her necklace.

    After that......she felt as if her face was released from some spell, her hair was also glowing. After seeing herself in the mirror, Josette was shocked to see that her face was not the same as before.

    A spell was placed on you to change your face and hair—that was what Julio said to her.

    The face in the mirror yesterday and the face of the sleeping girls were from the same mould, impossible to differentiate.

    “This is how I look like.” However, reality had a severe lack of realism, the iridescent ice blue hair colour made even her uncomfortable.

    Also, where was she?

    She rode Julio's wind dragon to this place......it was a building encased in moonlight, unimaginably huge, majestic and beautiful.

    For Josette who has only known Saint Margarita's Convent, this was like dreamland.

    As for the girl who lived here, who had the exact same face as her, who wasshe......

    “I was imprisoned?”

    Julio nodded.

    “You're a royalty of the Gallian empire......or more correctly, you are the daughter of the deceased Des Orleans Charlotte. And she is...... your twin sister.”

    The Gallian empire?

    Royalty?

    Twin?

    Impossible things continued to tumble out of Julio's mouth. Josette suddenly remembered what the sisters said in the convent.

    “I am, an abandoned child of a noble......”

    “I cannot believe it. I am, some royalty of the Gallian Empire.”

    The land around Saint Margarita's Convent, belonged to this empire called Gallia. There, should be the place where someone called the king or nobles lived......the thing that was downright unbelievable was that she was born in the family that governed the entire empire.

    “My twin sister......”

    Josette took a glimpse at Tabitha's face. This was the first time she saw her own family......but there was no recollection in her heart.

    “Then, what do you want?”

    “Actually, it's not much anyway. You, from this day on, will be the ruler of the Gallian empire.”

    His words, like making up a joke, made Josette freeze. However, this was not a joking matter, as there was no hint of playfulness in Julio's eyes.

    “I am, a ruler? Impossible! Anyhow, if I'm king, what will happen to that girl? This should be my big sister......”

    “Of course, she will return to the convent and become Josette.”

    Hearing this made Josette understand.

    “You brought me out, for this?”

    Julio nodded firmly.

    Josette's heart was swept by a wave of sadness. Even though she was not to become her real self, but if she was able to stay at Julio's side......did Julio have the same thought as her?

    Alas, reality was not so, he just wanted to use her......

    Josette did not express her feelings.

    She suddenly understood Vanessa's feelings.

    “Even though I'm happy, but it was built on lies.”

    Even though it looked so radiant and beautiful, but it was really fading continuously.

    Josette pressed her lips together firmly.

    If......I escaped from here, I will be the same as Vanessa.

    “The feelings I had before were true. That, I will never back down from. Never.”

    She has already decided, to believe him. No matter what happened......no matter what kind of reality.

    “What should I do now?”Her eyes became as determined as ever, Josette asked.

    “Nothing. Just stand there and listen to what I say. I'll tell you what to do or say, just follow what I say.

    “And all that, for Onee-san?”

    “Not only for me, but also for you......”

    Hearing Julio say that, Josette shook her head.

    “No, never mind what happens to me. As long as it's for Onee-san, then that's enough.”

    Julio's ever present smile collapsed.

    “Ah, if it's for me, then follow what I say.”

    “No problem, Onee-san. Let's make a promise to each other. From now on, tell me everything, every thought, the truth behind everything. From now on, never hurt me, or betray me. As long as you do that, I'll listen to what Onee-san says.

    “Alright then, that's a promise.” Julio nodded.

    “And one more thing.”

    “What?”

    “Kiss me.”

    Staring straight at Julio, Josette spoke her wish. Julio tipped Josette's chin and placed his lips on Josette's. Just as their lips met, Josette closed her eyes.

    After their lips parted, Julio looked into Josette's eyes and said, “Be my woman.”

    His sincerity was impossible to determine from his voice. It was not the words he usually used, but the meaning behind those words, for Josette, is the best.

    Feeling satisfied, Josette said, “That was my plan all along.”

    The next day......

    While Madam Orleans was eating her breakfast, Barberini said, “Speaking law while eating is quite uncouth, your majesty the queen dowager.”(T/L:「在吃饭中说法可是非常失礼的。太后陛下。」)

    “What happened?”

    Madam Orleans' tone hid an icy demeanour. This Barberini from Romania was not exactly someone she liked.

    During that time, only Percerin was in the dining room, Barberini's gaze made Madam Orleans extremely uncomfortable, so she urged, “Percerin, why don't you go check on the flowers in the backyard. Hopefully they have not wilt under the summer heat.”

    After Percerin left the room, Barberini said something shocking.

    “I'm sorry, your majesty, but I'm here today to pardon your majesty.”

    “Pardon? What were you thinking from this morning? What sins did I commit? I, who is living here so quietly, everyday?”

    “No matter the person, they will commit a sin that they don't want anybody else to know. Even the Gallian empress dowager. Or more accurately, you've forgotten your sin.”

    “You're saying that you're sure that I've committed a sin?”

    “Yes, and if it were possible, I do hope that you can remember.”

    “Oh yeah, such is the power of Romanian Cardinals, you see through everything. That was three days ago, the flowers that I planted wilted. How do you put it, in an enclosed place like this, I've completely forgotten about the change in the seasons, and did not notice about the flowers assaulted by the heat. That is truly a sin.”

    “That is the lives of flowers, but I'm talking about a larger sin.”

    “Oh yeah, it seems that it's not only the flowers that was sickened by the heat, it seems that you are also affected by it.”

    “Your majesty, I'm not joking, this is a serious matter.”

    “I'm going to call the guards.”

    Hearing her angry words, Barberini shook his head.

    “I apologise for just now, one can't help if she doesn't remember at all. After all, the sin that your majesty has committed, is something long ago......or more accurately, it was something that happened during the birth of Queen Charlotte her majesty.”

    Barberini's words made Madam Orleans' face go green.

    “What are you talking about?”

    “Let me sketch it out then. Year 6227, during the month of Teru, the week of Femdar, the day of Eo (T/L: 特鲁之月,斐姆达卢之周,厄奥之日), the room of Duke Orleans was filled with such brilliance, Charlotte, the Duke of Orleans was waiting for a birth of a child.”

    “Er, I remember, that was the day when my daughter was born.”

    Feeling something rumble in her heart, Madam Orleans' voice started to shake.

    “When Duke Orleans heard the cry of the baby, it was nine o'clock in the morning...”

    “It was eight o'clock, five minutes past.”

    Madam Orleans' voice shaking was very obvious.

    “Is that so. However, during that time, there was not only one baby who cried. After a few minutes, another cry was heard.”

    Madam Orleans held her face in her hands in anguish, shaking her head vigorously.

    “I know the meaning of the Gallian family crest. Two wands intersecting each other, holding a crown, it acts as a warning and to comfort for the twin brothers who perished after their fight for the crown......And from that day on, twins are taboo among the Gallian royalty. However, how does one factor in the love of kinship? A taboo among royalty, but sisters of the same blood, sisters who look exactly alike, casting one into hell and the other into heaven, how does this relate to love?”

    Madam Orleans barely managed to squeeze out a question.

    “......Who are you?”

    “Your majesty, everybody then, stubbornly held this secret from the world. However, humans will never bring their sins to the grave. Last year, I heard someone's confessing before her death, and pardoned her. That person, is the midwife who assisted in your majesty's delivery.”

    “You, have just lost all credibility as a cleric.”

    “The doctrine, exist for God. If what one did is for God, then that would not be a sin.”

    “So that's it. You're here to pardon me for this. Since you've known everything, then you should have understood. It's true that that day, we have given birth to two lives. But during that time, we only had two choices, one of which is to end her life, and the other is to send her to some unknown place for someone else to raise her. We had no other choice! That was our responsibility as royalty!”

    Madam Orleans started to sob.


    “God has already forgiven you. I'm not here to ask you about your sins. Don't you want to make up for the abandoned child?”

    “......Er?”

    The next second......A girl appeared in front of Madam Orleans, with the same hairstyle as Tabitha, and even the same design of glasses.

    However, just one glimpse made Madam Orleans understand her identity.

    “Oh......How can this be......Can this be......such things......”

    She shakily picked herself up, and hugged the dazed young girl.

    “......Mother?”

    “I hope that you can forgive......forgive mother......no power......your mother who had no power to save you......”

    Tears of regret flowed uncontrollably down her face. An unexpected meeting, another Charlotte......she didn't even gave her a name.

    Josette, dazed, was touched by her mother's affection, and tears also unconsciously ran down her face. Her mother, who she never knew of, who she met since she was sensible, but unknowingly, Josette managed to understand the feelings of her mother.

    Hugging her daughter, Madam Orleans' tears went on a rampage.

    “You've finally come back. Can you forgive your mother?”

    “What is there to forgive, for I've never resented anything. I only knew the truth yesterday.”

    Hearing Josette's words, Madam Orleans nodded.

    “Now, the heck with royalty and taboos, from now on, your sister, cousin, me, we'll continue to live as a family.”


    Madam Orleans' voice was shaking as her heart throbbed.

    “Prime Minister, thank you very much. Can you call her majesty down, the three of us will have breakfast together.”

    Then, Barberini's expression was as if he heard something strange.

    “Prime Minister?”

    “Your majesty, I can't do that.”

    “You can't be joking,” said Madam Orleans. However, Barberini's face was devoid of any hint of jest.


    “I'm not joking. Isn't this her majesty herself? I don't see any difference.”

    Madam Orleans did not answer, understanding between the lines. Charlotte, and another Charlotte. Even though their birth was seperated by a few seconds, but their fates have gone on completely different paths.

    “Don't you dare think the royal taboo is anything simple! If this things gets blown, how many nobles of this country will revolt? Not only the royalty, even among those nobles who are loyal to royalty, there were never just one or two children who died because of this taboo!”

    Her voice agitated, Madam Orleans looked at her daughter. Josette turned her head away.

    “Is that so! I've never thought about this. However, someone I trust told me that I could only be happy through this way. Isn't it impossible for me to live with big sister?”

    Josette looked at her mother.

    “However, if mother insists, I'll go back to the convent.”

    This was, Josette's real wish......

    However, Madam Orleans was unable to ask her to go back to the convent. Something like that day, how could she go through it again? A girl, who has lived her life in an unknown convent by herself, with no one to take care of her, how could she ask such a thing from her?

    Seeing Madam Orleans who was kneeling in anguish on the bed, Barberini moved closer.

    “God has always taught men that all men are created equal. If you can't give your daughter the light, then give her both light and darkness, isn't it so?
  .center
    a(href="./index.html") 
      h4 Back to main page
  br