extends ./template.jade
block content
  h1.center Volume17 Chapter 7: Soeur Vanessa
  br
  :markdown
    Five days passed in the blink of an eye.

    Louise finally reached Gurabir after a three day journey from Sulpice. A quiet coast fishing village, Gurabir was complete with rustic charm. Sanbailey Monastery was built on a small hill just beside the port.

    Even though Father Marthis looked shocked to meet Jeanette and Louise, he changed his expression after reading the letter from Jack.

    "Wh-what the......No, but......"

    However, amidst all the troubles, Father Marthis still arranged everything necessary. After preparing the dragon cage, he started to preach to Louise, who was still at odds at her decision.

    All the women you're going to meet there also have their own unspeakable reasons to live there.

    Don't dig too deep.

    Also......

    Louise lowered her head and looked at the holy cross(T/L:圣具) on her neck. It was a normal looking cross that could be found anywhere but now......something incredible happened. Louise's face and hair colour started to shift.

    It seems that it is embedded with a powerful "Face Change" magic.

    "Never forget this......" Father Marthis' tone turned serious before telling her never to tell anyone her real name. Seems like the place she's going to live is a place filled with unspeakable secrets. Meh, if it wasn't so it wouldn't do any good to hide there, would it?

    Stepping into the dragon cage, Louise thanked Jeanette profusely. She had been in her debt from the start.

    "Good bye. Thank you so much."

    Even though she said that, Jeanette still shook her head.

    "Goodbye. Even though I've got a feeling we'll meet again."

    "Isn't it said that it's forbidden to go out again?" Louise asked.

    "Yeah, I know, but I've just got that feeling." Jeanette replied, her tone hovering between serious and joking.

    After going through so much, Louise really felt that Saint Margerita's was suited for her.

    "The sea breeze feels so good......" Louise sighed as she gazed at the silvery waves of the "outer sea". She had been here for two days already.

    "I can't believe there's actually such an amazing place in Halkegenia."

    "This is really the "Lone Island of the Mainland"(T/L:大陆的孤岛).

    The church, which stood erected on the steep cliff of the peninsula, is completely isolated from the mainland save for a narrow spit of sharp rocks. The treacherous sea cliff forced ships to stay away. If somebody were to come here, they would have to fly here like her. In other words, nobody can come here......

    This is really a suitable place for hiding. The winding blowing into her pores, the hair that tickled her face was silky black. Even though she had seen this in the mirror, her deep amber eyes changed to black, her nose the same as all the others.

    This was all thanks to the magically enhanced cross. Even her own family couldn't recognize her as Louise now.

    It was as if she completely changed her person. She felt that she had gained enlightenment. Until she has completely forgotten how she looked like......only then she could forget about the deep pain in her heart.

    "Soeur Vanessa."(T/L:苏尔·瓦妮莎)

    Louise turned to the call. She had continued to use the fake name given to her by Jeanette. Here, Louise is called "Sister Vanessa". Apart from that, no other identification is required.

    "Yes." Saying that, Louise turned seeing the abbess looking intently at her. She was a kind woman of near forty years of age. Spying around, after confirming that they were alone, the abbess moved closer to Louise and said softly, "Then, please allow me to remind you again......since you've come here, please forget everything. I won't ask you how you know of this place...... so don't go nosing around for the past of the other sisters."

    "Of course. I'm here to forget." Louise said.

    When Louise arrived, the abbess did not ask about her past. In other words, she didn't want to know anything extra.

    "Also, about the cross on your neck......according to the rules here, you must never take it off. I'm sure you understand why. However, the girls who had been staying here since birth know nothing about the secret of the cross. Thus, the secret about the magic on the cross must never reach anyone else's ears."

    Louise nodded.

    "Very well. Then I have nothing else to say. Let us serve the Founder here quietly. Until our bodies turn to dust......"

    Leaving her words like that, the abbess left. Louise surveyed the place she was going to live in from today, Saint Margarita's Monastery. The delicate monastery and the dormitories built on the narrow peninsula. In between the wavy outline of the rocks, there was a reservoir and a few farms.

    These were packed into a land about the size of the academy. There were about thirty women living here. Every week, a relief ship would descend from the skies and deliver daily supplies and foodstuff......

    "Living in holy prayers every day."

    Twelve days before, she was still living leisurely in Des Onieres, but today she was looking out to the sea in the church at the end of the world.

    Fate is really such a strange thing......

    Just as she was walking while thinking deeply......

    "Miss Vanessa! Miss Vanessa!"

    Three young sisters run to her from in front. Louise was surrounded by the three girls in an instant, while they started to make a ruckus.

    "Where did Miss Vanessa come from?"

    "Hey, that's my line!"

    "What were you doing before this?"

    The three completely ignored everything that the abbess just said to her. While Louise was toiling with a hurricane of her own in her head, the young sisters continued their barrage of questions.

    "Hey!"

    A sister angrily yelled from behind.

    "Miss Vanessa!"

    A girl with long silver hair walked straight to her. The girl, called Josette, placed her hands on her waist, her face serious.

    "You guys really......Didn't the abbess always tell us 'not to be interested in earthly things'?"

    Just after she finished, a secretive smile surfaced on the faces of the girls.

    "Ala. You don't seem to have the reason to say such things to Miss Vanessa. You're the one who's so interested in earthly things."

    "What are you talking about. What do you mean, huh?"

    "Oh, nothing. Because.....na......"

    The girls ran away bickering under Josette's fierce glare.

    Facing Louise, who was at a lost of words, Josette hastily apologized.

    "Sorry, they aren't bad children. It's just that, well, you know, living in a place like this for so long......makes one so bored."

    "Yeah."

    Louise accepted the apology. She slowly realized that there were two kinds of women in the monastery. Women who, like her, came here to forget about everything......

    The middle-aged women were like that. They created an untouchable aura around them, only praying everyday.

    On the other hand was the younger sisters. Maybe......they came here since young. Being unable to expose themselves publicly, bastard children of nobles......it should be like so. Now that she thought of it, she heard cries of babies in the other room when she had her breakfast.

    They don't even know why they lived here since they were young. Thus, they were as lively like the young girls that she has just met.

    Just as Louise was once again immersed into her thoughts, Josette stretched out her hand. "I'm Josette. I'm in your care."

    "......I'm called Va-vanessa. I'm also in your care, Sister Josette.

    "Just call me Josette. This way no one has to bother with the troublesome formalities." Josette smiled.

    In the next few days, for unknown reasons, Josette followed Louise around like a puppy dog.

    In the monastery, every day, during morning and evening when they took their meals at the fixed time, Josette always sat beside Louise like she was up to something.

    Not only that.

    Josette also became the caretaker of Louise, who had just arrived. Their beds were even linked together.

    Even Louise began to feel irritated. Thinking that she could finally get some peace of mind here, why would that girl be so clingy?

    On that night of becoming Louise's roommate, Josette chatted with Louise about nothing and everything in particular.

    "Na, Vanessa. I didn't snoop around your past, right? Because that's the rules! But, if it was just about something about the 'outside', there shouldn't be a problem, right?"

    "......Outside?"

    "Yeah. Na, what do the young girls outside wear?"

    "Ask the others about this kind of stuff."

    Louise's cold answer did not crush Josette's enthusiasm.

    "Then, have you ever dated a boy? You wouldn't mind telling me these things, right?

    A familiar's shadow surfaced in Louise's mind. She came here just to forget him! Louise, who unknowingly started to get angry, began to speak in a sharp tone, "......mind what you say! I'm very troubled!"

    "What? You don't have to be so angry about that." Saying that, Josette started to slip into her bed.

    Next...... every time she reached her "sanctuary", as she started to feel comforted......

    Her vision was filled with Saito.

    Even though she abandoned everything and come to this hidden place......

    If she lived here, she'll never meet Saito.

    Thinking back, she has always slept with Saito. If she didn't do so, she couldn't sleep at all. Even though she could have used wine to bring her into dreamland at Sulpice, there's nothing of sorts here. If she had thought of Saito when she was awake......her chest felt as pain as if someone pierced her with sword.

    Being unable to link her heart with her familiar......she never thought that it would be so excruciating. She had always thought that even if he strayed a little sometimes, looking at other girls, the one that he really kept in his heart was her.

    However......looking at Saito's expression, she didn't think so anymore.

    "The girl that Saito likes......isn't me, but the princess. A girl called Henrietta de Tristian......"

    "The most amazing woman in the whole country. A queen above all nobles, the powerful woman......"

    Compared to her, she was nothing. Thinking like this made her aware of how small her existence was.

    Little Louise. Louise the Zero. A girl with a thin body and bad temper......

    "......wu. Er......wuwu" After she noticed that, Louise leaked out a sob. She hid her crying sounds with the blanket. She can't let the girls she was going to live with from today see her cry like this.

    However, Josette who had been sleeping beside her seemed to have heard it. She got up and crawled into Louise's blanket sneakily.

    "What happened?"

    "N-nothing......so......wu"

    "Sorry, did I say anything I shouldn't have?"

    Her caring voice made Louise's emotions surge.

    "R-really......it's nothing......wu"

    Just then, Josette silently hugged Louise's head.

    "Never mind. Just cry it all out."

    "I don't want to......"

    "Why?"

    "I-it'll be embarrassing......wuwu......it'll make me look like a coward. Wuwu."

    "There's nothing bad about being a coward anyway. I'm also one."

    Josette just kept caressing Louise's head.

    The next morning.......Louise opened her red-rimmed eyes and got up from the bed unwillingly. The sound of Josette's soft breathing could be heard beside her.

    Seeing her like that, she still had the face of a child. However, her face was also changed by the cross on her neck, right......

    "This child......should've been sent here since birth."

    That's why she was so curious about the outside world.

    Except for the daily activities here, she knew nothing else. Maybe she never even met girls of her age. Louise stared at her. Louise once thought that she was the unluckiest girl in the entire world.

    However, Josette and the other girls, who have been living here since birth, didn't even know about their misfortune. She was comforted by such a child.

    She then noticed how willful, unthoughtful of her to cry yesterday.

    What's so bad about talking about the outside world?

    Josette slowly got up.

    "Fuaaah......Good morning. Sorry, I fell asleep on your bed."

    Louise shook her head.

    "Never mind. About yesterday, sorry about that. If you're still willing, I can tell you something about the outside world. I'm bored anyway."

    Hearing this, Josette's eyes started to glow.

    "Really?"

    Louise nodded hard.

    Life in Saint Margarita's Monastery is bound by a strict timetable. After getting up in the morning, the sisters have to pray in the hall. They had their breakfast after daily cleaning. Farming work and other miscellaneous things would continue until three in the afternoon.

    Then it was a period of leisure until the evening, when they'd have their dinner.

    Following a prayer after dinner, they will go to sleep. It could be said their lives start at dawn and end at dusk. This simple lifestyle was inconceivable to Louise, who had been spoilt by a rich noble lifestyle from birth.

    Thus, Louise used her sparse leisure time to tell stories about the outside world to Josette and the girls. Every sister's eyes was sparkling radiantly, it was as if Louise was a heroine from ancient myths.

    As usual, the girls gathered on Louise's bed, enchanted by Louise's stories. Four girls wrapped in blankets chatted surreptitiously. They'd have to do that to prevent their excited voices from leaking out.

  .center
    img(src="img/ZnT17-133.jpg")

  :markdown
    There wasn't even a candle around. It was pitch black.

    "Yup. We 'll go out during days of rest."

    "Go out?"

    "Yeah. Going around in horse-drawn carriages, to faraway places. It's quite fun."

    "Nana, what's a horse?"

    Josette, who took lead among the girls didn't even know what was a horse. Come to think of it, there wasn't a horse anywhere in the small monastery.

    "How do I put it......an animal for riding?"

    "Bigger than a dragon?"

    "Of course the dragon's bigger."

    "I know what a dog is! I saw one on a ship once."

    "A horse, can it......fly?"

    "There's some animals that're similar to the dog and can fly, like the Pegasus' and the griffon......"

    "What's that! What kind of animal is that?"

    Her daily life, food, the streets......things like these were the things that made them excited the most. However, Louise noticed something strange while they were chatting.

    Even though they were a bunch of girls who don't know what is a horse, they were unimaginably well aware of the fashion trend between city girls......like shops that sell fabrics and clothes.

    Even though they don't even know anything about the street formations in the capital of Gallia, Lutèce, they knew the extreme details of every corner of the streets. This made Louise feel very amazed.

    "You do know a whole lot about it. The hats with a wavy rim is really quite popular."

    After being praised like that, a girl started to get conceited and said, "The High Priest who comes here sometimes also tells us something about the fashion trends in the outside streets."

    There also seem to be visitors in a secretive monastery like this. Thus, for them, except for something like hearing about the outside world, there shouldn't be other forms of entertainment.

    "But the High Priest seems to tell Josette more things, you know!" After a girl said so, Josette was so embarrassed that her neck even turned red too.

    "What are you all talking about! I hope that you won't say such strange things!" (T/L:exceptionally polite girl, this one.)

    "Ah? Isn't it so?" The girls sneered.

    "Look, Miss Josette turned completely red! As red as an apple!"

    "Please get a hold of yourselves! You're really rude!" Josette protested loudly, her face bright red. It seemed that Josette had some connection with the High Priest. Louise started to feel a little jealous of Josette.

    "So that's why you want to know more about the outside world!"

    "No, that's not it!" Josette firmly denied. Louise unconsciously overlapped her shadow with hers. Aah, she has also been teased once, and had once denied just as firmly too.

    Sweet memories and an excruciating pain swirling around her heart, Louise sighed. The other girls didn't notice the change in Louise's expression and continued asking their questions.

    "Then, Miss Vanessa, have you ever kissed before?"

    Because of this casual question, Louise's heart broke cleanly into half. Memories surged into her mind like a tsunami in a sudden, straining her already weak heart.

    Louise rolled her eyes and fell. No matter how Josette shook her, she didn't wake up. It seemed that she had fainted.

    "......damn. Is a kiss between lovers something that intense?"

    Hearing this, Louise revived with a "ha!".

    "Are you okay? Vanessa."

    "I-it's alright." Louise mumbled as she shook her head. "Cough cough." Dry coughs were heard from the other beds. It seems that they were too noisy.

    The girls silently left Louise's bed and returned to their own.

    Silence returned......Louise closed her eyes.

    "Have I kissed before?"

    The question just now resurfaced in her mind.

    She did, and did so many times.

    Thinking so, she noticed that Saito and her had met each other because of a kiss, and left each other because of a kiss. The happiest things in her life, and the saddest things in her life were connected to memories of kisses.

    The two kinds of kiss mixed around. Louise didn't know if she started to feel sad, depressed or tired. Louise traced the outline of her lips slowly with her fingers......countless memories of the past resurfaced.

    "Will I meet Saito in a dream again today?" Louise spaced out, thinking about this. She hugged her knees and curled into a ball under blanket.

    After that happened, Louise always met Saito in her dreams every night.

    She came to this lonely island after clearly making the resolution to leave him......Didn't this meant that all of that meant nothing? Louise started to become upset. She wanted to forget everything.....but she hadn't been able to do so.

    The Saito in her dreams, had always hugged Louise so very gently. Muttering sweet nothings, oaths of love in her ear......but once she started to focus on Saito, he would disappear; while the her in the dreams would attempt to find Saito aimlessly. Sometimes she would search in the academy, sometimes in Tristannia, once she even went to her old home in La Valliere to find him. However, a common thing that happened no matter where she tried to find him.....

    No matter where, she couldn't find Saito.

    Thus, a dark atmosphere started to surround Louise. Even the curious girls in the beginning became less inclined to get close to her.

    However, even so, only Josette still chatted with Lousie like normal.

    "Ah, Miss Vanessa, I have something else to ask......" One day, after their relationship became closer, Josette asked Louise embarrassedly.

    "What?"

    "About my hair......then, what kind of hairstyle would suit me the most?"

    "Won't just any hairstyle do?"

    Josette was a little angry at Louise's coldness.

    "What's so bad about asking you about this?"

    "......so this is love." Hearing Louise say this tiredly, Josette shook her exaggeratedly.

    "No! Really!"

    "I saw through it a long time ago. Hey, maybe it's the high priest who comes here sometimes? However I still have to advise you to give up, this thing about love......"

    "Why?"

    "Because it's fated, that you'll get betrayed one day."

    Hearing Louise say this, Josette raised her hands, shocked.

    "Seriously, why are all of you 'saints' the same?"

    Suddenly being called as a saint, Louise turned nervous. She was once called "Aquileia's Saint" herself. Why would Josette know about this? Louise became nervous.

    "S-saint......? What do you mean?"

    "Aah, that, that's a name for people like you who entered this place midway. Always showing a dark face, you all seem like you're carrying the burden of the entire world on your shoulders. I really do hope that you can be more considerate of the other people here."

    It seemed that the name "saint" is more of a sarcastic metaphor. Louise only got angry to this.

    "In the outside world, there're so many things that you don't even know. No matter if it's happy things, or sad things. There are even things that will hurt you so severely that you want to die!" Louise could not control herself.

    "Yeah. Yeah, maybe it is so. Like what you say, I know nothing at all. Really, except for the life here, I don't know anything else." Josette replied with a expressionless face.

    "......"

    "However, this doesn't mean that we don't understand what's happiness or sadness. Maybe my world is small, but even in this small world, many things happen......of course, it isn't love. We cannot fall in love, nor are we in love. Simply because, we're people of cloth. Such things will never be forgiven. But......"

    Saying this, Josette place her hands on her chest.

    "That person, praised my hair. This colour......because it's almost white, I once hated it so much, but he actually said this hair colour is beautiful." Josette smiled sweetly.

    "Here, even if there is no pretty clothes......but at least when he comes, I still want to tie my hair up into a more suitable hairstyle. If I just did that, even the Founder will just leave me aside, don't you think so?

    Hearing this, Louise felt embarrassed. It was because, she was jealous.

    "I did once." Louise answered, her voice trembling.

    "Eh?"

    "Kissing."

    Josette laughed.

    "That's like a dream to me, something like kissing a lover."

    Louise slightly tilted Josette's head scarf.

    "Even though I don't really care about dressing up and the like, but I think your hair is cute. Nn, how about you separate them from the middle?"

    Josette followed Louise advice and separated her hair from the middle with her finger.

    "How is it?"

    Louise stared for a while......

    "It's not so good. The original style was better."

    Josette laughed. Louise, influenced, also began to laugh.

    That night, Louise and Josette secretly crept out from the dorms. Actually they didn't have anything important to discuss, but just found themselves staring at each other as they could not fall asleep.

    As they walked side by side, Louise noticed that Josette was shorter than her by ten Saitongs.(T/L: unit of length, I think, original:赛桐)

    Her side profile was also quite child-like......

    Walking out of the dorms, two girls walked to the edge of the cliff. The twin moons hovered above the sea, radiating their brilliance. The moonlight scattered onto the ocean surface, turning into thousands of silver scales.

    "It's so annoying."

    "What's so annoying?"

    "Things that are so foolishly beautiful."

    "Why do you think it's annoying?"

    "Everytime I see something beautiful, memories often pop out of nowhere.."

    "Are they sad memories?"

    "Nn." Louise nodded.

    "Because happy memories often happen in beautiful places. Like the scenery that we once gazed at from afar, like the bright moon that we once admired together......"

    "With a lover?"

    "Nn."

    "Fell out?"

    "Maybe."

    Josette shook her head.

    "If you're sad because you fell out of love, I can understand. But, such good memories, why would you get upset over it? If so, those memories aren't memories at all."

    "That's because all these memories have become lies. Just because something bad happened, all these precious memories, turned into lies." Gazing at the sea, Louise said. Crystal tears rolled down her cheeks.

    "And that's why you came here?"

    "Yes."

    Hearing that, Josette caressed Louise's cheeks with her hands before staring straight into Louise's eyes.

    "W-what are you doing?"

    "Me, I don't think there's things like that. "Everything becoming lies" and such. Even though I don't really understand, but I think the things that make you feel that 'it's beautiful' are still very beautiful."

    "What do you mean?"

    "Happy things. Exciting things. These are surely good things. I think you can't see beyond the lies and that's why you lost your confidence."

    Louise bit her lip.

    "What makes you so sure?"

    "Because I'm like that. I sometimes think that that guy doesn't like me at all. He's comes to visit me just out of pity. Even though he once said that "I came to see you." ...... I still doubt him sometimes. During those times, I'll get all depressed. Every time I see my silver hair in the mirror......seeing my small body, hearing those bad stuff that my friends say, at those times, I can't stop myself from doubting myself."

    Josette stopped for a while. She smiled softly.

    "But, even though that guy is just pitying me......I won't give up. Even though it's like that, even if him praising my hair, saying that "I came to see you" was a lie......my feelings that time, were true. With this, I, can continue to live. Unlike you, who chose to escape."

    Louise felt as if Josette's words gave her hard head a good hammering.

    Seeing as Louise stayed silent, Josette's cheek started to redden with embarrassment.

    "Sorry, I was speaking so willfully."

    "Wu wu......" Louise shook her head. "What you said was right. I just chose to escape. Yes, what you said was right. Even though I had determined that I'd believe him no matter what he does......but I didn't even give him a chance to explain."

    If she heard the explanation, maybe she would be even more shocked, or maybe she would be hurt more deeply. Even so......she didn't even face the truth and simply ran away.

    Louise sneaked into her blanket after returning to the dorm with Josette, but she still couldn't sleep. She heard Josette's steady breathing beside her......why did her emotions become that way?......Louise got up again, and took out the Founder's Prayer Book from the private drawer.

    She also took out the Water Ruby. Her wand and the Water Ruby. In the end, she still couldn't let go of these two things.

    That day, they seemed to have become her shadows, staring at them made her feel as if something was going to happen. Louise opened the Founder's Prayer Book under the blanket.

    "......"

    Why would it be now, Louise started to ponder.

    The pages started to glow slightly, words formed on what was just plain white paper seconds before.

    [If the four successors and their familiars have a problem, the successors of "Void" cannot give up. The power of "Void" can only awaken in the blood of the successors. The successors of "Void" , must find the other successors. And then, take back the "Holy land" from the heretics.]

    Words will form in times of need, Derflinger once said that. Now when there is the shortage of one Void user, shouldn't the Founder's Prayer Book tell something to the successors of the Void.

    "Then......even if the successors of the Void dies, there will be others to inherit this power?"

    Louise mumbled as she bit her lip.

    If so......what we hope would be lost. If this thing were to be known by Romalia......

    "The Holy Crusade will continue."

    Louise grasped her fists hard under the blanket.

    She must tell this to Saito and the Princess......they felt safe because they had crushed Romalia's wild ambitions.

    However, how is she going to tell them?

    She was on this lone island away from the mainland......there wasn't a way to leave this place.

    "However,"......Louise nodded in her heart.

    She can't determine if Romalia knows about this. If she just kept it a secret from everybody, then she wouldn't be afraid that this would be leaked out. As long as she just slept forever in this jail-like convent with the Founder's prayer book, she may be able to keep this secret to herself.

    "Nn." Louise nodded in her heart again.

    But that was just an excuse.

    I'm just......thinking that "this doesn't matter to me." I just don't want to see Saito and the princess, just don't want to get even more hurt......

    "I don't want to know."

    Louise nodded. Why did she get chosen? If she wasn't the successor of the Void, she wouldn't have these troubles. Something like the future of Halkegenia, is a terribly heavy burden on her shoulders.

    Just then......on the next page, words formed.

    Ancient runes.

    This, is the new Void spell.

    "......"

    What did God and the Founder, want her to use the "Void" for?

    The runes that have emerged, seemed to be scolding her. "You there, such great power has been given to you, but you don't want to do anything with it and wither here forever?!"

    She seemed to have been scolded by the Founder's prayer book.

    ......ah, this. So it's like this.

    So she actually escaped from her own decision to "believe in Saito no matter happens", and also from the destiny that has been bestowed to her.

    Louise felt herself being swallowed by a great feeling of restlessness.
  .center
    a(href="./index.html") 
      h4 Back to main page
  br